[2020-02-03 12:38] denkensk opened #1 "Add co-scheduling plugin based on scheduler framework"
### What would you like to be added:
Add co-scheduling plugin based on scheduler framework

### Why is this needed:
Kubernetes has become a popular solution for orchestrating containerized workloads. Due to limitation of Kubernetes scheduler, some offline workloads (ML/DL) are managed in a different system. To improve cluster utilization and operation efficiency, we'd like to treat Kubneretes as a

[2020-04-03 19:53] Huang-Wei opened #5 "Define release and golang vendor strategy"
Draft a document to clearly define the release and code endorsing strategy (with upstream k8s codebase).

Ref: https://github.com/kubernetes-sigs/scheduler-plugins/pull/3#pullrequestreview-387496431

[2020-05-04 00:24] Huang-Wei commented on #1
/remove-lifecycle stale

[2020-05-07 03:19] denkensk opened #8 "Improve co-scheduling plugins base on framework"
After the [coscheduling plugin](https://github.com/kubernetes-sigs/scheduler-plugins/pull/4) is merged . The next phase is to improve the performance and configurability of coscheduling. This issue will track all TODOs in coscheduling or schedule framework.

#### Optimize performance
- [ ] 1. expose pods status(assumed or actually scheduled) in the SharedLister of Framework
- [ ] 2. get actually s

[2020-05-07 03:20] denkensk commented on #1
Close this issue because the pr is merged

[2020-05-07 03:20] #1 closed

[2020-05-07 13:19] ahg-g commented on #8
Thanks Alex, for each item, it would be great to link to the part of your plugin's code that would benefit from it, just to get more context.

[2020-05-07 15:15] alculquicondor commented on #8
Also link to k/k bugs if they already exist

I see 1,2&3 in first group as the same. Are you sure you need the granularity of 1&2?

[2020-05-09 07:15] angao commented on #8
/cc

[2020-05-12 19:16] mateuszlitwin commented on #8
Few ideas that you might find useful:

1. `PodGroupInfos` could potentially be cleaned with finalizers tied to the `PodInfo`, though someone might break it in the future accidentally.

2. I think plugin could reject waiting pods if one of the scheduled pods cannot find fitting nodes after multiple attempts (that is `PreScore` has no nodes candidates). This should help with ensuring we do not keep

[2020-05-12 19:52] alculquicondor commented on #8
I like 2.

Defining PodGroup in a RD was explicitly put out of the scope for now. I agree that it would be a good idea, though. But we should be looking at other definitions already in place for similar things. I assume kube-batch and kbatch have some.

[2020-05-13 10:09] denkensk commented on #8
thanks for your comments. @mateuszlitwin  I like it. Also I think if we can record the total attempts of pods in the same PodGroup, once it reaches some specified count. It will reject the total PodGroup.

I have a plan to support the PodGroup in the future to easier integration with Kubeflow/Spark-operator. And It will be convenient to mange the PodGroup and react to the change for min. But I thi

[2020-06-23 03:03] denkensk opened #9 "Add Capacity scheduling for ML/DL workloads based on scheduler framework"
### What would you like to be added:
Add Capacity scheduling for ML/DL workloads based on scheduler framework

### Why is this needed:
There is increasing demand to use Kubernetes to manage batch workloads (ML/DL). In those cases, one challenge is to improve cluster utilization while ensuring that each user has a reasonable amount of resources. The problem can be partially addressed by the Kuberne

[2020-06-24 03:09] wsxiaozhang commented on #9
Capacity scheduling is definitely important to run ML/DL and batching jobs in multiple users/tenants cluster. The overall cluster utilization is always required to be improved especially when compete for GPU.

[2020-06-25 06:57] Huang-Wei commented on #9
Thanks @denkensk for the continuous work on exploring the scheduler framework to resolve the real pain points! I've heard a lot of users having this requirement, such as https://github.com/kubernetes/kubernetes/issues/72278.

And incubating and iterating a plugin like this proposal (along with the previous co-scheduling one) is exactly the intention and the right way to empower users to extend Kub

[2020-06-26 00:33] yuanchen8911 opened #13 "Proposal: a generic QueueSort plugin"
The default priority_sort plugin sorts pods by priority and then timestamp. coscheduling's QueueSort plugin extends the default priority_sort plugin by taking into account PodGroup information to ensure pods from a same PodGroup are sorted together. The current repo also includes a simple QoS plugin that uses Pod QoS class to break a tie for pods with the same priority and timestamp.

As only one

[2020-06-26 15:09] yuanchen8911 opened #14 "Custom percentageOfNodesToScore in a PreFilter plugin"
The scheduler option _percentageOfNodeToScore_ controls how many nodes should be checked when scheduling a pod. It has an important impact on the scheduling performance.

To better balance the scheduling performance and quality to meet different scheduling needs of diverse workloads, an idea is to introduce a _PreFilter_ plugin that updates the default global value if a  custom threshold is specif

[2020-06-26 18:24] alculquicondor commented on #14
Given that it would affect other workloads, I don't think it's a good idea.

One approach could be to have the percentageOfNodesToScore to be part of a scheduling profile and then have pods use the profile that gives them better performance if they don't care much about scoring. But if the whole point is to have faster scheduling, there are better things to do:

- Have a faster scheduler (we have

[2020-06-26 19:12] Huang-Wei commented on #13
The idea looks generally good to me. Several questions/comments:

1. Based on the generic QueueSort plugin, are you going to re-use the other parts (non-queuesort) of the current coscheduling plugin? or have a different implementation for the co-scheduling parts?
1. Currently, the QueueSort logic in co-scheduling plugin is quite dependent on the minimum-designed PodGroup spec (not a CRD yet), so a

[2020-06-26 19:26] yuanchen8911 commented on #14
@alculquicondor Thanks for your comment.

1. The idea is to have a  per-pod custom parameter. It should not affect other pods' scheduling performance as it only changes the thresholds for a  pod to be scheduled.

A PreFilter plugin changes the parameter value for the pod to be scheduled before the Filter stage. When the scheduler (_pkg/scheduler/core/generic_scheduler.go_) calls the following func

[2020-06-26 19:33] yuanchen8911 commented on #14
Belowis a possible implementation for a dummy CustomParameter PreFilterPlugin.
[code]

[2020-06-26 19:49] yuanchen8911 commented on #13
Thanks a lot, Wei! Very appreciated it.  Please see my comments inline below.

We will reuse the current co-scheduling implementation/code by removing QueueSort plugin and PodInfoGroup related structures and functions. There will be a few other monitor changes.  So It will be a modified version of coscheduling.

As the first step, we will use the same PodGroup spec. but it can be extended with add

[2020-06-26 19:50] yuanchen8911 commented on #13
If it makes sense, we'll submit a PR soon.

[2020-06-26 20:07] Huang-Wei commented on #13
@yuanchen8911 Thanks. It makes sense to me.

/cc @denkensk

[2020-06-26 20:21] alculquicondor commented on #14
1. why not modify your global default?
1. Have you tested 1.18 and 1.19?

[2020-06-26 20:38] yuanchen8911 commented on #14
The motivation is to customize the threshold for different workloads running  in the same cluster. For example, a long running service that cares a lot about the  scheduling quality will use a high thresholds to achieve a better scheduling quality while a large batch job that is looking for a quick turnaround may set a =lower threshold for a quicker scheduling.

We use 1.18.

Again, the assumption

[2020-06-26 20:52] alculquicondor commented on #14
We run such big clusters as well, except that we only target 100 pods/s

You could consider using [multiple profiles](https://github.com/kubernetes/enhancements/issues/1451) and disabling some (or all) plugins in one of them. Then, your jobs use the optimized profile. And you can pair that with a percentage of nodes to score that makes sense for both types of workloads, such as 30%. Note that we u

[2020-06-26 23:00] yuanchen8911 commented on #14
Thanks,  per profile threshold will be certainly helpful, but the values will  be set statistically. A PreFilter plugin can support dynamic and adaptive threshold at single pod level. I agree we need to think more about the use cases and tradeoff.

[2020-06-27 00:10] Huang-Wei commented on #14
Atm `PercentageOfNodesToScore` is a [global parameter](https://github.com/kubernetes/kubernetes/blob/66ff1ae53659fea7885f954510676430cc318b68/staging/src/k8s.io/kube-scheduler/config/v1beta1/types.go#L75), I'm not a fan of changing it in PreFilter or other places.

Given that `PercentageOfNodesToScorec` is used in `numFeasibleNodesToFind()`, which is called in every scheduling cycle, so it makes m

[2020-06-27 00:18] Huang-Wei commented on #14
A bit surprising fact:`PercentageOfNodesToScore` has nothing to do with Scoring... I _thought_ it impacts both Filter and Score, but it does nothing in Score ([g.prioritizeNodes](https://github.com/kubernetes/kubernetes/blob/66ff1ae53659fea7885f954510676430cc318b68/pkg/scheduler/core/generic_scheduler.go#L645)).

[2020-06-27 09:15] riverzhang commented on #5
![20200627170015492](https://user-images.githubusercontent.com/24387537/85918762-18de8f00-b898-11ea-9be5-7cdbfad85719.png)
I want to know the specific version of kube-scheduler we are running, and hope it can be resolved here.
I read the following parameters added by kubernetes.
https://github.com/kubernetes/kubernetes/blob/master/hack/lib/golang.sh#L791
https://github.com/kubernetes/kubernetes/bl

[2020-06-27 14:12] yuanchen8911 commented on #14
It controls the number of feasible nodes to find by the filter stage and hence affects how many nodes will be scored and ranked in the score stage. It hence affects the scoring stage’s  performance, which can be the bottleneck.

[2020-06-27 14:13] yuanchen8911 commented on #14
Thanks, we will explore this option.

[2020-06-28 07:50] wsxiaozhang commented on #13
@yuanchen8911 @Huang-Wei  by adding "2.3 Compare the QoS classes of regular pods" in the "generic queuesort", do you mean the pod QoS class is also a generic condition when dequeue pods during scheduling?  I notice K8s doc of QoS mentioning "Kubernetes uses QoS classes to make decisions about scheduling and evicting Pods." (https://kubernetes.io/docs/tasks/configure-pod-container/quality-service-p

[2020-06-28 07:57] denkensk commented on #13
@yuanchen8911  Thanks

1. I am not sure if the generic `QueueSort plugin` can meet all sorting requirements in the future. If we had two `QueueSort` plugin, their comparison results for the same pods are different, how to merge them in a `QueueSort plugin`.

2.  +1 for make the PodGroup a standard CRD for coscheduling

/cc @Huang-Wei

[2020-06-28 18:58] yuanchen8911 commented on #13
Yes, it's like the simple QoS QueueSort plugin in the current repo, which uses the QoS class to determine which pod should be scheduled first if two pods have the same priority and timestamp.  The reference you provided refers to that the QoS class information is used for scheduling and evicting pods. For example, a guaranteed pod cannot be scheduled onto nodes for which the Kubelet reports a Disk

[2020-06-28 19:56] yuanchen8911 commented on #13
Thanks for the feedbacks  @denkensk  @Huang-Wei!

@denkensk I agree it may not meet all the requirements. We probably should not call it a generic QueueSort plugin. However, PodGroup is a useful notation and can have applications beyond coscheduling. Do you think it would be  useful to decouple coscheduling's QueueSort plugin from the current  implementation and make it more "generic" (at least th

[2020-06-29 23:58] Huang-Wei commented on #13
@wsxiaozhang not quite in scheduler. QoS is now more respected during pod eviction in kubelet.

@denkensk My idea is to firstly implement the common sorting requirements. For now the reqs are a) sort by Priority b) sort by timestamp c) sort by PodGroup d) sort by QoS class.

- on one hand, if one of them (e.g., PodGroup) can and must be implemented differently, as you said, result in unstable sort

[2020-06-30 00:14] Huang-Wei commented on #5
@riverzhang it's 1.18.0 for now, which is specified in

https://github.com/kubernetes-sigs/scheduler-plugins/blob/47e371acbf54443fba23c5b811be4d5cf97a6907/go.mod#L10

[2020-06-30 00:34] Huang-Wei opened #19 "Integration test needs to be improved"
The integration test, esp. the coscheduling test, is slow and easily cause flakes.

In my mac, it takes 550s to finish:

[code]

However, the CI env would time out after 10 mins. I would expect the test to finish within 2 mins.

/assign @denkensk

[2020-06-30 02:26] yuanchen8911 commented on #19
After reverting the QueueSort plugin struct name to "Sort", it passed the integration test.

[2020-06-30 02:26] yuanchen8911 commented on #19
After reverting the QueueSort plugin struct name to "Sort", it passed the integration test.

[2020-06-30 03:00] Huang-Wei commented on #19
I don’t think that’s related lol
Yuan Chen <notifications@github.com> wrote:
“After reverting the QueueSort plugin struct name to "Sort", it passed the integration test.”

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-06-30 10:21] yuanchen8911 opened #20 "coscheduling: check minAvailable of all pods in a PodGroup"
I think we should check minAvailable value of each pod in a PodGroup and make sure the values of the same PodGroup are the same. Also, minAvailable can be part of PodGroupInfo as the KEP does. WDYT? @Huang-Wei @denkensk

[2020-06-30 13:43] denkensk commented on #20
Thanks @yuanchen8911  It's make sense to me.
This's the weakness to define `PodGroup` by the label of Pod. We can only assume that minAvailable value of each pod in a PodGroup are same. I agree to check minAvailable value in `PreFilter`.  But how to deal with these pods with different value of the same PodGroup? Maybe we can reject it in `PreFilter` but it will reschedule later.

[2020-06-30 14:40] yuanchen8911 commented on #20
A simpler solution is to (1) set the number according to the first pod’s label value in getPodGroupInfo (2) ignore the other pods’ label values inPreFilter  (can check and report a warning if different in log). This should be consistent with the future CRD implementation. @denkensk

[2020-06-30 21:27] yuanchen8911 commented on #20
The changes required are more complex than what I thought earlier.

How about considering a regular pod as a PodGroup with a single pod (stored in the PodGroupInfo map). We hence will have a uniform way to compare and process both regular pods and pod groups. For a  regular pod, we can just use its pod name as the group name.

It will introduce additional overhead for scheduling regular pods (hope

[2020-07-01 05:59] yuanchen8911 commented on #20
I did a refactoring of the coscheduling code.  Please review the PR #21. Thanks.

[2020-07-01 17:48] yuanchen8911 commented on #19
Here's my experience with the recent PRs. It happened a few times that a same PR failed the integration first and then a  retest without any changes passed. Similarly, it passed the integration test first and another test with only typo fixes in  comments failed. There must be something wrong. @Huang-Wei  @denkensk

[2020-07-01 18:55] xujyan commented on #5
As we add more plugins and formalize the releases, I think we need a version that represents the code in this repo itself? e.g., `v0.0.1-kubernetes1.18.0`?

As the complexity of the codebase grows, the scheme `1.18.1+patch1` probably won't be sufficient to cover something like "this new release of coscheduling plugin is a major enhancement"

[2020-07-01 19:50] Huang-Wei commented on #5
@xujyan your point is fair. Another versioning idea is like this:

- use `major` and `minor` to represent the k8s version this repo is compatible with: i.e., `v1.18.<patch>` (we can discuss later, to start with v0.18 or v1.18). However, the `patch` number may not be strictly consistent with the upstream k8s patch version. Say `scheduler-plugin` version v1.18.0 may use upstream k8s version v1.18.3.

[2020-07-01 23:05] xujyan commented on #5
- Will the fact that the plugins version v1.18.3 not correspond to kubernetes v1.18.3 surprise people? Of course if there's precedence in other k8s projects it's probably more acceptable.
- If we use `patch` version to indicate features in this repo, then
  - the version can be large. e.g., would `v1.19.5000` be acceptable? (My intuition is that it's probably fine)
  - For the same plugins feature

[2020-07-02 00:08] Huang-Wei commented on #5
Probably. I don't see a good pattern in other projects except for those staging repos. I think descheduler also has this problem. Once it's well documented, it should be fine IMO.

That may work, although the implicit assumption needs to be documented as well - the last N digits as scheduler-plugin version.

Nope, I don't think they're related.

We just need a bundled version for all the plugins,

[2020-07-07 23:57] xujyan commented on #5
In that case when a plugin releases a new feature I'd have say "it's in 1.20.200, 1.19.150 and 1.18.133". With the patch version all different it's a bit. Compared to "it's in 1.20.200, 1.19.200 and 1.18.200", the former is clearer with no obvious drawback?

Yeah for sure. Agreed.

[2020-07-09 00:18] Huang-Wei commented on #5
@xujyan I'm still not a fan of managing patch version that way.

Per https://semver.org/#spec-item-7 and https://semver.org/#spec-item-8:

We should follow the semver semantics, which is also the convention of Kubernetes releases.

[2020-07-09 21:00] xujyan commented on #5
Cool the links are useful. yeah ok if we are sticking to strict semvar yeah then we have to live with it. I am fine with that.

I just thought our usage is "fake semvar", a portmanteau with MAJOR.MINOR representing scheduler version and PATCH representing "plugins version" so I can refer to some change as in "plugins version 200, scheduler version whatever".

But I am not adamant about it. Are you

[2020-07-09 21:18] Huang-Wei commented on #5
Yes, while complying with semver semantics, we have the right to definite the real-world meaning of it.

Yes, feedback is always appreciated. And we may do the first cut when k8s v1.19.0 is out (end of August).

[2020-07-16 18:31] Huang-Wei opened #25 "Sample plugins to exercise each extension point"
It's nice to come up with a series of sample plugins to exercise each extension point, and accompanied with a README guiding newcomers on how that's built.

Generally, the use-cases that the sample plugin tries to solve can be _hypothetical_, however, we do hope it's a or part of a problem in real-case world.

- [x] Sort - A QOS Sort plugin to sort the pods by their QOS level. #3
- [ ] PreFilter
-

[2020-07-16 18:31] Huang-Wei commented on #25
/help

[2020-07-20 23:49] yuanchen8911 commented on #14
Opened an issue: support per scheduling profile configuration to kube-scheduler https://github.com/kubernetes/kubernetes/issues/93270

[2020-07-22 06:16] #19 closed

[2020-08-06 04:32] yuchen-sun commented on #25
Hi @Huang-Wei  can I do this task?

[2020-08-06 06:45] denkensk commented on #25
@yuchen-sun Of course, you can comment here which plugin you are interested in and take it to do.

[2020-08-06 06:52] Huang-Wei commented on #25
@yuchen-sun Sure, which bullet you want to work on?

[2020-08-06 12:43] yuchen-sun commented on #25
@Huang-Wei @denkensk THX,may be PreFilter plugin

[2020-08-06 16:11] Huang-Wei commented on #25
Feel free to take it, and it would be nice if you can think of a use case for that.

[2020-08-11 10:38] denkensk commented on #8
/remove-lifecycle stale

[2020-08-25 06:49] denkensk commented on #20
Can we close this issue because this is finished in https://github.com/kubernetes-sigs/scheduler-plugins/pull/24 ？
@yuanchen8911

[2020-08-28 00:53] Wenshiqi222 opened #44 "How can I apply the plugins on my own kubernetes machine installed by Kubeadm"
Recently，I  plan to design my own kube-scheduler，considering that kubernetes-sigs has already designed the scheduler-plugins based on the Framework extention points，so i just wanna try the qos plugins given by the sigs. When applying the plugins，i havd another question：Since my kubernetes environment isn‘t applyed by “Make” the source code，but by the Kubeadm，all my components are running in contai

[2020-08-28 04:00] xq2005 commented on #44
Hi @Wenshiqi222 , some experience from me.
1. Build you plugin project and generate a new scheduler.
2. Build a new docker image with new scheduler.
3. Follow https://kubernetes.io/docs/tasks/extend-kubernetes/configure-multiple-schedulers/#define-a-kubernetes-deployment-for-the-scheduler to run new scheduler as a second scheduler
4. Test new scheduler
5. When new scheduler is stable, replace the

[2020-08-28 06:40] #9 closed

[2020-08-28 08:10] Wenshiqi222 commented on #44
Yes,i got it and did step by step, but when i try step 3 to run my own scheduler,i had a problem about the config path.Here is my
schedulerPod yaml file:

[code]

and here is my Dockerfile

[code]

since i should run my own scheduler with the command "--config=.....",so i need to wirte the args in the yaml file,and i copy the configfile i needed into the ConfigMap, whcih the  pod volume will be at

[2020-08-28 08:14] denkensk commented on #44
Hi You can execute `make local_image` to  build image. Use the new image in scheduler.yaml to try again. @Wenshiqi222

[2020-08-28 08:17] denkensk commented on #44
[code]
The path of config is `/scheduler/scheduler-config.yaml`.

[2020-08-28 08:20] yuchen-sun commented on #44
@denkensk Hi，in my cluster，coscheduling do not work。how to fix it？
I set the configuration and run the nginx example,but nginx pod group do not Pending when the  gpu resource does not meet the miniAvaible.
![image](https://user-images.githubusercontent.com/37729051/91538113-deea4180-e949-11ea-815d-7e1f1d62883b.png)

[2020-08-28 08:21] Wenshiqi222 commented on #44
Still got the same warnning 😄
`Error response from daemon: OCI runtime create failed: container_linux.go:348: starting container process caused "exec: \"--config=/scheduler/scheduler-config.yaml\": stat --config=/scheduler/scheduler-config.yaml: no such file or directory": unknown`

[2020-08-28 08:21] Wenshiqi222 commented on #44
hi，I am a new learner in kubernentes and docker ,what do u mean by "make local_image",is the probelm in the image?

[2020-08-28 08:24] yuchen-sun commented on #44
I think the path of config is `/scheduler/scheduler-config/<configmap.data.name>`
if you use --from-file flag when creating configmap, you can use `/scheduler/scheduler-config/<filename>`

[2020-08-28 08:28] denkensk commented on #44
@Wenshiqi222  You can change it like this and delete the args.
[code]

[2020-08-28 08:29] denkensk commented on #44
@yuchen-sun  Can you show me your scheduler-conf.yaml and nginx.yaml ?

[2020-08-28 08:34] yuchen-sun commented on #44
the same as  [readme](https://github.com/kubernetes-sigs/scheduler-plugins/tree/master/pkg/coscheduling)
By the way ，I add the plugin to Kubernetes and run  `make kube-scheduler` to build a  new scheduler.
Is there a problem with this approach？

[2020-08-28 08:35] denkensk commented on #44
Have your register the plugin in registry？

[2020-08-28 08:39] yuchen-sun commented on #44
Yes,I've changed the following (If not ,I will get an error that the plugin cannot be found)
[code]
Anything missing？

[2020-08-28 09:11] denkensk commented on #44
I think it’s enough. Do you find the info of Coscheduling in log?

[2020-08-28 09:13] yuchen-sun commented on #44
No.In the logs, there is no information about the PodGroup.

[2020-08-28 09:24] Wenshiqi222 commented on #44
Thanks ,it doesn't warn the path problem,but the scheduler container cannot run normally,which shows:
[code]
Where is the problem?  Is it possible that i didn't wirte the command "--kubeconfig?" to send permission messege to API Server? But i've already wite the kubeconfig"scheduler.conf" PATH in the sheduler-config.yaml :
[code]
i was wondering since the container volumeMount is the configMap, th

[2020-08-28 09:24] Wenshiqi222 commented on #44
i will try that ，thanks

[2020-08-28 09:32] denkensk commented on #44
@Wenshiqi222
It's better to find the log of the pod.
`Kubectl logs -f -n kube-system podname`
I guess the error is `can find the /etc/kubernetes/scheduler.conf`.

[2020-08-28 09:35] denkensk commented on #44
Can you try the image of this scheduler-plugins to have the control experiment? @yuchen-sun

[2020-08-28 12:00] xq2005 commented on #44
@Wenshiqi222
/etc/kubernetes/scheduler.conf (contains auth data ) is used for connecting to k8s api server.  You can use host path volume to mount your master's /etc/kubernetes/ into your scheduler's container.
[code]

[2020-08-28 13:55] yuchen-sun commented on #44
I've done it, and it still doesn't work. @denkensk
Is there anything wrong with my yaml？
[code]

[2020-08-29 03:21] Wenshiqi222 commented on #44
i did as you suggested，still got the PATH wanning，here is my schedulerPod.yaml:
[code]
and i didi copy the qos-scheduler-config.yaml file to the path:/etc/kubernetes/ ,and in the PATH there also has the scheduler.conf,but still got the error:
[code]
i was really confused

[2020-08-29 10:04] xq2005 commented on #44
Rollback your changing and use
kubectl logs <pod-name> to check the failed error.

[2020-08-30 02:48] Wenshiqi222 commented on #44
I found the problem, since my own schedulerPod is runnning on the Node01,i didn't put the scheduler.conf file into the node machine ，my bad~ next time i will be cautious! Thanks for yours help @denkensk @xq2005 .But now my scheduler  Container is running ,but the scheduler still cannot work, so i get the logs :
[code]
it shows "dial tcp 10.96.0.1:443: i/o timeout",this address is my clusterIP:
[ro

[2020-08-31 02:56] Wenshiqi222 commented on #44
i schedule the Pod on the master machine ,and it didn't show the dial tcp problem,but shows the questions below:
[code]

[2020-08-31 03:19] denkensk commented on #44
---

Did you modify the code so that it needs watch configmap?  If so, you need update the ClusterRole of `kube-system:my-scheduler`?
@Wenshiqi222

[2020-08-31 11:06] Wenshiqi222 commented on #44
Yeah, i  add the configmaps into the ClusterRole ,but still got another question :
[code]
my scheduler source code is just the scheduler-plugins provided by the sigs https://github.com/kubernetes-sigs/scheduler-plugins/ ,and i didn't change any source code , i just wannted to try the Qos Plugins, but the logs show that reflector.go needs to list the CSINode,and turned to didn't find requested reso

[2020-08-31 11:26] denkensk commented on #44
By the way, Which version of k8s are you using？@Wenshiqi222

[2020-08-31 11:27] Wenshiqi222 commented on #44
1.16

[2020-08-31 11:30] denkensk commented on #44
I see. The scheduler-plugins needs 1.18. @Wenshiqi222

[2020-08-31 11:33] Wenshiqi222 commented on #44
ok i got it 😄， so i need to reinstall my k8s ,then apply the qos-plugins~ thanks for your help, i will try

[2020-09-01 07:41] Wenshiqi222 commented on #44
i update the kubernetes version to v1.18 now,  but  my-scheduler cannot work, the logs show below:
[code]
the dial problem seems show again, and my clusterIP is 10.96.0.1 ,port is 443, where is the 53?? my kubeconfig file is new made by the 1.18 kubernetes CLuster,  my-scheduler was running on the master Machine

[2020-09-01 11:43] #44 closed

[2020-09-01 12:02] denkensk commented on #44
@Wenshiqi222
Did you run it successfully?

[2020-09-01 12:03] Wenshiqi222 opened #46 "Scheduler PLugins applying problem: i/o timeout"
Recently, i wanna try the Qos-Plugins provided by the kubernetees-sigs https://github.com/kubernetes-sigs/scheduler-plugins ,
since my kubernetes was installed by the Kubeadm, so all the components are running in containers, so if i wanna realize my Scheduler with the qos-sort plugins, i have to make a contariner for it, so i  "make" the plugins soure code and  run "docker build" to create a image

[2020-09-01 12:04] Wenshiqi222 commented on #46
@denkensk  hi, i write the details here

[2020-09-01 12:08] Wenshiqi222 commented on #44
i started a new issue about this problem, we can talk there, by the way,
the pod is running, but when i apply a new pod shouled be shduled by the new sheduler, it didin't do anything ,and i descirbe the pod ,the events shows nothing

[2020-09-01 12:24] denkensk commented on #46
It seems that the network is blocked.  Can you change it like it? @Wenshiqi222

[code]

[2020-09-01 12:47] Wenshiqi222 commented on #46
it still  cannot work， and logs show
[code]
and the log stuck here by "I0901 12:41:34.866895       1 leaderelection.go:242] attempting to acquire leader lease  kube-system/kube-scheduler..."

[2020-09-01 12:49] Wenshiqi222 commented on #46
it still cannot work， and logs show

[code]
and the log stuck here by "I0901 12:41:34.866895 1 leaderelection.go:242] attempting to acquire leader lease kube-system/kube-scheduler..."

[2020-09-01 12:50] denkensk commented on #46
----
It means the scheduler runs successfully. You can try to kill other scheduler to let it acquire the leader.

[2020-09-01 12:52] Wenshiqi222 commented on #46
how can i let the default-scheduler and this scheduler run together ? i didn't wanna kill the default sheduler

[2020-09-01 12:55] denkensk commented on #46
Actually, the scheduler-plugins is the default-scheduler + plugins. They are no different. It doesn't matter to kill the default scheduler.
FYI: https://www.infoq.cn/article/lYUw79lJH9bZv7HrgGH5

[2020-09-01 12:57] Wenshiqi222 commented on #46
ok i see, i am still confused that  where should the scheduleer-plugins be runnig? On the master node or the worker node? Does it matter?

[2020-09-01 13:02] denkensk commented on #46
On master node.
In fact, my replacement may be simpler. I just change the image in `/etc/kubernetes/manifests/kube-scheduler.yaml` on master node and mount the /etc/kubernetes/qos-scheduler-config.yaml in the pod.

[2020-09-01 13:06] Wenshiqi222 commented on #46
yes, this is more conveinient, thanks for your help, i wii try right now

[2020-09-01 16:46] Huang-Wei commented on #46
@Wenshiqi222 As the scheduler plugins are built on top of default-scheduler, so you shouldn't compete the leaderelection leader role with other running scheduler, and hence keep your secondary's leaderelection as `false`:

[code]

BTW: as @denkensk mentioned, the **new** scheduler binary keeps 100% functionalities of default-scheduler, so in production you can simply replace the default-scheduler.

[2020-09-02 01:26] Wenshiqi222 commented on #46
Thanks for your help @denkensk @Huang-Wei  ，just now i wanna stop my default-scheduler on Master Node, but i was confused that the  default-scheduler container just cannot be stopped , it keep restart,i cannot find the source yaml file of the default-scheduler， my  /etc/kubernetes/qos-scheduler-config.yaml isn't the running default-scheduler,

[code]
how can i stop the kube-scheduler-master pod, o

[2020-09-02 05:19] xq2005 commented on #46
@Wenshiqi222  Using your new scheduler image to replace the default scheduler image is a better choice (remember to specify new profile conf).

BTW, If your cluster is created by kubeadm. You can find /etc/kubernetes/manifests/kube-scheduler.yaml on master node. Move this file to another location, default scheduler pod will be delete automatically.

More details about kubeadm , you can refer:  htt

[2020-09-02 08:31] Wenshiqi222 commented on #46
Thank you for your help @xq2005 @denkensk @Huang-Wei ，now my schedulerPod is working now，but when i start a Pod to test the scheduler，i found another problem：
[code]
Here is my pod‘s yaml file：
[code]
and this pod is running on the node01，so i checked the journal of kubelet on Node01：
[code]
where is the problem?

[2020-09-03 05:52] seanmalloy opened #47 "Official Docker Container Image"
Several other kubernetes-sigs projects have official container images in `k8s.gcr.io` container registry. It would be convenient for end users if the scheduler-plugins container image was available from the `k8s.gcr.io` container registry.

[2020-09-03 05:59] seanmalloy commented on #47
I set this up for the descheduler. I believe I have the bandwidth to set this up for the scheduler-plugins too. Let me know if this is something the project would be interested in and I could start the process to get this setup.

[2020-09-03 06:14] denkensk commented on #47
We put the images of scheduler-plugins in `https://hub.docker.com/r/sched/plugins` before.
I think it's better to put our official container images in `k8s.gcr.io` too.
Thanks so much. @seanmalloy
/cc @Huang-Wei

[2020-09-03 15:58] seanmalloy commented on #47
@denkensk and @Huang-Wei will this repo always create a single container image? Or is there a possibility of multiple container images(one per plugin) in the future?

I'll start working on this soon-ish. It is a multi-step process. I'll ensure both of you are cc'd on all the pull requests. Let me know if you have any questions.

/assign

[2020-09-03 18:42] Huang-Wei commented on #47
Thanks @seanmalloy for raising this up. It's essential to have an official container image.

The repo (we can decide later whether it's dockerhub, gcr, or even [github container registry](https://github.blog/2020-09-01-introducing-github-container-registry/)) will have multiple containers. Some ideas in my mind atm:
- plugins - this serves as an all-in-one scheduler binary which packages all prese

[2020-09-03 18:48] Huang-Wei commented on #46
@Wenshiqi222 the error logs show it's related to the CNI plugin in the worker node:

[code]

I don't think it's related with the new-build scheduler-plugin binary. Please find more clues in the CNI logs. Redeploying your CNI plugin may solve this problem.

[2020-09-03 19:28] seanmalloy commented on #47
@Huang-Wei thanks for the info. I'll move forward with getting the `k8s.gcr.io` container registry setup. All three of these container images should be able to go into a single registry just fine.

The "plugins" container image would end up working something like what I have below. The important part is the agreement on naming of the registry(`k8s.gcr.io/scheduler-plugins`). The image name and tag

[2020-09-04 03:42] seanmalloy commented on #47
PR to complete the first step: https://github.com/kubernetes/k8s.io/pull/1213

[2020-09-04 07:56] #46 closed

[2020-09-04 07:59] denkensk commented on #46
@Wenshiqi222  hi, Did you run it successfully?

[2020-09-04 22:26] mateuszlitwin opened #49 "pod group min available is never updated"
Pod group info is never updated, unless all pods are removed and GC happens.

Because of that scenarios such as scaling up the pod group will not work.

Integration test that should work but fails:

[code]

[2020-09-07 08:25] denkensk commented on #49
We add the check in `prefilter` to keep the value unchanged. @mateuszlitwin
https://github.com/kubernetes-sigs/scheduler-plugins/blob/affecd7b5664b5ac0c66ffb6f1dee0b25d79795f/pkg/coscheduling/coscheduling.go#L214-L217

[2020-09-07 08:26] denkensk commented on #49
And also we will add the CRD for PodGroup recently.
FYI: https://github.com/kubernetes-sigs/scheduler-plugins/pull/42

[2020-09-08 22:56] Huang-Wei commented on #47
Thanks a lot @seanmalloy !

The registry name `k8s.gcr.io/scheduler-plugins` looks good to me.

[2020-09-09 22:47] mateuszlitwin commented on #49
I found a workaround for scaling up/down.

Basically after scaling up/down relabel existing pods with the new podgroup (new name and new size matching desired number of replicas).

[2020-09-10 14:00] seanmalloy commented on #47
The first step is done.

I will work on the remaining steps in the near future.

Step 2:
Update this repo(Makefile, Dockerfile, documentation), so that project maintainers can build and push container images to the staging registry.

Step 3:
Enable automated container image builds using a Prow job.

[2020-09-11 06:13] seanmalloy commented on #47
Pull request for step 2: https://github.com/kubernetes-sigs/scheduler-plugins/pull/51

[2020-09-15 04:31] seanmalloy commented on #47
Pull request for step 3: https://github.com/kubernetes/test-infra/pull/19215

[2020-09-17 02:47] seanmalloy commented on #47
Final pull request with some small documentation tweaks: https://github.com/kubernetes-sigs/scheduler-plugins/pull/53. Assuming everything is working I'll close this issue once this PR is merged.

[2020-09-17 19:21] seanmalloy commented on #47
The good news is the automated container image build jobs are now running.

The bad news is the builds jobs are failing:
https://storage.googleapis.com/kubernetes-jenkins/logs/post-scheduler-plugins-push-images/1306659384692051968/build-log.txt

It is not immediately obvious to me why it is failing. I'll try to figure this out and get it working.

[2020-09-18 00:56] Huang-Wei opened #54 "TestPodGroupClean is flaky"
`TestPodGroupClean` in pkg/coscheduling/coscheduling_test.go seems to be flaky:

[code]

[2020-09-18 00:58] Huang-Wei commented on #54
/assign @denkensk

[2020-09-18 04:45] seanmalloy commented on #47
I started a thread in k8s slack to try and get some help: https://kubernetes.slack.com/archives/CCK68P2Q2/p1600404122002900

[2020-09-18 14:08] seanmalloy commented on #47
@Huang-Wei @denkensk you should be able to view the more detailed build logs here ... https://console.cloud.google.com/cloud-build/builds/ca4ef3b8-98e8-4a61-96cc-c6d07c6c4c50?project=96918712006 using your Google account listed here https://github.com/kubernetes/k8s.io/blob/master/groups/groups.yaml#L1221-L1230.

I'm hoping I can figure this out once I have the logs.

[2020-09-19 17:48] #54 closed

[2020-09-22 19:43] seanmalloy commented on #47
@Huang-Wei and @denkensk are you able to see the logs from this URL: https://console.cloud.google.com/cloud-build/builds/ca4ef3b8-98e8-4a61-96cc-c6d07c6c4c50?project=96918712006. Please provide the logs when you get a chance.

Thanks!

[2020-09-22 20:20] Huang-Wei commented on #47
@seanmalloy There are 2 logs in the URL you provided:

- build summary - https://gist.github.com/Huang-Wei/6bfa75d0eda7ccae80c4a91db32621b5
- 0: gcr.io/k8s-testimages/gcb-docker-gcloud:v20190906-745fed4
push-release-image - https://gist.github.com/Huang-Wei/1599bd8dcf8ad8b5d20d7b9a4a45dcfd

[2020-09-22 20:21] Huang-Wei commented on #47
I think it's due to recent changes on separating Docker files into `build/scheduler` and `build/controller`:

[code]

[2020-09-22 20:25] Huang-Wei commented on #47
Oh wait, the changes were [merged 17 hours ago](https://github.com/kubernetes-sigs/scheduler-plugins/pull/52#event-3791327915). Maybe not relevant, at least for the previous failure: https://github.com/kubernetes-sigs/scheduler-plugins/issues/47#issuecomment-694890518.

@seanmalloy do you want the logs for the previous run at https://github.com/kubernetes-sigs/scheduler-plugins/issues/47#issuecomm

[2020-09-22 20:29] seanmalloy commented on #47
@Huang-Wei I think the logs you provided give me enough info to try and fix this.

[2020-09-23 11:52] Wenshiqi222 opened #59 "How can i test the Qos-Plugins on my own k8s environment？"
Since i successfully start the Qos-Plugins，and i wanna test if the Qos-based selection will work when the priority of two pods are equal.So i prepare the two files, one is the priority file to make sure that the following two pods'priority are equal,the other file is the  pod files for testing,which is set the same priority and the second pod is written with Guaranteed class.
**priority.yaml**
[co

[2020-09-23 20:41] Huang-Wei commented on #59
@Wenshiqi222 QOSPlugin is a bit difficult to test using an end-to-end flow. A preferred way is to observe the behavior from a simulated env: like the integration test did [here], it instantiated the scheduler but [disabled] the starting, so that we can observe the QOS behavior of how the Pods are sorted internally.

[here]: https://github.com/kubernetes-sigs/scheduler-plugins/blob/44abd6db5d91d3c3

[2020-09-26 05:39] seanmalloy commented on #47
Proposed fix for the builds errors https://github.com/kubernetes-sigs/scheduler-plugins/pull/62.

[2020-09-27 00:53] yuanchen8911 commented on #49
`minAvailable` handling is tricky and error prone. The current implementation in PreFilter just checks if minAvailable defined in each pod spec. is identical.  If we allow an arbitrary update of minAvailable, the gang scheduling semantics  could be violated.
However, we can probably make an improvement  for PodGroup deletion, update and resubmission cases.

When a new pod with a PodGroup is submit

[2020-09-27 01:57] yuanchen8911 opened #63 "CoScheduling: invoke getOrCreatePodGroupInfo in Permit and Unreserve plugins"
`getOrCreatePodGroupInfo` creates a new PodGroup or obtains the existing `PodGroupInfo`. It's required for `Less` and `PreFilter` as a PodGroup may not exist when a Pod reaches the two phases. However, PodGroup should already exist in `Permit` and `Unreserve.`  If not (due to GC or PodGroup expiration?),  a new PodGroup should not be created in the two phases. We may need a separate func for read

[2020-09-28 20:37] Huang-Wei commented on #63
@yuanchen8911 We will land a CRD based implementation soon, based on a CRD context, if a Pod specified a non-existing PodGroup, the correct semantics is this Pod shouldn't be created, which can be guaranteed by an admission plugin - it's aligned with the community, e.g., a pod requests for a non-existing PriorityClass won't be created ([link])

[link]: https://github.com/kubernetes/kubernetes/blob

[2020-09-30 03:24] seanmalloy commented on #47
The latest build failure for the master branch is here: https://storage.googleapis.com/kubernetes-jenkins/logs/post-scheduler-plugins-push-images/1311031861232799744/build-log.txt

@Huang-Wei and @denkensk could one of you get me the detailed build logs for the latest failure when you get a chance?

Here are the URL for the detailed builds logs: https://console.cloud.google.com/cloud-build/builds/

[2020-09-30 17:43] Huang-Wei commented on #47
@seanmalloy here is the logs:

- build-log.txt: https://pastebin.com/92PDWY92

- Build log: https://pastebin.com/dXRucHea
- 0: gcr.io/k8s-testimages/gcb-docker-gcloud:v20190906-745fed4 push-release-image: https://pastebin.com/S5ZuJaFL

[2020-10-02 05:05] seanmalloy commented on #47
I have started the follow up conversation up in `#wg-k8s-infra` on Slack.

https://kubernetes.slack.com/archives/CCK68P2Q2/p1601615022008600?thread_ts=1600404122.002900&cid=CCK68P2Q2

[2020-10-02 15:55] seanmalloy commented on #47
I got an answer in Slack. I'm going to try this.

https://github.com/kubernetes/test-infra/tree/master/config/jobs/image-pushing#custom-substitutions

[2020-10-04 03:08] seanmalloy commented on #47
I think this is it ... #67.

[2020-10-05 17:22] seanmalloy commented on #47
I was able to pull images from the staging registry.
[code]

[2020-10-05 17:56] seanmalloy commented on #47
Last two pull requests are #68 and #69. After these are merged I will close out this issue.

[2020-10-06 02:45] seanmalloy commented on #47
It looks like everything is working now. The official containers images can be promoted to k8s.gcr.io once the next scheduler-plugins release is created. @Huang-Wei and @denkensk let me know if you have any outstanding questions or issues with the container images builds when you do the next release. Thanks!

/close

[2020-10-06 02:45] #47 closed

[2020-10-07 04:34] JibinNajeeb opened #70 "Nginx pods are in pending state, while testing cosheduling."
Tested in a cluster with 1 master and 1 worker.
Below are the steps I did,
1. Created kube-schedule-configuration.yml with below contents
[code]
2. Executed below steps
[code]
3. Followed the steps in this link to create a second scheduler (https://kubernetes.io/docs/tasks/extend-kubernetes/configure-multiple-schedulers/)
[code]
4. Deployed the below replicaSet with scheduler as my-scheduler
[code

[2020-10-07 19:04] Huang-Wei commented on #70
@JibinNajeeb please remove `- --scheduler-name=my-scheduler` in step3; and instead, replace `default-scheduler` in step1 with `my-scheduler`.

This is b/c you're running a 2nd scheduler, but using the latest (recommended) multi-profile way. So in this case, the mechanics is to define "schedulerName" via the manner of "profiles[*].schedulerName". And using the CLI argument `--scheduler-name=my-sche

[2020-10-08 23:02] yuanchen8911 opened #71 "k8s deps version in 1.18-release"
@Huang-Wei  Any reason to use v1.18.8 instead of v1.18.9 in 1.18-release? Thanks.

[2020-10-09 01:01] Huang-Wei commented on #71
sure, please raise a PR, and I will create a tag right after that.

[2020-10-12 18:18] yuanchen8911 commented on #71
PR submitted:  https://github.com/kubernetes-sigs/scheduler-plugins/pull/74

[2020-10-13 02:37] Wenshiqi222 commented on #59
Thanks for help, but my k8s environment is built by Kubeadm, when i run the command "go test qos_test.go"to check the output  in terminal,i got the error below
[code]
But i checked the path "..../pkg/generated/openapi",and i did find the file which OpenAPIDefinitions needed:
[code]
the file "zz_generated.openapi.go"contains the defined OpenAPIDefinitions,but still got the error. Maybe the test env

[2020-10-13 07:33] Wenshiqi222 commented on #46
yes thanks for your help，finally it is the cni plugins problems

[2020-10-14 05:36] Huang-Wei commented on #59
@Wenshiqi222 You should run under the source code of this repo, not kubeadm or k8s.

The `OpenAPIDefinitions` issue can be fixed by running `make autogen`, and is only needed to run once unless you switch branches from master to a lower branch (like release-1.18).

[2020-10-14 06:02] denkensk commented on #71
/close

[2020-10-14 06:02] #71 closed

[2020-10-18 03:59] lianghao208 commented on #25
Is that possible these series of sample plugins  become a new opensource project that newcomers can easily build?

[2020-10-18 05:24] lianghao208 opened #80 "how can I run this plugins in my k8s cluster"
KubeSchedulerConfiguration resource seems belong to group  "kubescheduler.config.k8s.io" and version "kubescheduler.config.k8s.io/v1beta1", but in k8s 1.19.2, there is neither group  "kubescheduler.config.k8s.io" nor version "kubescheduler.config.k8s.io/v1beta1", do I need to apply KubeSchedulerConfiguration crd first? I can`t find any doc related.

[2020-10-18 05:28] #80 closed

[2020-10-19 13:25] alculquicondor commented on #14
/close

discussion moved to kubernetes/kubernetes#93270

[2020-10-19 13:26] #14 closed

[2020-10-19 18:27] Huang-Wei commented on #80
@lianghao208 Nope, `KubeSchedulerConfiguration` is not a CRD. It's essentially an API for default scheduler to manage the configuration parameters, in a more organized way. It's not persisted anywhere, only horned upon the startup of scheduler.

[2020-10-20 04:47] seanmalloy opened #82 "Add Branch Name To Staging Registry Container Image Tags"
From https://github.com/kubernetes-sigs/scheduler-plugins/pull/77#issuecomment-712373957 ...

We might want to consider adding the branch name to container image tags in the staging registry.

- if it's on release-v1.x.y, let's keep current logic (i.e., use the tag plus a random string)
- if it's on the master branch, let's use "master" plus a random string - it's b/c we usually don't have a tag o

[2020-10-20 04:49] seanmalloy commented on #82
@Huang-Wei and @denkensk I can work on this if you'd like. It will probably be several weeks before I would be able to start looking at this.

[2020-10-20 19:05] Huang-Wei commented on #82
@seanmalloy do you think it's more conventional to give a (temporary) tag to master branch?

[2020-10-21 03:57] seanmalloy commented on #82
@Huang-Wei in my opinion we should not create a temporary tag. I don't actually expect any end users to use the container images from the staging registry, but I could be wrong. End users will use the official container images from k8s.gcr.io, not the ones from the staging registry.

So from my perspective the tags in the staging registry need to be useful for people responsible for creating relea

[2020-10-23 19:57] xujyan opened #83 "Tag the latest release on release-1.18 branch"
https://github.com/kubernetes-sigs/scheduler-plugins/commits/release-1.18 which is based on upstream 1.18.9.

[2020-10-23 21:46] Huang-Wei commented on #83
There is a v0.18.9 tag created.

[2020-10-23 22:13] Huang-Wei opened #84 "Official images"
It seems even after https://github.com/kubernetes/k8s.io/pull/1346 gets merged, `k8s.gcr.io/scheduler-plugins/kube-scheduler:v0.18.9` is still unable to be downloaded:

[code]

Not quite sure it's due to missing folder "k8s-staging-scheduler-plugins" under https://github.com/kubernetes/k8s.io/tree/master/k8s.gcr.io/manifests.

[2020-10-23 22:16] Huang-Wei commented on #84
@seanmalloy Could you shed some light here?

[2020-10-23 22:21] seanmalloy commented on #84
@Huang-Wei I will take a look.

[2020-10-23 22:22] Huang-Wei commented on #84
Cool, we can refer to descheduler to check what's missing here.

[code]

[2020-10-25 07:30] lianghao208 commented on #25
@Huang-Wei, @denkensk Can I add a sample in pkg/qos that use prefilterPlugin to ignore the Pods which is in BestEffort (requests and limits not set) QOS level? it`s not a regular function but an example exercise tho.  Any suggestions?

[2020-10-25 08:46] xujyan commented on #83
Somehow I missed it.

[2020-10-25 08:46] #83 closed

[2020-10-26 17:34] Huang-Wei commented on #25
@lianghao208 The example would depend on the schdule-delay annotation, right? If so, I don't quite think the sample would make a lot of sense. I believe there should be a better example to demonstrate PreFilter without relying on a "fake" annotation, WDYT?

[2020-10-27 07:26] Wenshiqi222 commented on #59
I run the command "`make autogen`" under the source code of Qos-Plugin ,and got the information:
[code]
it seems run successfully,but when i test the qos-test file, still got the error:
[code]
my K8s version is master.

[2020-10-27 07:48] Wenshiqi222 opened #85 "Coscheduling-Test problem"
I wannna try the Coscheduling Plugin to test it in my own k8s environment,so i prepared  2 pods belong to the same PodGroup which needs minAvaliable pods are 3. So normally,  2 pods cannot run successfully and when i add a new pod as the same configuration, the 3 pods can run successfuly.
Here is my Pod file:
[code]
to make sure the pods are the same priority,i create a priority-file for them:
[co

[2020-10-28 07:08] vincent-pli commented on #85
@Wenshiqi222
Change to `pod-group.scheduling.sigs.k8s.io/min-available: "3"`

[2020-10-28 18:12] Huang-Wei commented on #82
@seanmalloy Let's go with the option you proposed:

Thanks!

[2020-10-28 19:06] Huang-Wei commented on #59
@Wenshiqi222 Ensure you run all the commands at the folder `scheduler-plugins`.

1. At the beginning, the API codegen may be absent:

[code]

1. Then run `make autogen` and API codegen should generate `zz_generated.openapi.go` under `vendor/k8s.io/kubernetes/pkg/generated/openapi/`:

[code]

1. `go test <absolute testing folder>` would assume a full qualified gopath, such as `go test sigs.k8s.io/s

[2020-10-29 03:39] seanmalloy commented on #82
Hoping to get to this in the next few weeks.

/assign
/kind cleanup

[2020-10-29 17:39] yuanchen8911 commented on #85
Yes, you need quotation mark for the number. BTW, `PriorityClass` apiVersion is `v1` now. @Wenshiqi222

The label values must be strings in Kubernetes. In yaml, that means all numeric values must be quoted.

[2020-10-30 01:06] yuanchen8911 opened #86 "Add a new tag v0.19.0"
@Huang-Wei  The K8s API dep was already bumped to 1.19.0 in the master branch. Should we add a new tag `v0.19.0`?  Otherwise, `git describe` and `kube-scheduler --version` just report the outdated information.

[code]

[code]

[2020-10-30 03:36] seanmalloy commented on #85
/kind support

[2020-10-30 03:36] seanmalloy commented on #84
/kind bug

[2020-10-30 03:37] seanmalloy commented on #70
/kind support

[2020-10-30 03:39] seanmalloy commented on #59
/kind support

[2020-10-30 03:40] denkensk opened #89 "User Documentation for deploying scheduler plugins"
We need some docs to help users deploying the server of scheduler-plugins.
Our documentation needs to include the following steps
1. How to deploy the scheduler/controller of scheduler-plugins in an existing k8s cluster
2. How to replace existing default-scheduler
3. Deploy the controller of scheduling-plugins
4. Create CRD for PodGroup
5. How to verify that the scheduler starts successfully.

Dif

[2020-10-30 03:41] seanmalloy commented on #49
@yuanchen8911 I see #64 is merged, so can this issue be closed?

[2020-10-30 03:41] seanmalloy commented on #49
/kind bug

[2020-10-30 03:42] seanmalloy commented on #25
/kind feature

[2020-10-30 03:44] seanmalloy commented on #20
@yuanchen8911 can this issue be closed or is there some outstanding work that still needs to be done?

[2020-10-30 03:46] yuanchen8911 commented on #20
Yes, let's close it.

[2020-10-30 03:49] seanmalloy commented on #13
/remove-lifecycle rotten
/kind feature

[2020-10-30 03:50] #20 closed

[2020-10-30 03:50] seanmalloy commented on #8
/kind feature

[2020-10-30 03:53] seanmalloy commented on #5
@Huang-Wei and @denkensk are we good to close out this issue, or do we still need to document the versioning scheme somewhere?

[2020-10-30 03:56] seanmalloy commented on #86
@yuanchen8911 I need to track down the issue with the scheduler-plugins container image promotion process. See #84. After that I think we should be fine to create the v0.19.0 release.

Although it is up @Huang-Wei as he is the person that creates the releases.

[2020-10-30 04:17] seanmalloy commented on #84
I think this is the CI job that does the image promotions: https://testgrid.k8s.io/wg-k8s-infra-k8sio#post-k8sio-cip. Looking at the logs I don't see any entries for the scheduler-plugins staging repo. In contrast I do see log entries for the descheduler.

I've started a slack thread in `#wg-k8s-infra` to ask for assistance: https://kubernetes.slack.com/archives/CCK68P2Q2/p1604031380122300

[2020-10-30 04:27] seanmalloy commented on #89
/kind documentation

[2020-10-30 05:46] Huang-Wei commented on #89
@denkensk This is definitely necessary. Would you mind revealing more details in the PR description?

[2020-10-30 06:21] denkensk commented on #89
Done

[2020-10-31 09:55] lianghao208 commented on #8
@denkensk I checked the TODOs as listed, it seems all the improvements have been done. Are there any  follow up improvements need to be done?

[2020-10-31 12:05] lianghao208 opened #90 "The permit logic in coscheduling"
I am using cosheduling plugins, but I am a little connfused about the permit logic.
The code is
[code]

it calculate the number of pods have been bound to nodes. If  the number of pods have been bound to nodes are greater than the minMember of the PodGroup, the permit plugin will allow the subsequence scheduling process.
But lets say if I set minMember in the PodGroup to 3, and the replicas of my

[2020-10-31 12:05] lianghao208 commented on #90
/help

[2020-10-31 12:07] lianghao208 commented on #90
/kind support

[2020-11-02 02:39] vincent-pli commented on #90
@lianghao208
 I guess the `calculateBoundPods` is a little confuse people, the `pod.Spec.NodeName != ""` also include `pod` is already passed step `Reserve` but not passed `permit`(in waiting state), your `pod` are also calculated.  so if they meet the `min`, it will be allowed to run.

[2020-11-02 02:44] denkensk commented on #90
The Bound pods means `Reserved/Assumed` status in Scheduling Cycle, not the pods bonded to the nodes. When the count
 of reserved pods meets the `min`,  they will pass the permit plugin.
@lianghao208

[2020-11-02 02:45] vincent-pli commented on #89
@Huang-Wei  @denkensk I agree it's definitely necessary, easy people who want to take a try.
Could we introduce [ko](https://github.com/google/ko) for installation, it's simplest way for installation I ever used.

[2020-11-02 02:53] denkensk commented on #89
Thanks @vincent-pli
I am not sure if ko can  update/operate the pods with static pods? Because the kube-scheduler deployed by kubeadm is static pod.

[2020-11-02 02:55] lianghao208 commented on #90
@vincent-pli @denkensk  Thanks! Now I get it.

[2020-11-02 02:55] #90 closed

[2020-11-02 03:01] denkensk commented on #90
@lianghao208  Would you like to submit a PR to add some comments for it to prevent others confuse？

[2020-11-02 03:03] lianghao208 commented on #90
Sure, I'd love to.

[2020-11-02 03:03] vincent-pli commented on #89
@denkensk
Why we have to disable default scheduler, user could define `spec.schedulerName` .
The `ko` is only for compile&deployment cloud native resource based on golang, definitely can not handle the static pods, but we can add extral step to let user delete it manually.

[2020-11-02 03:29] denkensk commented on #89
Thanks, SGTM @Huang-Wei  WDYT?

If the users don't disable the default scheduler, the default and our scheduler-plugins will work together at the same time. At this time, there will be resource conflicts or the fight for the scheduler lock.  @vincent-pli

Although the user can define spec.schedulerName of pod, But how about other pods like system pod or prometheus?
And also allowing users to modif

[2020-11-02 03:37] denkensk opened #91 "can't pull the image from k8s.gcr.io/scheduler-plugins"
$ docker pull k8s.gcr.io/scheduler-plugins/kube-scheduler:v0.18.9
Error response from daemon: manifest for k8s.gcr.io/scheduler-plugins/kube-scheduler:v0.18.9 not found: manifest unknown: Failed to fetch "v0.18.9" from request "/v2/scheduler-plugins/kube-scheduler/manifests/v0.18.9".

I can't pull our image form the addree listed in https://github.com/kubernetes-sigs/scheduler-plugins/blob/master/

[2020-11-02 03:39] denkensk commented on #91
/cc @seanmalloy

[2020-11-02 03:41] denkensk commented on #91
Sorry Repeat with this one https://github.com/kubernetes-sigs/scheduler-plugins/issues/84
/close

[2020-11-02 03:41] #91 closed

[2020-11-02 05:05] vincent-pli commented on #89
@denkensk
That's make sense, thanks for clarification.

[2020-11-02 06:28] seanmalloy commented on #84
Here is the fix https://github.com/kubernetes/k8s.io/pull/1383

[2020-11-03 23:41] Huang-Wei commented on #89
`ko` sounds groovy and can definitely be a bonus. But now as we're starting from scratch, I think we should complete the basic support first.

Add some extra note on what @denkensk mentioned on resource conflict, scheduler-plugins derives from default scheduler to keep 100% of upstream scheduler's functionality, so it's very recommended to replace the default scheduler, instead of running X and X'

[2020-11-03 23:45] Huang-Wei commented on #86
I talked this with @seanmalloy in #82, and we decided to put a `master` prefix for master branch.

Creating a tag for master doesn't sound quite conventional.

[2020-11-03 23:53] Huang-Wei commented on #5
We already have a conclusion, but let's keep it open as it needs to be documented clearly as a standalone document.

As a wrap-up, we will use a tag such as `v0.19.0` to cut release in `release-v1.19` branch, which locks the deps to the Kubernetes components. And we create images on demand, for example, suppose we developed some new features and needs a cut on `release-v1.19`:

- if the upstream h

[2020-11-03 23:57] vincent-pli commented on #89
@Huang-Wei
Thanks, one more question,
I saw in `cmd/scheduler/main`, we register/load all plugins(coscheduler, noderesources, qos .etc) in the repo, so that's means we tend to user take a full package with all extra plugin or user should try the plugins one by one?  if it's the former how to handle the configuration(`KubeSchedulerConfiguration` confliction)?

[2020-11-04 22:39] Huang-Wei commented on #89
@vincent-pli Plugin registration and configuration are two-folded: you can register any many plugins as you want, while upon scheduler's startup, the `KubeSchedulerConfiguration` determines the scheduler's runtime behavior. If there is any conflict, the validation logic fails the scheduler's start. In other words, you don't need to use all registered plugins.

[2020-11-05 01:55] LeoLiuYan commented on #89
I also interested  in making some contributions to the docs.

[2020-11-05 02:28] lianghao208 commented on #89
@Huang-Wei @denkensk As you mentioned the resource conflict, if users add a new scheduler plugin, does that mean the whole cluster are recommended to use only one of them( the new schduler and default-scheduler) instead of using both? If so, what if I need to add some scheduling logic on top of the default-sheduler( like the old sheduler extender)? Do I need to modify the default-scheduler, add my

[2020-11-05 03:24] denkensk commented on #89
Yes. In fact, there is no difference in scheduling logic between default-scheduler and scheduler-plugins.  scheduler-plugins = default scheduler + plugins. `default-scheduler` can be replaced by scheduler-plugins. It doesn't introduce compatibility issues.

You mean you changed the code base of default-scheduler or just add an extender by the old extension mechanism？
@lianghao208

[2020-11-05 05:49] lianghao208 commented on #89
I mean changing the code base of default-scheduler, the old extension mechanism seems not a recommended way to extend any more.
@denkensk

[2020-11-05 06:12] denkensk commented on #89
Thanks. @LeoLiuYan   Maybe you can start by drafting a document to document your deployment process. Then we can help to review
it.

[2020-11-05 06:15] denkensk commented on #89
Also /cc @vincent-pli

[2020-11-05 06:49] denkensk commented on #89
----

I see, If you change the code base of default-scheduler. You need to import your version in this scheduler-plugins and re-compile or rebuild it by https://github.com/kubernetes-sigs/scheduler-plugins/blob/master/Makefile.
@lianghao208

[2020-11-05 07:57] vincent-pli commented on #89
@denkensk
Actually, I use `ko`, I can provide a sample for how to deploy `plugin`s with `ko` soon if necessary.

[2020-11-05 08:06] vincent-pli commented on #89
@denkensk @Huang-Wei
See the repo: https://github.com/vincent-pli/coscheduler-same-node-ko
Extra manual step needed to delete default scheduler(with `kubeadm` env):
[code]

[2020-11-05 08:21] denkensk commented on #89
Thanks.  @vincent-pli
Another manual step needed to create the config. Because the static pod can't access the configmap.

[2020-11-06 02:01] #86 closed

[2020-11-06 10:55] houz42 opened #94 "`make autogen` does not generate deepcopy and register code for new config args types"
I am writing a scheduler plugin which needs to be coifigured with args. I defined the args type both in `pkg/apis/config/types.go` and `pkg/apis/config/v1beta1/types.go` and then run `make auto`. But nothing happend, no error, no gnerated code, neither did running `hack/update-autogen.sh` work.

I did write the comment `// +k8s:deepcopy-gen:interfaces=k8s.io/apimachinery/pkg/runtime.Object
` befor

[2020-11-06 11:58] houz42 opened #95 "Does NodeResourcesLeastAllocatable + NodeResourcesMostAllocated == NodeResourcesLeastAvailable ?"
If I enable both "NodeResourcesLeastAllocatable"(from the this repo) and "NodeResourcesMostAllocated"(from the main repo) in one profile, and configure them with same weights, have I gotten the equality of "NodeResourcesLeastAvailable"?

## What I really want
A score plugin that favors nodes with fewer resources left.

Enabling either "NodeResourcesLeastAllocatable" or "NodeResourcesMostAllocated"

[2020-11-06 18:33] seanmalloy commented on #95
/find feature

[2020-11-06 18:33] seanmalloy commented on #95
/kind feature

[2020-11-06 18:39] seanmalloy commented on #94
@houz42 can your provide a URL to the code or is it proprietary code? If it's propriety can you provide the simplest example code change the reproduces this error?

/kind support

[2020-11-06 21:17] Huang-Wei commented on #95
It may work, as both NodeResourcesLeastAllocatable and NodeResourcesMostAllocated favor the highly-utilized nodes, while one uses absolute usage, the other use ratio of usage.

[2020-11-07 07:31] houz42 commented on #94
@seanmalloy Thanks for your help.
This is my repo: https://github.com/houz42/scheduler-plugins/tree/node-available-resource

[2020-11-07 07:38] houz42 commented on #95
@Huang-Wei  Thanks for your explaination.

Considering this difference. Do you think it is necessary to add a real "NodeResourcesAvailable" plugin into this repo? I have already written a simple implementation by copy-and-edit the "NodeResourceAllocatable" plugin, and I am happy to submit a PR if it's OK.

[2020-11-07 07:49] Huang-Wei commented on #95
Maybe that can be a PR/KEP in k/k, so that we have one generalized plugin to represent all the semantics - the PluginArgs can be used to differentiate the mode: ratio, absolute number, or both.

[2020-11-07 07:53] houz42 commented on #95
Does k/k mean the main kubernetes repo? It seems more work to do than a simple "NodeResourcesAvailable", and may need to change the current PluginArgs type.

[2020-11-07 07:58] Huang-Wei commented on #95
Yes.

I think there is no much core logic change as the current NodeResourcesLeastAllocatable plugin copies most implementation from k/k already. The PluginArgs part may be a bit hassling - we need to ensure the new Args backward compatible.

[2020-11-07 09:56] houz42 commented on #95
How about designing a new "NodeResources" plugin implements all of these functions, and then change those old plugins to a instance of the new one, and mark them deprecated?

may be something like this:
[code]

[2020-11-07 09:59] houz42 commented on #95
And how about add a new plugin and args like this?

https://github.com/houz42/kubernetes/blob/7dda46d3568b326dcbbdf387f50134514f526668/pkg/scheduler/apis/config/types_pluginargs.go#L53

[2020-11-08 08:21] lianghao208 commented on #25
@Huang-Wei I think CrossNodePreemption plugin need a preFilter extension point to filter the pods which don`t have priority or PreemptionPolicy has been set to Never. The basic logic is in  _PodEligibleToPreemptOthers_ method of default_preemption, which  will be invoked in preempt stage, Is it better to split the  _PodEligibleToPreemptOthers_ to the prefilter stage? WDYT?

[2020-11-08 20:03] yuanchen8911 opened #97 "Difference between the upstream scheduler main program and the scheduler-plugins one"
Compared to [upstream kube-scheduler main program](https://github.com/kubernetes/kubernetes/blob/master/cmd/kube-scheduler/scheduler.go), [scheduler-plugin main program](https://github.com/kubernetes-sigs/scheduler-plugins/blob/master/cmd/scheduler/main.go) is missing the following code segment, I was wondering why it's removed. Thanks.

[code]

[2020-11-08 20:35] yuanchen8911 opened #98 "Get kubeconfig and Master from command arguments or scheduler-config file?"
Some scheduler plugins (e.g. `coscheduling`) need kubeconfigpath and master to create new `clientSet`. Instead of using plugin arguments to set the parameters, can we just get the information from the scheduler command line args or `kubeconfig` defined in the scheduler policy file?

Thanks.

[2020-11-09 02:41] Huang-Wei commented on #25
That's not true. All extension points are all targeting the incoming Pod, not existing Pods.

[2020-11-09 03:50] lianghao208 commented on #25
It is targeting the incoming Pods. The preFilter plugin filter the incoming pods which don`t have priority or PreemptionPolicy has been set to Never, does it make sense?

[2020-11-09 19:35] Huang-Wei opened #99 "Test TestCoschedulingPlugin is flaky"
- https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_scheduler-plugins/88/pull-scheduler-plugins-integration-test/1325299404722147328

[2020-11-09 19:36] Huang-Wei commented on #99
/assign @cwdsuzhou

[2020-11-09 20:54] Huang-Wei commented on #25
It only makes sense in PostFilter(), not PreFilter(). And note that a Pod would always have a `.spec.priority` - defaults to 0. And also be aware that users may set a negative Priority. It's tracked in https://github.com/kubernetes/kubernetes/issues/89036 and attempted in https://github.com/kubernetes/kubernetes/pull/92875 (which assumes Priority 0 as the lowest priority, but proved to be incorrec

[2020-11-09 23:46] cwdsuzhou commented on #99
I will take a look today

[2020-11-10 00:16] Huang-Wei commented on #98
Totally agree it's a pain point for out-of-tree developers. @yuanchen8911 would you mind creating one issue in k/k, and link back here? Let's discuss this in the upstream.

[2020-11-10 00:21] Huang-Wei commented on #97
@yuanchen8911 There is no particular reason. It's ok to add the following lines to scheduler-plugins:

[code]

The `WordSepNormalizeFunc` is not necessary.

[2020-11-10 01:13] Huang-Wei commented on #95
The implementation details don't concern me. What's concerning me is the API (plugin and pluginConfig) backward compatibility, and if we want to deprecate the old API, how to make the migration efforts as least as possible.

To roll this forward, I think one option is to introduce a feature gate like "GenericNodeResourceScorer", with that, you can develop a new plugin with new args.

- In alpha ph

[2020-11-10 01:31] yuanchen8911 commented on #97
Thanks, @Huang-Wei

Here is `logs.InitLogs` code. Looks like it does the initialization and klog setup. I suspect the klog output won't be written to  `kube-scheduler.log` without the initialization. Anyway, we should probably add it back. I'm opening a PR.

[code]

[2020-11-10 01:41] yuanchen8911 commented on #97
Added `logs.InitLogs()` https://github.com/kubernetes-sigs/scheduler-plugins/pull/100

[2020-11-10 01:42] yuanchen8911 commented on #98
will do it.

[2020-11-10 02:04] lianghao208 commented on #25
Thanks for the reply.
Does every single pod need to pass through the default_preemption plugin in the PostFilter() ? If so, how to schedule the pod that can`t pass the PodEligibleToPreemptOthers() ? ( Note that If a pod can`t pass PodEligibleToPreemptOthers(), PostFilter() returns Unschedulable status)

[2020-11-10 03:30] cwdsuzhou commented on #99
I found  the unit test block here

https://github.com/kubernetes-sigs/scheduler-plugins/blob/master/test/integration/coscheduling_test.go#L376

That is because we can not ensure pod with high priority queue before the lower ones for `different priority, sequentially pg1 meet min and pg2 meet min`, pod with high priority have not enqueued (or created) at that time.

as we see
![image](https://user-

[2020-11-10 06:04] patricklundquist commented on #95
@houz42, this sounds similar to our use case. We use NodeResourcesLeastAllocatable (higher weight) + NodeResourcesLeastAllocated. Scoring by resources available is distinct from the other two plugins, and could be a useful addition. Nodes can end up with a tie for Allocatable, a tie for Allocated, and still have a difference in Available.

@Huang-Wei, that migration plan sounds fine. The new plugi

[2020-11-10 09:08] lianghao208 commented on #25
@Huang-Wei
 I incline to work on a Score plugin sample to score nodes taking terminating Pods and nominated Pods into accounts. But I can`t figure out the relationship between the terminating Pods and node. Does it mean the more terminating pods existing on nodes, the less score those nodes will get? Or the more pods set a node as a nominatedNode, the less score this node will get?

[2020-11-10 18:08] Huang-Wei commented on #25
Only when (1) default_preemption is the first configured PostFilter plugin, or (2) the PostFilter plugins configured prior to default_preemption all failed.

I think it makes sense to give those nodes a higher score, as those termnating Pods would be physically removed eventually, and hence release their claimed resources. In other words, the nodes with terminating Pods are more likely to be able

[2020-11-10 18:14] #99 closed

[2020-11-10 20:34] yuanchen8911 commented on #98
Opened an issue in upstream repo  https://github.com/kubernetes/kubernetes/issues/96427

[2020-11-10 21:01] Huang-Wei commented on #94
@houz42 It works for me. Please check your GOPATH, did you run `hack/update-codegen.sh` under path `${GOPATH}/src/sigs.k8s.io/scheduler-plugins`?

[2020-11-11 00:48] peterfeifanchen opened #102 "How do custom scheduler plugins work?"
Hi, I was reading Kubernetes concepts on schedulers here

https://kubernetes.io/docs/concepts/scheduling-eviction/scheduling-framework/

And at the bottom it referred to this github for more information on custom plugins to the extension points of the kubernetes scheduler.

[code]

I am curious as to how that works here, are the scheduler plugins something you add to `https://github.com/kubernetes

[2020-11-11 02:02] lianghao208 commented on #25
@Huang-Wei
Thanks, I would like to implement it and submit a PR.

[2020-11-11 02:15] Huang-Wei commented on #25
Sounds great. Thanks.

[2020-11-11 12:23] zhiyuone opened #104 "Create CRD failed"
I try go apply `manifests/coscheduling/crd.yaml` then get this error.

It seems `validation` field avaliable in `apiextensions/v1beta1` and removed from `apiextensions/v1`
https://v1-18.docs.kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/#customresourcedefinitionspec-v1-apiextensions-k8s-io
https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.19/#customresourcedefinitionsp

[2020-11-11 12:42] lianghao208 commented on #104
What`s the version of your kubernetes cluster?

[2020-11-11 13:16] houz42 commented on #94
No, I am using go mod. Should I move it under GOPATH or not?

[2020-11-11 13:44] houz42 commented on #95
@patricklundquist your solution sounds good considering what we have now, and I believe a similar combination suits my use case well enough too. I could use this solution while developing the proposed "GenericNodeResourceScorer". Do yout think this is suitable as a first contribution as (I think) I have enough knowledge of the language and the scheduler framework but not familar with the developme

[2020-11-11 15:32] #94 closed

[2020-11-11 22:59] patricklundquist commented on #95
Sounds good to me. @Huang-Wei, Let me know if you need help with code review or code changes.

[2020-11-12 00:23] Huang-Wei commented on #95
@patricklundquist thanks for offering the help!

@houz42 You're welcomed to submit your idea as a KEP, in https://github.com/kubernetes/enhancements/tree/master/keps/sig-scheduling. So that we can brainstorm the design during KEP review.

BTW: in terms of UX, it's debatable which direction is better: providing a generic plugin differentiating the behavior/combination by its args vs. providing mult

[2020-11-12 01:12] Huang-Wei commented on #104
@zhiyuone Apologize for the glitch. You're right, I created #105 to fix this.

[2020-11-12 03:20] #104 closed

[2020-11-12 06:53] seanmalloy commented on #84
PR kubernetes/k8s.io#1383 was merged. Looks like it works now.
[code]

/close

[2020-11-12 06:53] #84 closed

[2020-11-12 06:57] seanmalloy commented on #97
Fixed by #100.

/kind cleanup
/assign @yuanchen8911
/close

[2020-11-12 06:57] #97 closed

[2020-11-12 07:16] seanmalloy commented on #102
I'll attempt to answer this question although I'm not a scheduling plugins expert. Some of the other project maintains may be able to give a more correct answer.

Scheduling plugins are written in Go using the new-ish scheduling framework. You compile a new kube-scheduler binary which includes your plugin(i.e. a new scoring plugin). The kube-scheduler binary that you just complied would then repla

[2020-11-12 23:41] Huang-Wei commented on #102
It does build stuff at compile time, but atop "k8s.io/kubernetes/cmd/kube-scheduler/app":

https://github.com/kubernetes-sigs/scheduler-plugins/blob/011599fb15f2d57dbec7afa086814602d7f24664/cmd/scheduler/main.go#L39-L42

It's not deployed at runtime. Custom plugins have to be built along with the in-tree scheduler base, and then launched as sort a "default scheduler++".

[2020-11-13 07:27] seanmalloy commented on #5
/remove-lifecycle stale

[2020-11-13 07:40] Wenshiqi222 commented on #59
Thanks for your help，really.I did step by step as you suggested，but！！！！ Still got the same problem，here is what i did：
[code]
the “zz_generated.openapi.go”file really exits，but still got the undefined problem？

[2020-11-13 08:15] seanmalloy commented on #5
@Huang-Wei  I attempted to update the end user docs with the relevant bits in #107. I can add additional info to file `doc/release-guide.md` in a separate PR if you think additional details are needed for project maintainers.

[2020-11-13 08:27] seanmalloy commented on #59
@Wenshiqi222 do you have the environment variable `$GOPATH` set? Do you have the code for list repo location at `$GOPATH/src/sigs.k8s.io/scheduler-plugins`? Which git branch are you using master or release-1.18?

[2020-11-13 09:14] Wenshiqi222 commented on #59
i do set the $GOPATH and the location is correct, my git branch of k8s is master

[2020-11-13 19:08] Huang-Wei commented on #59
Can you go to folder `$GOPATH/src/sigs.k8s.io/scheduler-plugins` and run `go test ./pkg/...`? And please check my comment that Golang doesn't support `go test <file>`, so `go test ./qos_test.go` doesn't work.

[2020-11-13 19:11] peterfeifanchen commented on #102
I see thank you!

[2020-11-13 19:11] #102 closed

[2020-11-14 13:11] lianghao208 commented on #102
I can`t create KubeSchedulerConfiguration because there is no such Kind in group version kubescheduler.config.k8s.io/v1beta1. Did I miss some steps to configure my cluster? I can`t find any docs say anything about creating CRD or Apiservices to extend the apis first tho.
@peterfeifanchen
@Huang-Wei

[2020-11-14 20:28] Huang-Wei commented on #102
@lianghao208 I'm not following your question, and it's off this topic, right? If so, I'd suggest to describe your problem in details in a separate issue.

[2020-11-21 04:55] mateuszlitwin opened #110 "coscheduling queue sort plugin starves pods"
Currently `coscheduling` plugin is using `InitialAttemptTimestamp` to compare pods of the same priority. If there are enough pods with early `InitialAttemptTimestamp` which cannot be scheduled then pods with later `InitialAttemptTimestamp` will get starved - scheduler will never attempt to schedule them. This is because scheduler will re-queue "early" pods before "later" pods are attempted. Normal

[2020-11-24 06:45] seanmalloy opened #113 "ARM Container Images"
I would like to run the scheduler-plugins on ARM(specifically ARM64) hardware. I'd like an official scheduler-plugins container image for this use case. This would be in addition to the already provided x86_64 container image.

[2020-11-24 06:49] seanmalloy commented on #113
@Huang-Wei @denkensk @yuanchen8911 any concerns if we also provide official ARM64 container images?

I'm willing to do the work if no one has any concerns.

/kind feature

[2020-11-24 12:17] liiitleboy opened #114 "Coscheduling: When the resource is sufficient, the pod is always Pending"
apiVersion: "batch/v1"
kind: "Job"
metadata:
  namespace: test-ns
  name: tf-work-1
spec:
  template:
    metadata:
      labels:
        pod-group.scheduling.sigs.k8s.io/name: tf-work
        pod-group.scheduling.sigs.k8s.io/min-available: "2"
    spec:
      restartPolicy: "OnFailure"
      containers:
        - image: myimage
          name: tf-work-1
          command: [ "/bin/sh","-c","top -b

[2020-11-24 12:28] denkensk commented on #114
preFilter is enhanced feature to reduce the overall scheduling time for the whole group. It will check the total number of pods belonging to the same PodGroup. If the total number is less than minAvailable, the pod will reject in preFilter, then the scheduling cycle will interrupt. And the preFilter is user selectable according to the actual situation of users. If the minAvailable of PodGroup is r

[2020-11-24 12:31] denkensk commented on #114
And It is recommended to add your cluster information

[2020-11-24 12:35] liiitleboy commented on #114
thanks,how can I disable the prefilter?
K8S 1.18
请问这玩意怎么禁用，集群信息是指什么

[2020-11-24 12:40] denkensk commented on #114
Replace config like this
[code]

[2020-11-24 12:43] denkensk commented on #114
Update for 1.18

[code]

[2020-11-24 12:53] liiitleboy commented on #114
I use command ：
kubectl replace -f x.yaml

kubectl get KubeSchedulerConfiguration

can you give me any help?

[2020-11-24 20:58] Huang-Wei commented on #113
@seanmalloy that sounds good to me :)

[2020-11-24 21:10] seanmalloy commented on #113
Cool. I'll assign this to myself when I'm ready to start working in it. Should be fairly soon.

[2020-11-24 23:31] zorro786 opened #116 "Autogen files are not updated on running `make autogen`"
Using Go version (1.14 and 1.15) on OSX, I am unable to generate code gen files for types defined under `pkg/apis/config/types.go` and `pkg/apis/config/v1beta/types.go`.

[code]

The command runs successfully but zz_generated* files are not updated.

[2020-11-25 00:18] Huang-Wei commented on #116
@zorro786 please run `hack/update-codegen.sh` and ensure scheduler-plugins code are put under $GOPATH.

[2020-11-25 00:32] zorro786 commented on #116
Tried that too
[code]
Both from $GOPATH directory and outside that. Doesn't generate any files.

[2020-11-25 04:03] TomLan42 commented on #114
I have experienced a similar problem when I am testing the coschedulnig plugin with Kubemark.

I prepared 2 hollow-nodes, each with 8 GPU. Then I submit several dozens of jobs sequentially (i.e. 60 jobs in total, submit every 15 seconds, each job runs for around 30 seconds), each requiring 1-8 GPU cards. I would work fine when there were sufficient GPU resources and every pod in a job could get al

[2020-11-25 10:40] yuzhiquan commented on #25
/cc

[2020-11-25 14:13] AlexeyPerevalov commented on #113
we also interested in arm64 image, I already added it for https://github.com/k8snetworkplumbingwg/sriov-network-device-plugin. So I'm in line for the task too ), but only since the next week.

[2020-11-27 05:45] TomLan42 opened #117 "Concerns for potential deadlocking Issue"
I have experienced a similar problem when I am testing the coschedulnig plugin with Kubemark.

I prepared 2 hollow-nodes, each with 8 GPU. Then I submit several dozens of jobs sequentially (i.e. 60 jobs in total, submit every 15 seconds, each job runs for around 30 seconds), each requiring 1-8 GPU cards. It would work fine when there were sufficient GPU resources and every pod in a job could get a

[2020-11-30 09:48] mixalako opened #118 "Custom Scoring Plugin"
Hello everyone, I would like to create my **own scoring plugin** , for example myallocation.go which favors nodes the widest fraction of CPU and memory. I've realized that all i have to do is register my plugin in algorithmprovider/register.go and then create my plugin integrating into the scheduling framework.Do i also have to make an myallocation_test.go before i compile the whole project and ru

[2020-12-01 01:30] Huang-Wei commented on #118
That's right, but usually you don't need to manipulate that explicitly - you can use `app.WithPlugin` to get your plugin registered, which does the heavy-liftings underneath:

https://github.com/kubernetes-sigs/scheduler-plugins/blob/1708d81985c996ca852b2472c2e89dfa7e4f9f3a/cmd/scheduler/main.go#L43-L50

A test is optional but highly recommended. Running is a secondary scheduler may fall into reso

[2020-12-01 01:56] Huang-Wei commented on #110
This sounds a reasonable optimization. @denkensk @cwdsuzhou thoughts?

[2020-12-01 02:48] denkensk commented on #110
@mateuszlitwin @Huang-Wei
We may talk about it In the beginning. https://github.com/kubernetes/enhancements/pull/1463#discussion_r376465798
If we use the LastFailureTimestamp as the Normal scheduler. It will lead to undefined behavior in the heap.

[2020-12-01 03:09] Huang-Wei commented on #110
Ah true, I fail to notice that point.

@mateuszlitwin The failed PodGroup with an earlier timestamp will go through an internal backoff period, so that latter PodGroup is actually able to get scheduled, isn't it? If not, are you able to compose a simple test case to simulate this starvation?

[2020-12-01 17:20] AlexeyPerevalov commented on #116
hack/update-codegen.sh count on scheduler-plugins situated at path $HOME/go/src/sigs.k8s.io/scheduler-plugins,
where you GOPATH is $HOME/go
so if your scheduler-plugins repo outside of $GOPATH/src/sigs.k8s.io the place where generated files will be is $HOME/go/src/sigs.k8s.io/scheduler-plugins.
Are you expect it at you current directory e.g. $HOME/src/github/kubernetes-sigs/scheduler-plugins?

[2020-12-01 17:58] zorro786 commented on #116
@AlexeyPerevalov Thank you for clarification. My directory was `$GOPATH/src/github.com/k8s.io/scheduler-plugins`. It will be great if the script takes care of copying over files from `$GOPATH/src/sigs.k8s.io/scheduler-plugins`, if generated outside GOPATH.

[2020-12-01 18:07] Huang-Wei commented on #116
@zorro786 $GOPATH/src/github.com/k8s.io/scheduler-plugins is not a legal path. As @AlexeyPerevalov mentioned, you should use `$HOME/go/src/sigs.k8s.io/scheduler-plugins`. Similarly, for Kubernetes development, you should put k8s src code in `$HOME/go/src/k8s.io/kubernetes`. `github.com` shouldn't exist.

It's not the case. It's that the GOPATH should be legal.

[2020-12-01 18:50] Huang-Wei commented on #116
[code]

[2020-12-01 19:40] mixalako commented on #118
Thank you for the response @Huang-Wei  , just to be clear i would like to create some new plugins , enable them and disable some of the default scheduler plugins . In order to test for differences between the two different set of plugins i would like to deploy two different schedulers. Is there any other way that you would recommend or just what i mentioned above will work just fine .(Conclusion o

[2020-12-01 20:45] Huang-Wei commented on #118
@mixalako Running multiple schedulers is always good for testing purposes.

As you're already attempting to exercise scheduler framework, the other option is to use multiple profiles in a **single** customized scheduler to simulate different scheduling "flavors". For example, profile "default-scheduler" for vanilla scheduling behavior, and other profiles to exercise enabling customized plugins as

[2020-12-01 20:52] zorro786 commented on #116
@Huang-Wei I see, but isn't the point of go mod integration in K8s to allow development outside GOPATH? I just found an issue which discusses this https://github.com/kubernetes/kubernetes/issues/86753

[2020-12-01 21:04] Huang-Wei commented on #116
That's the ultimate goal. But we're not there yet :)

[2020-12-01 21:07] zorro786 commented on #116
Got it, then if we can specify this in docs (of at least scheduler-plugins) that development should be done in valid GOPATH, it will save some trouble :)

[2020-12-02 00:32] Huang-Wei commented on #117
@TomLan42 Thanks for the report. What's your workload spec in terms of their GPU request and PodGroup settings? and how many pending Pods in total?

BTW: It looks to me your case is, although not exactly the same, similar to the test case here:

https://github.com/kubernetes-sigs/scheduler-plugins/blob/1708d81985c996ca852b2472c2e89dfa7e4f9f3a/test/integration/coscheduling_test.go#L322

[2020-12-02 14:56] mixalako commented on #118
Thanks again for everything @Huang-Wei  , only thing i can find at KubeCon link is a pptx. Because i am new to this , i would appreciate if you gave some advice or promp me somewhere, on how to take advantage of the framework and how to use it in general. In my case , i want to take advantage of prometheus metrics in a scoring plugin , so for testing purposes disable all resource related plugins a

[2020-12-02 15:34] damemi commented on #118
To write a custom plugin, you need to compile them into a custom-built scheduler like @Huang-Wei mentioned above. I would recommend the [scheduler framework enhancement](https://github.com/kubernetes/enhancements/blob/master/keps/sig-scheduling/624-scheduling-framework/README.md) for more info on this (specifically the section on "out-of-tree plugins" may be helpful).

To disable other plugins and

[2020-12-02 17:58] AlexeyPerevalov commented on #116
I think it worth extend documentation of scheduler-plugin. @Huang-Wei how do you see on this, if I'll submit patch for it?

[2020-12-02 19:12] Huang-Wei commented on #116
@AlexeyPerevalov Yes, please. That would be very appreciable!

[2020-12-03 00:57] yuanchen8911 opened #120 "Use structured logs"
Logging in Kubernetes 1.19  has been migrated to the structured format. Two new methods are added to `k8s.io/klog/v2` library: `InfoS `and `ErrorS`. Should we update the scheduler plugins' logging calls to the structured logs and use the structured format in future logging?

Refs
-  https://kubernetes.io/blog/2020/09/04/kubernetes-1-19-introducing-structured-logs/
-  https://github.com/kubernetes/

[2020-12-03 03:12] damemi commented on #120
Yeah, this would be a good thing to work on. We've already done some work to switch our logs to structured in the descheduler too

[2020-12-03 04:11] Huang-Wei commented on #120
@yuanchen8911 SGTM. But before starting, it'd be good to have a document listing basic principles to guide developers how and when to use structural logging. Moreover, if we want to transfer to structural logging entirely, we'd better come up with a CI script to guard that as well.

BTW: I recalled @damemi raised an issue in k/k to improve logging, right?

[2020-12-03 07:08] seanmalloy commented on #113
I have this all sorted out for deschdduler. See https://github.com/kubernetes-sigs/descheduler/pull/449 for reference, so now it should be fairly easy for me to get this setup here.

Hoping to have a PR submitted in the next few days.

/assign

[2020-12-03 08:23] AlexeyPerevalov commented on #116
/assign
/kind documentation

[2020-12-03 14:34] damemi commented on #120
@Huang-Wei yep, that issue is here: https://github.com/kubernetes/kubernetes/issues/91633

[2020-12-03 17:04] seanmalloy commented on #120
/kind cleanup

[2020-12-04 02:51] cwdsuzhou commented on #110
+1 for this

[2020-12-04 11:23] mixalako opened #121 "Register a new plugin"
i am trying to make the entire kubernetes direcotry with a custom scoring plugin added named myallocated.go. I have registered my plugin through app.WithPlugin function
[code]
Then in algorithmprovider/registry.go i enabled it as a scoring plugin with a weight = 2.
[code]
Then i registered MyAllocatedArgs in apis/config/register.go
[code]
But during make of deepcopy-gen the DeepCopyObject function

[2020-12-04 13:57] damemi commented on #121
With the scheduling framework, it is unnecessary to modify code directly in the main kubernetes/kubernetes repo. The function you are using `app.WithPlugin` is the correct way to register a new plugin, meaning you don't need to add it to `algorithmprovider/registry.go` (that file maintains the list of default in-tree plugins, and `WithPlugin()` handles your new plugin appropriately).

I would reco

[2020-12-04 20:10] mateuszlitwin commented on #110
Might be hard to design a simple test.

Issue occurred multiple times in the production environment where we had 100s of pods pending and 1000s of nodes to check. I observed that newer, recently created, pods were not attempted by the scheduler (based on lack of scheduling events and relevant logs), however older pods were attempted on a regular basis (but could not be scheduled because their sche

[2020-12-05 10:15] liiitleboy opened #123 "Coscheduling:uninstall error"
I want to try to use this component offline, so I need to uninstall and then install it again. But I had a problem with the uninstall process. Do I need to connect to the Internet when I unload? I push the image（acs/kube-scheduler-update && acs/kube-scheduler） to my docker warehouse. Can I use it offline?Thanks.

我想尝试离线使用这个组件，所以我需要先进行卸载，然后重新安装。但是我在卸载过程遇到了问题。卸载也需要联网吗，我把acs/kube-scheduler-update和acs

[2020-12-07 02:39] cwdsuzhou opened #125 "Unschedulabelable pods may cause co-scheduling group not scheduled in time"
Current Pre-filter logic  may add pod to unschedulabe queue when there not enough pods having the same poggroups. There is chance that the pods in  unschedulable queue need long time to dequeue(may>60s), which may case the group can not be scheduled in time.

IMO, we can take one of following actions:
1. remove the logic about checking pod numbers
2. add a Func to framework to solve this issue abs

[2020-12-07 04:11] jackielyc opened #127 "how to install coscheduling?"
I don‘t find any related information in this git.

[2020-12-07 15:13] damemi commented on #127
Hi @jackielyc, to run the coscheduling plugin you'll need to compile it into a custom scheduler and deploy that scheduler in your cluster, then it will be available to enable just like any other plugin.

One option to do that is to just build this repo, which will include all the default (in-tree) scheduler plugins as well as any that are hosted here. Or, you can use this repo as an example to bui

[2020-12-08 01:35] Huang-Wei commented on #125
The current logic is using podLister to retrieve pods belonging to the same PodGroup. Are you implying at time T, only part of the Pods are present in podLister?

[2020-12-08 02:00] Huang-Wei commented on #110
ok, it sounds like a head of line blocking problem. Have you tried to increase the backoff and flush settings to mitigate the symptom? (I know it's just a mitigation :))

Totally understood the pain point here.

The queue sort design of co-scheduling is that we want a group of Pods to be treated as a unit to achieve higher efficiency, which is essential in a highly-utilized cluster. While in vanil

[2020-12-08 02:47] cwdsuzhou commented on #125
Yes

[2020-12-08 02:54] cwdsuzhou commented on #110
Actually, we have a similar feature request  about exposing more funcs in frameWorkHandler to ensure the pods belongs sorting in `ActiveQueue` together.

[2020-12-08 19:31] seanmalloy commented on #118
/kind support

[2020-12-08 19:33] seanmalloy commented on #121
/kind support

[2020-12-09 02:54] LiWeiJie opened #129 "Can I add annotations/labels to the pod during the scheduling process?"
I deployed a custom scheduler to implement the extension points of preFilter, Filter and QueueSort.
Is there a way to add the annotations/labels of pod in these extension points?

[2020-12-09 05:06] seanmalloy commented on #129
/kind support

[2020-12-09 07:43] yuchen-sun commented on #25
@Huang-Wei
Sorry for the long delay.
For `prefilter` plugins, i hava a idea about quota.
we can use prefilter to limit pods which has **quote/resource-name:value** label.
Only when this **namespace resource usage + this pod request** <= **resources-quota-value**,return **Success**

[2020-12-09 08:07] denkensk commented on #25
@yuchen-sun  Thanks
We have a design document https://github.com/kubernetes-sigs/scheduler-plugins/tree/master/kep/9-capacity-scheduling , you can see if it is similar to your idea

[2020-12-09 08:48] yuchen-sun commented on #25
@denkensk  Thanks for the reply.
This design document looks good.It can improve resource utilization.
My idea was simply to allow one user to use only a limited amount of resources.

BTW: About this design doc,it similar to our internal ai platform.But,we are not allowed to  preempt,because some ML tasks cannot be interrupted.

[2020-12-10 09:14] denkensk commented on #25
@yuchen-sun
Thanks
We can work together to make it better.

[2020-12-11 02:28] Huang-Wei opened #131 "Controller logic to sync ElasticQuota"
#73 doens't cover the controller logic to sync ElasticQuota into etcd. It would be to add controller logic covering that. And when it's available, it may be possible to prune the scheduling logic / data structure.

/assign @denkensk

[2020-12-11 02:30] Huang-Wei opened #132 "Update ElasticQuota KEP"
There are some preemption cases not being explained clearly in the ElasticQuota KEP: https://github.com/kubernetes-sigs/scheduler-plugins/pull/73#discussion_r540317200. It'd be good to update the KEP's story section.

/assign @denkensk .

[2020-12-12 01:41] Huang-Wei commented on #110
@mateuszlitwin The upstream is attempting (very likely I will drive this in 1.21) to provide some efficient queueing mechanics so that developers can control the pod enqueuing behavior in a fine-grained manner.

Here are some references:

- https://docs.google.com/document/d/1Dw1qPi4eryllSv0F419sKVbGXiPvSv6N_mJd6AVSg74/edit#
- https://github.com/kubernetes/kubernetes/pull/92206#issuecomment-662609

[2020-12-12 01:57] zorro786 commented on #116
@AlexeyPerevalov I see all files generated properly except `pkg/apis/config/v1beta1/zz_generated.defaults.go` This file does get generated as the following:

[code]

Per `pkg/apis/config/v1beta1/defaults.go` it should add functions here. Anything extra to be done for this?

[2020-12-12 02:00] Huang-Wei commented on #116
@zorro786 The defaulter-gen doesn't work for me as well :) You have to follow the current pattern to manually register your defaulter function. But let me know if you find a better way.

[2020-12-16 23:40] Huang-Wei commented on #129
It's not recommended to mutate a Pod during the scheduling cycle.

[2020-12-21 07:03] AlexeyPerevalov commented on #116
@Huang-Wei I think this issue could be closed.

[2020-12-22 00:36] zorro786 opened #137 "Allow dynamic change of scheduler plugins in a profile"
Currently the configuration of scheduler profiles and plugins within is static for the lifetime of scheduler run. This prevents dynamically changing plugins for valid reasons. For example, [score plugins](https://github.com/kubernetes-sigs/scheduler-plugins/blob/master/kep/61-Trimaran-real-load-aware-scheduling/README.md) that depend on real time metrics might need to be substituted with other plu

[2020-12-22 00:38] zorro786 commented on #137
@Huang-Wei @ahg-g

[2020-12-22 03:10] denkensk commented on #137
+1
It will be very useful if the configuration can be hot-loaded.

[2020-12-22 03:19] zorro786 commented on #137
As @ahg-g noted in scheduler SIG meeting, there are two solutions feasible to this and each has its own valid use cases:

1) Changing loaded plugins in registry from within the code.
2) Have an external controller that changes the configuration on the fly.

Since the control of "when to change" lies inside plugin code for metrics, 1) will provide better solution. We should however make it extensib

[2020-12-22 05:11] seanmalloy commented on #137
/kind feature

[2020-12-29 14:10] xrmzju commented on #129
binding  api in bind plugin may help this

[2021-01-05 06:21] Huang-Wei commented on #63
This has been stale.

[2021-01-05 06:21] #63 closed

[2021-01-06 02:11] ahg-g commented on #137
Just to clarify a bit more the two options:

1) Change the set of plugins that get executed in each scheduling cycle. The idea here is to have a "skip" flag for each plugin that is initialized to false at the beginning of each cycle, the skip flag can be set to true through perhaps a PreFilter plugin or perhaps a special extension point that we add specifically for that. However, this is dangerous

[2021-01-06 15:29] damemi commented on #137
I think the 2 options can serve different purposes. Option 1 makes sense for programmatic decisions, for example when if a developer wants to make their plugin dependent on the successful execution of another plugin (as in the case with the metrics/Trimaran plugins)

Option 2 is something that I've seen non-developers request, and I think that it just makes sense for a controller to observe change

[2021-01-06 19:16] Huang-Wei commented on #116
Close this as [doc/develop.md](https://github.com/kubernetes-sigs/scheduler-plugins/blob/master/doc/develop.md) covered this.

[2021-01-06 19:16] #116 closed

[2021-01-21 04:59] renukamanavalan opened #140 "Write scheduler plugin in python"
Hi,
I would like to write a plugin for  extension points, like "Filter", "Permit", "PreBind" in python.

I expect that this should be feasible.

Can someone please point me to the relevant doc and a sample ?

Thank you in advance!
--Renuka

[2021-01-21 05:37] Huang-Wei commented on #140
@renukamanavalan Given that the plugins need to be compiled with the scheduler base, so unfortunately it's not applicable to write plugins using non-Go languages.

[2021-01-23 07:41] #140 closed

[2021-01-24 13:51] AlexeyPerevalov commented on #140
@renukamanavalan
Probably the way of calling python code will be as follows GO -> CGO -> PYTHON code, or GO -> RPC -> PYTHON, but it's looks like over-engineering.
From my point of view, if you just want to assign node to pod (IOW to track down new pods and set nodeName into it and then patch) it's better just to use official python client: https://github.com/kubernetes-client/python
For reference

[2021-01-24 14:51] renukamanavalan commented on #140
Thanks Alexey!
This is very helpful.

[2021-01-24 15:10] renukamanavalan opened #141 "Consultation request: Need to add a custom steps in scheduling"
Hi all,
**Requirement:**
Install a daemonset across all matching nodes. When kubernetes is ready to create a pod for a node, I would like to do few things.

a) **Limit concurrent updates to N**,
     Say kubernetes is about to deploy to 100 nodes, say N=2, I would like to streamline updates as 2 at a time.
     Create pods for 2 node, wait for them to go running/timwout and create next two. Repeat

[2021-01-25 13:55] damemi commented on #141
a) and b) sound similar to coscheduling or batch scheduling to me. c) could be an extender, or maybe some kind of bind/post-bind plugin? (depending on what kind of external resource you're referring to).

for d), I think that is out of scope of the scheduler, since once a pod is created we don't care about it anymore. This is probably more like a readiness/liveness check or perhaps a deployment ho

[2021-01-28 00:10] Huang-Wei commented on #82
/remove-lifecycle stale

[2021-01-28 01:10] Huang-Wei commented on #141
Hmm... Given that you want to control the **creation** behavior (sequence or pre/post check) of Pods, IMO it's more favorable to be accomplished using a customized controller or admission webhook instead of scheduler.

[2021-01-28 03:48] denkensk commented on #141
+1
a) b) c) is to control the behavior of pod creation. I think an independent operator is more favorable.
Webhook is better than prefilter for c). ^_^ But Prefilter is also a choice.

[2021-01-28 06:14] Huang-Wei commented on #85
Close this issue since it's a mis-configuration.

[2021-01-28 06:14] #85 closed

[2021-01-28 06:17] Huang-Wei commented on #49
We will revisit it once the new implementation based CRD is released.

/remove-lifecycle stale

[2021-01-28 06:18] Huang-Wei commented on #70
Inactive for 3 months. I suppose https://github.com/kubernetes-sigs/scheduler-plugins/issues/70#issuecomment-705134720 resolved the issue.

Feel free to reopen.

[2021-02-09 21:15] wangchen615 opened #144 "Support Trimaran Plugins to run independently in clusters with pre-installed monitoring stack"
Right now, trimaran plugins rely on an external data service [`load-watcher`](https://github.com/paypal/load-watcher) to be running in the same cluster to expose real-time node metrics.

We want to add support in Trimaran to also use `load-watcher` as in a library mode.

In this way, `load-watcher` libs can be directly imported into trimaran plugins. `load-watcher` libraries can retrieve data dire

[2021-02-10 05:22] seanmalloy commented on #144
/kind feature

[2021-02-11 19:51] Huang-Wei commented on #59
No response from https://github.com/kubernetes-sigs/scheduler-plugins/issues/59#issuecomment-726981021.

Closing this issue. Feel free to reopen it.

[2021-02-11 19:51] #59 closed

[2021-02-16 22:23] yuanchen8911 opened #145 "capacity scheduling plugin with elastic quotas"
1. It seems` preFilter` plugin compares the current pod's request with `ElasticQuota'`s max. Should it check the sum of the requests of all pods in the namespace instead? Otherwise, a namespace can use more quotas than `max` specified in ElasticQuota, which is counterintuitive.
https://github.com/kubernetes-sigs/scheduler-plugins/blob/b7c57017dde2705fa7aa4ca5e7b6b654a68baa4b/pkg/capacityscheduling

[2021-02-16 22:24] yuanchen8911 commented on #145
/kind feature

[2021-02-17 01:03] yuanchen8911 opened #146 "scheduler plugin output is not written to the scheduler log file"
I run kube-schedue with out-of-tree plugins. None of the messages generated by the plugins from `klog.Info(f)`, `klog.Warning(f)`or `klog.ErrorS` is written to the scheduler's log file though `kubectl get events` can show these messages correctly.

Any suggestion would be appreciated!

[2021-02-17 01:03] yuanchen8911 commented on #146
/kind support

[2021-02-20 03:15] xq2005 commented on #145
scheduled pods are recorded in elastic quota when reserve plugin is called. The overUsed already calculate scheduled pods in the same namespace.

https://github.com/kubernetes-sigs/scheduler-plugins/blob/b7c57017dde2705fa7aa4ca5e7b6b654a68baa4b/pkg/capacityscheduling/elasticquota.go#L90

Quota is used in multi-tenants sharing the same cluster, which can limit resources usage for each tenant. And P

[2021-02-20 21:11] Huang-Wei commented on #146
@yuanchen8911 I cannot reproduce this problem, here is my repro steps:

1. Run `make` to build the kube-scheduler binary. In my env, it's located at `/root/go/src/sigs.k8s.io/scheduler-plugins/bin/kube-scheduler`
1. Switch k/k to 1.19 - which is the version current master is vendoring
1. Apply the following diff so as to use customized scheduler-plugin binary:
[code]
1. Run `hack/local-up-cluster.

[2021-02-21 09:01] #146 closed

[2021-02-21 10:35] Frans-Lukas opened #150 "Getting error when trying to enable coscheduler following develop instructions and tutorial"
Moved from https://github.com/kubernetes/website/issues/21128,

Using minikube, I compiled the scheduler-plugins image (according to [these instructions](https://github.com/kubernetes-sigs/scheduler-plugins/blob/master/doc/develop.md)), and set the image in my `/etc/kubernetes/manifests/kube-scheduler.yaml` file of my master node. I.e:
[code]
Which I thought would create the scheduler pod with the

[2021-02-22 04:05] yuanchen8911 commented on #145
OK, thanks!

A namespace can specify resource quotas per PriorityClass (https://kubernetes.io/docs/concepts/policy/resource-quotas/#resource-quota-per-priorityclass). Similarly, should elastic quota support priorityclass level sharing, i.e.,  sharing quotas of the same PriorityClass only?

[2021-02-22 04:08] yuanchen8911 commented on #145
Another desirable feature we'd like to have is elastic quota for a subset of namespaces (e.g., namespaces of a tenant in a multi-tenant environment) instead of all namespaces in the cluster.

[2021-02-22 06:53] denkensk commented on #145
I think it will be useful for us to meet the needs of more users. User can set the ElasticQuota for different PriorityClass in the same tenant. And It is helpful to integrate with resource quota.
@yuanchen8911

[2021-02-22 19:29] Huang-Wei commented on #146
@yuanchen8911 this issue is expected to be fixed by #149. Feel free to reopen.

[2021-02-22 21:53] yuanchen8911 commented on #146
Also, kubernetes 1.18 should use klog/v1.

[2021-02-22 22:44] Huang-Wei commented on #146
release-1.18 of scheduler-plugins does use klog v1:

https://github.com/kubernetes-sigs/scheduler-plugins/blob/v0.18.9/go.mod#L9

[2021-02-23 06:17] Huang-Wei commented on #114
https://github.com/kubernetes-sigs/scheduler-plugins/issues/114#issuecomment-733449270 is being discussed in #117. Close this issue.

[2021-02-23 06:17] #114 closed

[2021-02-23 12:23] zorro786 commented on #13
@yuanchen8911 Are you working on this?

[2021-02-23 12:23] zorro786 commented on #13
/remove-lifecycle stale

[2021-02-23 14:58] xq2005 commented on #150
@Frans-Lukas Could you paste `volumeMounts`, `volumes` detail and `/etc/kubernetes/coscheduling-config.yaml` content?

[2021-02-24 07:19] houz42 commented on #95
/close

[2021-02-24 07:19] #95 closed

[2021-02-24 09:35] Frans-Lukas commented on #150
`volumeMounts` and `volumes` of `/etc/kubernetes/manifests/kube-scheduler.yaml`:
[code]
`/etc/kubernetes/coscheduling-config.yaml`:

[code]

[2021-02-24 14:39] damemi commented on #150
`invalid configuration: no configuration has been provided, try setting KUBERNETES_MASTER environment variable` seems like possibly an issue with the kubeconfig. Is there a file `/etc/kubernetes/scheduler.conf` on the host?

[2021-02-24 14:50] xq2005 commented on #150
pluginConfig is required in /etc/kubernetes/coscheduling-config.yaml

https://github.com/kubernetes-sigs/scheduler-plugins/blob/ff6de60898d9d6867a94b37383ba641a6a7e0f0c/manifests/coscheduling/scheduler-config.yaml#L26-L34

[2021-02-24 15:05] Frans-Lukas commented on #150
@damemi `/etc/kubernetes/scheduler.conf` exists and contains:

[code]

@xq2005 I added the pluginConfig to my `/etc/kubernetes/coscheduling-config.yaml` but I do not understand what `kubeMaster` is?

Thanks!

[2021-02-25 01:12] xq2005 commented on #150
@Frans-Lukas Only adding kubeConfigPath in the pluginConfig is enough, you can ignore kubeMaster and have a try.

[2021-02-25 01:56] Huang-Wei commented on #98
/remove-lifecycle stale

[2021-02-25 01:58] Huang-Wei commented on #150
@Frans-Lukas As @xq2005 mentioned, setting `kubeConfigPath` as the args of coscheduing is a must. It's because the scheduler framework doesn't expose its original kubeConfig credentials, and hence the plugin has to provide it again; otherwise the plugin cannot initialize its CRD informer.

It's really a pain point, hope we can come out with a secure way to resolve it in the near future.

Ref #98,

[2021-02-25 02:03] Huang-Wei opened #151 "Script to verify incorrect CRD yaml"
Per https://github.com/kubernetes-sigs/scheduler-plugins/pull/148#issuecomment-783950924, it's favorable to have a script verifying incorrect/missing specs in individual CRD yaml, and automate this in CI.

/kind feature
/assign @penglei

[2021-02-25 02:04] Huang-Wei commented on #151
@penglei I cannot assign it to you. But you can `/assign` to get it self-assigned.

[2021-02-25 02:05] Huang-Wei commented on #127
Fixed by [doc/install.md](https://github.com/kubernetes-sigs/scheduler-plugins/blob/master/doc/install.md).

[2021-02-25 02:05] #127 closed

[2021-02-25 09:24] Frans-Lukas commented on #150
@Huang-Wei @xq2005
After adding
[code]
to our `coshceduler-config.yaml` file we are getting another error regarding what I think is a RBAC authentication error.

[code]

I tried looking up a resource called `podgroups`, but couldn't find anything that seemed to grant access to it.

[2021-02-25 15:37] xq2005 commented on #150
@Frans-Lukas podgroups is a CRD, it must be created with following yaml.

https://github.com/kubernetes-sigs/scheduler-plugins/blob/master/manifests/coscheduling/crd.yaml

[2021-02-25 15:45] xq2005 commented on #150
@Huang-Wei the install doc uses release v0.18.9, which is build by branch release-1.18. podgroups and pluginConfig are not included in branch release-1.18.

I think we can enhance the develop.md. Adding a part about how to create crd and modify scheduler-config.yaml for each plugin.

[2021-02-26 00:44] penglei commented on #151
/assign

[2021-02-26 10:35] Frans-Lukas commented on #150
It definitely feels like we are getting closer but now we are still getting authentication errors after trying to create cluster roles.

`
E0226 10:25:04.725393       1 reflector.go:127] sigs.k8s.io/scheduler-plugins/pkg/generated/informers/externalversions/factory.go:117: Failed to watch *v1alpha1.PodGroup: failed to list *v1alpha1.PodGroup: podgroups.scheduling.sigs.k8s.io is forbidden: User "sy

[2021-02-26 21:01] yuanchen8911 opened #154 "CapacityScheduling plugin enhancements"
@denkensk and I had a discussion about new features to the current CapacityScheduling plugin. Comments and feedback will be appreciated.

1. Per PriorityClass ElasticQuota

   Extend the current ElasticQuota to support per PriorityClass min and max quotas. A namespace's PriorityClass quotas can  only be shared with the same PriorityClass quotas of other namespaces.

   We will need to extend Elast

[2021-03-03 17:14] seanmalloy commented on #120
/remove-lifecycle stale

[2021-03-03 17:27] seanmalloy commented on #113
/remove-lifecycle stale

[2021-03-04 06:21] seanmalloy commented on #144
@wangchen615 can this be closed now that #152 is merged?

[2021-03-04 14:05] wangchen615 commented on #144
I thought it would be automatically be closed. But yes, definitely. Thanks.

[2021-03-04 14:05] #144 closed

[2021-03-05 16:07] seanmalloy commented on #89
This was partially completed in https://github.com/kubernetes-sigs/scheduler-plugins/pull/142, but I think additional work is needed.

/remove-lifecycle rotten

[2021-03-05 22:13] Huang-Wei commented on #123
Given it's using ACK helm charts. I guess raising an issue in ACK github or submitting an ACK ticket would better help you resolve this issue.

[2021-03-05 22:13] #123 closed

[2021-03-08 09:12] xq2005 commented on #150
podgroups' apiGroups is "scheduling.sigs.k8s.io"

[2021-03-08 22:06] seanmalloy commented on #113
Well ... it almost works. :-)

Log for the automated container image build job:
[code]

/reopen

[2021-03-08 23:51] #113 closed

[2021-03-09 03:22] seanmalloy commented on #113
Confirmed working. The AMD64 and ARM64 container images are being built and successfully pushed to the staging registry.

![Screen Shot 2021-03-08 at 9 21 34 PM](https://user-images.githubusercontent.com/685221/110413875-4c430180-8054-11eb-87ba-54c52e6b4ccd.png)
![Screen Shot 2021-03-08 at 9 22 03 PM](https://user-images.githubusercontent.com/685221/110413898-59f88700-8054-11eb-93a4-9d9d113edb2b.p

[2021-03-11 03:09] denkensk commented on #132
/remove-lifecycle stale

[2021-03-11 03:09] denkensk commented on #131
/remove-lifecycle stale

[2021-03-11 05:36] seanmalloy commented on #154
/kind feature

[2021-03-11 05:54] seanmalloy commented on #150
@xq2005 I submitted https://github.com/kubernetes-sigs/scheduler-plugins/pull/160 to back port your awesome docs to the `release-1.18` branch. Would you be wiling to update the docs on the master branch to reflect the required changes for the latest code on master?

[2021-03-11 05:57] seanmalloy commented on #150
/kind documentation

[2021-03-11 06:06] seanmalloy opened #161 "Release 0.19.x"
It's been a while since the last release. The master branch has been updated to be compatible with k8s v1.19. I'm proposing that a scheduler-plugins v0.19.x release be created.

Here is my rough checklist of items to complete for this effort.

- [x] update end user install docs #150
- [x] update end user install docs for new ARM64 container images
- [x] do the [release process](https://github.com/

[2021-03-11 06:12] seanmalloy commented on #161
@Huang-Wei and @denkensk does this sound reasonable? Am I missing any critical items that must be finished before another release is created?

I can submit a PR soon-ish to update the end user docs with the ARM64 container image details. @xq2005 would you be willing to handle the doc updates to resolve #150?

[2021-03-11 06:51] Huang-Wei commented on #161
@seanmalloy Thanks for driving this. The process looks pretty decent.

I just cut a `release-1.19` release and created a tag `v0.19.8`. I suppose the tag push would automatically create a staging image, right? But seems nothing gets generated at gcr.io/k8s-staging-scheduler-plugins/kube-scheduler. Did I miss something?

[2021-03-11 06:53] seanmalloy commented on #161
@Huang-Wei I'll check it tomorrow.

[2021-03-11 15:16] seanmalloy commented on #161
I see the kube-scheduler images is in the staging repo:
<img width="425" alt="Screen Shot 2021-03-11 at 9 13 08 AM" src="https://user-images.githubusercontent.com/685221/110808949-17989b00-824a-11eb-8303-741456478a6b.png">

https://console.cloud.google.com/gcr/images/k8s-staging-scheduler-plugins/GLOBAL/kube-scheduler?gcrImageListsize=30

I see the controller images is in the staging repo:
<img wi

[2021-03-11 15:22] seanmalloy commented on #161
I'll submit the image promotion PR soon.

[2021-03-11 15:40] seanmalloy commented on #161
Here is the image promotion PR: https://github.com/kubernetes/k8s.io/pull/1780

[2021-03-11 18:30] seanmalloy commented on #161
First docs PR: https://github.com/kubernetes-sigs/scheduler-plugins/pull/162

[2021-03-16 00:53] Huang-Wei commented on #150
@Frans-Lukas the doc was written for version v0.18.9, and that version doesn't have a PodGroup CRD. We're now working on releasing v0.19.X, which introduces PodGroup CRD, and hence the doc needs to be updated - not only the wordings, but also like RBAC, ServiceAccount. I've locally walked everything through, stay tuned.

/assign

[2021-03-16 03:06] seanmalloy commented on #161
I confirmed the container images are now available. Just need to finish off the end user docs now.

[code]

[2021-03-19 20:13] Huang-Wei opened #166 "controller should reconcile the status of PodGroup"
In the latest code, the controller doesn't quite reconcile the status of PodGroup:

- [x] Field `status.Scheduled` not displayed - fixed by #166

    If a PodGroup is created, we'd expect all [status fields](https://github.com/kubernetes-sigs/scheduler-plugins/blob/e7ca5ee3ba91f98af11c176f7fec2e2ab9e9cc0c/pkg/apis/scheduling/v1alpha1/types.go#L155-L174) to display properly. But for now it's only `

[2021-03-19 20:15] Huang-Wei commented on #166
@cwdsuzhou @denkensk could you take some time to look into the above 2 issues?

[2021-03-19 20:24] Huang-Wei commented on #110
/kind bug
/priority critical-urgent

I think it's still outstanding. I came across this when testing the v0.19.8 image. Here are the reproducing steps:

- Prepare a PodGroup with minMember=3
- Create a deployment with replicas=2
- Wait for the two pods of the deployment to be pending
- Scale up the deployment to be 3
- It's not uncommon the 3 pods get into a starving state, and cannot be scheduled

[2021-03-21 02:17] cwdsuzhou commented on #166
I will open a PR to resolve these issues

[2021-03-21 02:17] cwdsuzhou commented on #166
/assign

[2021-03-22 02:34] denkensk commented on #8
/close

[2021-03-22 02:34] #8 closed

[2021-03-22 02:35] denkensk commented on #110
Thanks @Huang-Wei
I will test and reproduce the problem.

[2021-03-22 17:40] Huang-Wei commented on #110
/assign @denkensk

[2021-03-24 05:18] #150 closed

[2021-03-24 14:48] seanmalloy commented on #161
Last PR before I consider this closed, https://github.com/kubernetes-sigs/scheduler-plugins/pull/167.

[2021-03-24 17:04] seanmalloy commented on #161
Everything is completed. Closing.

[2021-03-24 17:04] #161 closed

[2021-03-24 17:11] Huang-Wei commented on #161
Thanks @seanmalloy !

[2021-03-29 07:14] #70 closed

[2021-03-30 08:16] kiragoo opened #168 "The Pod of kube-scheduler : "found unknown field: unreserve""
Hi,all.
Recently,according to the docs:[release-1.19/install.md](https://github.com/kubernetes-sigs/scheduler-plugins/blob/release-1.19/doc/install.md)

The version of k8s cluster: v1.19.8

The container image version is v0.19.8 which was built by myself on making  release-image.amd64 according to [release-1.19/Makefile](https://github.com/kubernetes-sigs/scheduler-plugins/blob/release-1.19/Makefi

[2021-03-30 12:05] kiragoo commented on #168
According to the error info
 `     kubeConfigPath: /etc/kubernetes/scheduler.conf: v1beta1.KubeSchedulerConfiguration.Profiles: []v1beta1.KubeSchedulerProfile: v1beta1.KubeSchedulerProfile.Plugins: v1beta1.Plugins.ReadObject: found unknown field: unreserve, error found in #10 byte of ...|unreserve":{"enabled|..., bigger context ...|],"enabled":[{"name":"Coscheduling"}]},"unreserve":{"enabled":[{"n

[2021-03-30 12:46] tfy15jst opened #169 "RunContainerError for local image"
Hi!
I have been trying to make the scheduler use your image after building it locally, in order to try to modify it later on.
But i have run into a problem.
Following your [tutorial](https://github.com/kubernetes-sigs/scheduler-plugins/blob/master/doc/install.md) worked fine.
But when i try to make it use the local image instead of _k8s.gcr.io/scheduler-plugins/kube-scheduler:v0.19.8_, i get a Run

[2021-03-30 12:47] cwdsuzhou commented on #166
@Huang-Wei

to  resolve the `1st` issue, we just need remove `omitempty` of these fields.

about the 2nd issue, I have different opinions. If a group has been `Running` , it should not go back to `Pending` again. IMO, we should covert it to `Success`, `Failed` or `Unknown`. If no associated Pods exist, `Unknown` would be better. For other status, conversion should be similar.

WDYT?

[2021-03-30 17:04] Huang-Wei commented on #166
Thanks. Please raise a PR fixing that.

It sounds strange to use different states to show whether a PodGroup has been scheduled successfully **once** or not. Shouldn't the state just stick to its actual state, in a "stateless" manner?

[2021-03-31 04:05] cwdsuzhou commented on #166
This does not work. I raise a PR, just add default value to status

[2021-03-31 04:09] cwdsuzhou commented on #166
Usually, a PG would be related to a job, from the perspective of a job, job status should not be from `Running` to `Pending`

[2021-03-31 04:50] seanmalloy commented on #169
@tfy15jst which make command did you use the build the container images?

/kind support

[2021-03-31 05:26] seanmalloy opened #171 "Update Dependencies to k8s v1.20"
Now that the scheduler-plugins v0.19.x(k8s v1.19) release and branch have been created I believe the master branch could now be updated for k8s v1.20.

/kind feature

[2021-03-31 09:03] tfy15jst commented on #169
@seanmalloy minimally these are the commands i use.
[code]
My environment
- OS: Ubuntu (Intel CPU)
- minikube: v1.17.1
- k8s: 1.20.2

[2021-03-31 19:41] Huang-Wei commented on #166
/reopen
as the 2nd item hasn't been resolved.

I think the workflow of how status changes need to rethink a bit. Probably it should be accompanied by informational messages, so that users can know what phase a PodGropu is in, for what reason.

[2021-04-01 08:47] kiragoo commented on #168
[code]
According to the definition of Plugins struct, there is no plugin named unserve, maybe this caused the decode error.
if my understanding is correct, this means the example yaml in [release-1.19](https://github.com/kubernetes-sigs/scheduler-plugins/blob/release-1.19/doc/install.md) is incorrect. which shoud be like this
[code]

@seanmalloy I would be grateful for any kind of help! :)

[2021-04-01 18:21] Huang-Wei commented on #168
@kiragoo You're right, v1beta1 merged unreserve and reserve into one single extension point. I created #173 to correct the docs.

README.md under coscheduling src code= is correct, but install.md is not. Sorry for the trouble.

[2021-04-01 18:41] #168 closed

[2021-04-02 02:11] Huang-Wei commented on #89
I think most of the items have been covered in the install doc. @seanmalloy could you please list some items that you think are not covered yet?

[2021-04-02 02:12] kiragoo commented on #168
tks😊

[2021-04-02 02:44] seanmalloy commented on #89
@Huang-Wei I think the docs look good now. The missing parts were taken care of by #163.

/close

[2021-04-02 02:44] #89 closed

[2021-04-02 03:54] seanmalloy commented on #169
One thing to note is that the master branch of the scheduler-plugins repo is still at k8s 1.19.x. I'm not a kube-scheduler expert, but I think it is best to run the scheduler-plugins and k8s cluster at the same version. Although based on the error message you are seeing I don't think that is the problem.

You could try using [kind](https://kind.sigs.k8s.io/ )instead of minikube. It should work fin

[2021-04-02 18:14] Huang-Wei commented on #169
@tfy15jst  I also didn't run into any problems using minikube with `make local-image`.

Here are my steps:

- make local-image
- minikube start --kubernetes-version=v1.19.8
- minikube cache add localhost:5000/scheduler-plugins/kube-scheduler
- minikube ssh
    - modify /etc/kubernetes/manifests/kube-scheduler.yaml to use "localhost:5000/scheduler-plugins/kube-scheduler" as the image name
- verify

[2021-04-03 05:00] seanmalloy commented on #25
@Huang-Wei is the check list in the issue description up to date?

/remove-lifecycle stale

[2021-04-03 05:04] seanmalloy commented on #171
Looks like @Huang-Wei has a wip PR #177

/unassign

[2021-04-03 05:11] Huang-Wei opened #178 "test: reuse upstream integration framework utilities"
I'm wondering if we can reuse the upstream integration framework utilities, to create apiExtensionClient ([integration/framework/test_server.go](https://github.com/kubernetes/kubernetes/blob/v1.19.9/test/integration/framework/test_server.go)), instead of duplicating them in our repo:

- test/util/apiserver.go
- test/util/extension.go
- ...

/kind cleanup

[2021-04-03 05:12] Huang-Wei commented on #178
@cwdsuzhou what's the intention when you originally duplicated those files?

[2021-04-05 18:04] Huang-Wei commented on #171
Apologize that I didn't see your comment... I'd like to hold #177 for a while until we have a v0.19.9 release.

My plan is to include #143 in the new v0.19.9 release, and bump the master branch to v1.20 (#177).

@seanmalloy are you interested in cutting a v0.19.9 release?

[2021-04-05 18:20] Huang-Wei commented on #25
@seanmalloy I updated it a bit. Now it's up to date.

[2021-04-06 03:15] seanmalloy commented on #171
@Huang-Wei yes I can bump the dependencies to k8s v1.19.9 to prepare for a scheduler-plugins v0.19.9 release.

[2021-04-07 18:16] Huang-Wei commented on #125
/remove-lifecycle rotten

[2021-04-12 10:42] #5 closed

[2021-04-14 18:09] Huang-Wei opened #186 "[Doc] update the guide to enforce plugin name and pluginArgs"
The upstream scheduler decodes the pluginArgs withing the naming conversion: "plugin name" + "Args":

https://github.com/kubernetes/kubernetes/blob/74497632f4118e7989da73de0ed6f1268aeb64ad/pkg/scheduler/framework/runtime/framework.go#L421

So if out-of-tree plugins rely on pluginArgs, its plugin name and name of pluginArgs struct should also be following this naming pattern. Otherwise the decoding

[2021-04-15 03:04] lianghao208 commented on #186
I would like to fix this issue.

[2021-04-15 03:22] seanmalloy commented on #186
@lianghao208 awesome! Thanks for your help. It is greatly appreciated.

/assign @lianghao208

[2021-04-15 04:58] seanmalloy commented on #186
Looks like https://github.com/kubernetes-sigs/scheduler-plugins/pull/187 is attempted to resolve this issue.

[2021-04-15 05:00] lianghao208 commented on #186
@seanmalloy Yes, I noticed that

[2021-04-15 18:37] seanmalloy commented on #186
Closed by #187.

/close

[2021-04-15 18:37] #186 closed

[2021-04-16 08:50] fuine6 opened #188 "Can I use this plugin in gke?"
I use Google Kubernetes Engine.

In the second step of the [documentation](https://github.com/kubernetes-sigs/scheduler-plugins/blob/release-1.19/doc/install.md#install-release-v0198-and-use-coscheduling).

I cannot find **/etc/kubernetes/manifests/kube-scheduler.yaml** in gke.

It has only one file here.
[code]
[code]

Client Version: v1.20.5
Server Version: v1.19.8-gke.2000

[2021-04-16 17:13] Huang-Wei commented on #188
I guess you don't have privileges accessing the control plane of GKE.

@alculquicondor @ahg-g is there any extension a user can leverage to plumb in scheduler plugins?

[2021-04-16 17:29] alculquicondor commented on #188
You can only use plugins if you run a second scheduler in your nodes https://kubernetes.io/docs/tasks/extend-kubernetes/configure-multiple-schedulers/

[2021-04-16 17:31] seanmalloy commented on #188
/kind support

[2021-04-18 09:42] fuine6 commented on #188
I have tried [multiple schedulers](https://kubernetes.io/docs/tasks/extend-kubernetes/configure-multiple-schedulers/) and it works fine.

I am not sure how to use this plugin as a scheduler.

This is what I tried on gke, it seems to work, but I am not sure if I am using it correctly. I have some questions, this is my configuration.

### 1. Create scheduler-config.yaml
[code]

### 2. Create dockerf

[2021-04-19 13:41] alculquicondor commented on #188
1. When you kube-scheduler in the cluster, it uses in-cluster configuration, so you don't need to specify a kube-config.
2. You can have the yamls in separate files. Having them in one might be more convenient to do a single `kubectl apply`.
3. I'm not familiar with the coscheduling plugin, so I'll leave this to others.
4. @Huang-Wei is there any helm release for this repository?

Note that the co

[2021-04-19 17:36] Huang-Wei opened #189 "helm support and doc update"
Add helm support to ease the installation of scheduler-plugins:

- [ ] helm chart to run scheduler-plugin as a single scheduler (i.e., replacing the vanilla scheduler). This may need some extra manual steps
- [ ] help chart to run scheduler-plugin as a second scheduler

Also, we should update the doc:

- [ ] update the doc specifying the steps to use helm chart

[2021-04-19 17:37] Huang-Wei commented on #188
@fuine6 The doc you referred to was written to run it as a single scheduler - i.e., replacing the vanilla scheduler, which is not the case for GKE. So some steps won't fit as a secondary scheduler such as:

- "Apply extra privileges to system:kube-scheduler" - we will have to impose these privileges to a new ServiceAccount
- associate that ServiceAccount to the scheduler-plugin deployment

Created

[2021-04-20 03:54] FingerLiu commented on #189
Would like to help.
/assign
@Huang-Wei please check if the following  task split is OK:
1. add two helm chart in manifests dir
2. add helm chart install guide in `doc/install.md`

[2021-04-20 04:38] Huang-Wei commented on #189
Looks good. Thanks for offering the help!

[2021-04-21 18:17] yuanchen8911 opened #191 "Does noderesource plugin support GPU?"
If not,  how hard would it be to extend the plugin to include GPU resources?

https://github.com/kubernetes-sigs/scheduler-plugins/tree/master/pkg/noderesources

@Huang-Wei

[2021-04-21 21:17] yuanchen8911 commented on #191
If I'm understanding it correctly, it should work for GPU. GPU fits in the  category (`IsExtendedResourceName`)

[code]

https://github.com/kubernetes-sigs/scheduler-plugins/blob/7d969ada99a1af04e48b646c7770a261d8761f39/pkg/noderesources/resource_allocation.go#L108

[2021-04-21 22:14] Huang-Wei commented on #191
Yes.

[2021-04-21 22:49] yuanchen8911 commented on #191
Thanks.

[2021-04-22 16:44] #191 closed

[2021-04-24 00:08] yuanchen8911 opened #192 "About NodeResourcesAllocatable"
It looks like [noderesources plugin](https://github.com/kubernetes-sigs/scheduler-plugins/tree/master/pkg/noderesources)  actually provides a general framework (template) for facilitating the implementations of different scoring functions. The plugin defines a scorer function variable  `func(requested, allocatable resourceToValueMap, includeVolumes bool, requestedVolumes int, allocatableVolumes in

[2021-04-26 08:46] tfy15jst commented on #169
It appears that was the problem, as it now appears to work.

Thanks for all your help!

[2021-05-01 02:14] #117 closed

[2021-05-04 09:47] FingerLiu commented on #189
@Huang-Wei Hi, I found it a like complex to add a generic helm chart to run scheduler-plugin as a single scheduler since it depends on how the default scheduler is deployed. So I just added a chart to run it as a second scheduler in this PR https://github.com/kubernetes-sigs/scheduler-plugins/pull/193.

[2021-05-07 21:01] #121 closed

[2021-05-07 21:01] #118 closed

[2021-05-11 21:56] zorro786 commented on #137
/remove-lifecycle rotten

[2021-05-26 02:17] Huang-Wei commented on #98
This is implemented in the upstream on k8s 1.22 - https://github.com/kubernetes/kubernetes/pull/100644

/remove-lifecycle stale

[2021-05-28 07:19] denkensk commented on #49
The new implementation based CRD has been released.
/close

[2021-05-28 07:19] #49 closed

[2021-05-28 15:17] #129 closed

[2021-06-01 18:49] seanmalloy commented on #120
/remove-lifecycle stale

[2021-06-04 09:20] lianghao208 opened #199 "Scheduler plugin takes Nodes' Pods CIDR in into account"
Is that possible to take nodes' Pods CIDR in into account in scheduling phase?
I have met this situation multiple times:
Pods were bond to Nodes without enough Pod IPs to assign.
It leads to a fatal problem that Pods can't run normally since there was no IP to assign.
So is that possible to check if Nodes has enough Pod IPs to assign in scheduler plugin?

[2021-06-04 09:51] denkensk commented on #199
---

Yes. This is common when the density of pods in a node is relatively high. We set the MaxPod of node as the limit of pods   to address this issue. But I think we can also try to solve it in scheduler.

[2021-06-04 11:43] lianghao208 commented on #199
@denkensk Can I solve this issue by implementing a PreFilter plugin to ignore the nodes that have no IP to allocate( Simply determine if the pod already used up all the PodCIDR field from nodes resource).

[2021-06-08 12:15] denkensk commented on #199
Yes. I think it makes sense.  You can start with a simple proposal for your idea.

[2021-06-08 19:13] eecsliu opened #200 "coscheduler 1.18 slow to schedule pods"
Hi! I'm seeing an issue where multi-pod jobs may take a while to be scheduled with the coscheduler. This usually occurs when I start several jobs that each require the same resources and it happens whether or not I have the prefilter plugin enabled. With the prefilter enabled, it looks like I'm encountering the same delay described [here](https://github.com/kubernetes-sigs/scheduler-plugins/issues

[2021-06-09 04:00] denkensk commented on #131
/remove-lifecycle stale

[2021-06-09 04:00] denkensk commented on #132
/remove-lifecycle stale

[2021-06-09 06:29] denkensk commented on #154
/remove-lifecycle stale

[2021-06-09 06:34] denkensk commented on #200
Can you provide more information about your job?
Like the Cluster resources and your job yaml？

[2021-06-09 08:01] Tal-or opened #201 "Integration tests are falling"
**What happened:**
Calling ```make integration-test``` on a fresh clone of the repo end up with failure.

**What you expected to happen:**
The integration test should pass.

**How to reproduce:**
1. Clone a fresh copy using git
2. Execute integration-test using ```make integration-test```

The log can be found [here](https://storage.googleapis.com/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_sc

[2021-06-09 17:04] Huang-Wei commented on #201
@Tal-or it's a known timeout issue, and seems https://github.com/kubernetes/test-infra/pull/22212 didn't resolve it.

I'm pinging the test-infra expert to dig why it doesn't work, and update there.

[2021-06-09 17:33] Huang-Wei commented on #201
Found the root cause, we should set a go test timeout flag. #202 is working on it.

[2021-06-10 00:33] eecsliu commented on #200
I'm using a GKE cluster with a node pool containing 4 k80s. I'm running distributed ML workloads that I initialize with an app called Determined. I modify these jobs to be labeled with a group name and min available.  Here is an example of the job yaml:

[code]

[2021-06-10 12:37] Tal-or commented on #201
Tested it, Everything looks ok.
Closing the issue.
Thanks!

[2021-06-10 12:37] #201 closed

[2021-06-23 17:03] Huang-Wei commented on #13
@yuanchen8911 is this issue still valid?

[2021-06-23 18:08] Huang-Wei commented on #145
/remove-lifecycle rotten

[2021-06-27 01:49] #82 closed

[2021-06-27 04:52] #141 closed

[2021-06-28 14:42] wangyanghack commented on #199
There is situation that some cni plugin using ENI network interface to get the performance equivalent to the underlying network. Quantity of pods in a node depending on quantity of ENI and quantity of ip every ENI can be attached. So is that possible to check if Nodes has enough ENIs and free IPs on ENI  to assign in scheduler plugin?

[2021-07-04 09:09] yuchen-sun commented on #178
hello @Huang-Wei Do you already know his intention for doing so ?
When I was doing cleanup work, I ran into 2 problems.
1. apiextensions.k8s.io not found in TestFramework api server.
2. Why not process it here instead of refactoring it in the upstream https://github.com/kubernetes-sigs/scheduler-plugins/blob/master/test/util/scheduler.go#L31

[2021-07-07 02:42] yingjianwu199868 opened #211 "Capacity Scheduler Strange Preemption Behavior"
## Problem brief description
I am currently trying to deploy the capacity scheduler as a secondary Kubernetes scheduler into the AWS EKS cluster. I am able to deploy the scheduler but notices a strange preemption behavior. This behavior does not exist for a cluster with a single node but exists for a cluster with multiple nodes.

## Cluster information
My cluster has 10 machines, with each machine

[2021-07-08 12:28] denkensk commented on #211
Thanks for your issue.
I reproduced the issue according to your introduction and submit pr to fix it.
Please help to review it.

[2021-07-08 12:28] denkensk commented on #211
@yingjianwu199868

[2021-07-08 23:49] yingjianwu199868 commented on #211
@denkensk

Thanks for your update.

Currently, I am trying to build the image from your fixed github repo (https://github.com/denkensk/scheduler-plugins/tree/fix/release-eq-after-delete)

However, I encounter some problems.

After building the image, the scheduler pod keeps crashing and the output logs i get from the capacity scheduler pod looks something like:
[code]

I have also noticed that whe

[2021-07-09 00:31] denkensk commented on #211
@yingjianwu199868
Sorry, This problem is because my repo doesn't sync the tag version with upstream.  I have synced this.
Please clone and checkout it again.

[2021-07-09 05:39] yingjianwu199868 commented on #211
@denkensk

After experimenting with the same setup as before with the new implementation, there actually exist more problems, and the previous problem sometimes still exists. Furthermore, even the setup is the same, I sometimes get different strange behavior.

I have listed all the weird behavior I have seen with the important logs below, and hopefully, the logs are helpful.

For Scenario 1 and 2,

[2021-07-09 15:59] denkensk commented on #211
Thanks for your detailed description @yingjianwu199868  It's useful.  I update the code, please pull and rebuild again.
This is my experimentation.
#### Initially Create deployment 1
[code]
#### Initially Create deployment 2
[code]
#### Initially Create deployment 3
[code]
#### After creating deployment 3, deployment 1 looks like
[code]
#### After creating deployment 3, deployment 2 looks like
[co

[2021-07-09 20:55] yingjianwu199868 commented on #211
@denkensk

Thanks, after my local experimentation, those previously mentioned issues are solved.
However, a new issue comes up with this new setup.

## Four namespaces are created
[code]

## ElasticQuota Configuration
#### ElasticQuota for Namespace Quota1
[code]

#### ElasticQuota for Namespace Quota2
[code]

#### ElasticQuota for Namespace Quota3
[code]

#### ElasticQuota for Namespace Quota4
[c

[2021-07-10 01:45] denkensk commented on #211
Thanks for experimentation @yingjianwu199868
I add some logic to avoid expanding the scope of preemption and the message `Preempted by quota3/nginx-5b85c78645-99shw on node CapacityScheduling` is fixed. Please pull and rebuild again.
This is my experimentation.

#### Initially Create deployment 1
[code]
#### Initially Create deployment 2
[code]
#### Initially Create deployment 3
[code]
#### After

[2021-07-12 22:24] yingjianwu199868 commented on #211
@denkensk

Thanks for the fix!
Based on the testing with my cluster, it looks good now!

[2021-07-14 02:29] cwdsuzhou commented on #178
Sorry for delay.

as @yuchen-sun  told, extension api server is not supported it the framework. That is may initial intension.

[2021-07-15 02:59] yingjianwu199868 commented on #211
@denkensk

A quick question on the following setup:

## Four namespaces are created
[code]

## ElasticQuota Configuration
#### ElasticQuota for Namespace Quota1
[code]

#### ElasticQuota for Namespace Quota2
[code]

#### ElasticQuota for Namespace Quota3
[code]

#### ElasticQuota for Namespace Quota4
[code]

## Application Deployments Configuration
#### Deployments on namespace quota1
[code]

####

[2021-07-15 21:54] yingjianwu199868 commented on #211
@denkensk

After more testing, there exists another bug, where the scheduler does not preempt back the borrowed resources.

## Setup
## Two namespaces are created
[code]

## ElasticQuota Configuration
#### ElasticQuota for Namespace Quota1
[code]

#### ElasticQuota for Namespace Quota2
[code]

#### Deployments on namespace quota1
[code]

#### Deployments on namespace quota2
[code]

## Problem:
###

[2021-07-19 16:20] denkensk commented on #211
We will chose the latest pods as the candidate, please read the code below:
https://github.com/kubernetes/kubernetes/blob/33aba7ee025dfddcc140d20e9ca353ffd425f1ae/pkg/scheduler/util/utils.go#L84
@yingjianwu199868

[2021-07-19 17:04] denkensk commented on #211
Thanks for your description. @yingjianwu199868  I try to explain the problem clearly. The reason for this behavior is that we will choose the node firstly and then we will choose the right pod to preempt. This is mainly for compatibility with the original preemption logic of the default scheduler.  If we can delete the pods of the same node and have enough quota or resources for pod scheduling, we

[2021-07-20 11:28] pawankumar94 opened #216 "Synchronising with upstream kubernetes"
Hello,

We are working on designing a custom Kubernetes scheduler based on the scheduling framework.
We needed to know the best methodology we can adopt to keep in sync with the latest release of Kubernetes so that we can check for the inconsistencies and modifications to be made after each release on our end.

Any suggestion is highly appreciated

Thanks
Pawan Kumar

[2021-07-21 01:58] lianghao208 commented on #199
Yes, I think it needs some places to store each node's allocatable IPs for pods, either in node's `status.allocatable` field or in a CRD, WDYT?

[2021-07-22 07:42] denkensk commented on #216
There seems to be no particularly good way. I usually update the version to the latest Kubernetes version、build and run the some e2e test to check if inconsistencies.
You may need to make some changes to ensure that the compilation is successful.

[2021-07-26 16:14] #216 closed

[2021-07-26 17:48] pravarag commented on #151
@Huang-Wei I'd like to work on this issue

/assign

[2021-07-26 17:49] pravarag commented on #151
/remove-lifecycle rotten

[2021-07-26 18:13] #13 closed

[2021-07-26 19:43] pawankumar94 opened #221 "Integration of custom plugin in the kubernetes Scheduling framework"
Hello,

Greetings for the day!

I am looking here for suggestions/steps to follow for registering a custom plugin working according to my functionality for the Kubernetes cluster.

I am unable to find elaborative official documentation for creating a custom scheduler plugin and compiling the same for the cluster

I would be grateful if someone could help me on this

[2021-07-27 12:56] pravarag commented on #151
@Huang-Wei I'm guessing these are the steps I can take while trying to write a script for verifying CRD yamls as mentioned here: https://github.com/kubernetes-sigs/scheduler-plugins/pull/148#issuecomment-783950924

[2021-07-27 16:07] Huang-Wei commented on #151
@pravarag yes, that's correct. Moreover, you can also get inspiring ideas from the ["hack"](https://github.com/kubernetes/kubernetes/tree/master/hack) scripts under the k/k repo.

[2021-07-27 19:49] Huang-Wei commented on #221
To compile a local docker image, you can clone this repo and compose your plugin, and then run `make local-image` - this is documented in [develop.md](https://github.com/kubernetes-sigs/scheduler-plugins/blob/master/doc/develop.md).

Once you have the custom image, it depends on how you'd like to run it - replace the default scheduler, or run it as a secondary scheduler. [install.md](https://githu

[2021-07-30 06:39] wangyanghack commented on #199
@lianghao208 Yes, I agree with you. Checking nodes in cluster who use ENIs cannot use .spec.PodCIDR to calculate node's allocatable IPs for pods.

[2021-08-02 16:25] pravarag commented on #151
@Huang-Wei @damemi I've created a WIP PR https://github.com/kubernetes-sigs/scheduler-plugins/pull/222 though I'm still looking for ways to test the script. Kindly suggest if any changes/updates are required in the code.

[2021-08-02 19:35] Huang-Wei commented on #166
/remove-lifecycle rotten

[2021-08-03 07:56] pawankumar94 commented on #221
Hello ,

I have been trying to followup the mentioned steps  but I am facing a very strange issue, just, for example, I am using a custom plugin named foobar,  created this under "/usr/local/go/src/sigs.k8s.io/scheduler-plugins/pkg/foobar" and registered the plugin in scheduler-plugins/main.go . Now when I try to make local- image , I get the error as below 👍

[code]

[2021-08-07 00:26] yingjianwu199868 commented on #154
Hi all,

Quick question:
Is there any update about any of these three implementations?

Thanks,
Steven

[2021-08-10 07:01] denkensk commented on #154
@yuanchen8911
The discussion about the CapacityScheduling plugin is initial discussion. All of these have not yet been determined whether they need to be implemented. Do you have any other ideas or feedback about these？

[2021-08-10 07:02] denkensk commented on #154
@yingjianwu199868
The discussion about the CapacityScheduling plugin is initial discussion. All of these have not yet been determined whether they need to be implemented. Do you have any other ideas or feedback about these？

[2021-08-10 18:38] Huang-Wei commented on #171
It's already completed.

[2021-08-10 18:38] #171 closed

[2021-08-10 21:50] Huang-Wei commented on #125
https://github.com/kubernetes/kubernetes/pull/103383 provides a function to move pods proactively.

/milestone v1.22
/remove-lifecycle rotten

[2021-08-13 09:47] shuoshadow opened #225 "--leader-elect-resource-name flag not work"
I set --leader-elect-resource-name="trimaran"
![image](https://user-images.githubusercontent.com/10016360/129338823-505eaba1-68ac-44a2-a156-8d9ac964210c.png)

![image](https://user-images.githubusercontent.com/10016360/129338937-6297539b-7f51-4f5a-845a-63e4154516e3.png)

[2021-08-14 07:05] lianghao208 commented on #225
Have the trimaran configmap been created as your scheduler starting?

[2021-08-16 01:35] shuoshadow commented on #225
Yes, I had create  configmap, now i set resourceName and resourceNamespace, it's ok now, Thanks very much.

[2021-08-16 01:35] #225 closed

[2021-08-17 01:09] Huang-Wei opened #227 "Release 0.20"
- [x] follow the [release process](https://github.com/kubernetes-sigs/scheduler-plugins/blob/master/doc/release-guide.md) to create branches and tag (https://github.com/kubernetes/k8s.io/pull/2566)
- [x] document update (#230)

[2021-08-17 19:19] alculquicondor commented on #188
/close

[2021-08-17 19:20] #188 closed

[2021-08-18 02:34] shuoshadow opened #229 "Unable to decode an event from the watch stream"
![image](https://user-images.githubusercontent.com/10016360/129827091-b72a8055-edd3-45a6-a6e9-db1cea7793bb.png)

![image](https://user-images.githubusercontent.com/10016360/129827252-ab63974f-167f-41cc-97a9-dac24e291ed0.png)

![image](https://user-images.githubusercontent.com/10016360/129827351-6f505db1-1fbc-4173-bedd-d937604f339e.png)
the image build from master
how can i resolve this error?

[2021-08-18 06:08] Huang-Wei commented on #229
Could you provide the detailed steps to reproduce this issue? It's hard to help with just a couple of snapshots.

[2021-08-18 22:39] Huang-Wei commented on #221
@pawankumar94 If you want to just test in development, ensure the changes gets tested in unit tests or integration tests.

Regarding the building speed up, can you check the speed to run the `go build` command on your host machine (instead of inside a docker container)? BTW: you can also exclude the `controller` building part for plugin tests.

[2021-08-19 07:03] shenkonghui opened #231 "How to get KubeSchedulerConfiguration in your plugin?"
I wirte a plugin and add a crd. I need kubeconfig to generate restConfig. But I can not found how to import kubeconfig in KubeSchedulerConfiguration?  how to get it?

[2021-08-19 12:48] lianghao208 commented on #231
This configuration might help:
[code]

[2021-08-19 12:49] shenkonghui commented on #231
@lianghao208 Thank you for replying to me, but I want to know how to get it in the code

[2021-08-19 13:00] JaneLiuL commented on #120
Could I try to fix this issue as the good first issue that I can try to contribute to this gitrepository?
/assign

[2021-08-19 13:20] lianghao208 commented on #231
I think you need to add optional plugin config in KubeSchedulerConfiguration
[code]

the args `kubeconfigpath` can import the kubeconfig for your plugin.
For codes:
[code]

[2021-08-19 21:00] Huang-Wei commented on #231
Yes, currently it's ugly to inject into kubeConfig as a plugin arguments ([example](https://github.com/kubernetes-sigs/scheduler-plugins/blob/08bdab5692113a5fe2ba58eade7be637ef902045/pkg/apis/config/v1beta1/types.go#L38)).

Once we switch to Kubernetes 1.22 (now it's [1.21](https://github.com/kubernetes-sigs/scheduler-plugins/blob/08bdab5692113a5fe2ba58eade7be637ef902045/go.mod#L25) in this repo's

[2021-08-20 04:02] cwdsuzhou commented on #110
/reopen

[2021-08-20 04:04] cwdsuzhou commented on #110
This issue can be resolved now since bump  to 1.22.

I will open  a PR to do this

[2021-08-20 04:07] Huang-Wei commented on #110
Yes, the upstream scheduler framework surfaced an option to move pods back to activeQ: https://github.com/kubernetes/kubernetes/pull/103383. Coscheduling plugin can leverage that to move pods **_proactively_**.

/milestone v1.22
/assign

[2021-08-20 17:23] Huang-Wei opened #233 "include /vendor directory in the src code"
Followup of https://github.com/kubernetes-sigs/scheduler-plugins/pull/222#issuecomment-902788190:

There is always a debate on whether or not to commit the /vendor directory to a project's source code repo. Some projects (like k/k) do but some (like kind) don't.

As time goes, more and more questions regarding how to configure a compatible dev env or perform local build surface, so I'm planning to

[2021-08-20 17:50] damemi commented on #233
my thoughts are already shared :) but I support this

[2021-08-20 20:24] yingjianwu199868 commented on #154
@denkensk

Sorry for the late reply.
I am currently looking into the second point mentioned previously, which is related to allowing one namespace to borrow unused resources from a subset of the namespacecs.

I see that there is another SIG project called Hierarchical Namespace, which might be helpful, and I have attached the link below.
https://github.com/kubernetes-sigs/hierarchical-namespaces

[2021-08-23 15:51] mateuszlitwin commented on #110
@Huang-Wei @cwdsuzhou Thank you for working on this.

Can you elaborate on how new feature can be used to address this issue? If I understand correctly, new feature allow us to put Pods to the queue more often. However, I think root of the problem is how pods are sorted in the active queue, not when/whether pods are inserted into the queue. For example, if we could guarantee that PodGroup pods wer

[2021-08-23 18:05] Huang-Wei commented on #110
@mateuszlitwin you're right, the feature is more focused on the inefficiency (or starvation) issue that different portions of a PodGroup may not converge in activeQ. So it's for one single PodGroup, while your issue is on multiple PodGroups. But the feature can, to some extent, help as it can efficiently schedule the early-queued PodGroup, and hence not blocking the latter-queued PodGroups.

This

[2021-08-23 23:33] Huang-Wei commented on #192
@yuanchen8911 in k8s 1.22, a new noderesources Score plugin (https://github.com/kubernetes/kubernetes/pull/101822) unified old individual resource scoring plugins by providing a "ScoringStrategy".

If @patricklundquist is interested, a PR is welcome to merge NodeResourcesAllocatable plugin to the upstream.

But please note that, with current noderesources Score plugin implementation, only one "Sco

[2021-08-24 03:46] seanmalloy commented on #98
/remove-lifecycle stale

[2021-08-24 03:48] seanmalloy commented on #200
/kind support

[2021-08-24 04:20] seanmalloy commented on #131
@denkensk can this issue be close now that #212 is merged?

[2021-08-24 04:26] seanmalloy commented on #189
A helm chart and docs have been added for running the scheduler plugins as second scheduler.

Still need to figure out how to have a helm chart deploy the scheduler plugins as a single scheduler. As mentioned by @FingerLiu this is tricky. It might not even be reasonable to do this with helm.

/remove-lifecycle stale

[2021-08-24 04:29] seanmalloy commented on #25
/remove-lifecycle rotten

[2021-08-24 04:40] seanmalloy commented on #137
/remove-lifecycle stale

[2021-08-24 04:43] seanmalloy commented on #227
@Huang-Wei I see that #230 is merged. Are we good to close this issue?

[2021-08-24 04:47] seanmalloy commented on #229
@shuoshadow please provide some additional details when you have a chance. Thanks!

/kind bug

[2021-08-24 04:49] seanmalloy commented on #221
/kind support

[2021-08-24 04:52] Huang-Wei commented on #227
Yes, thanks for the reminder.

[2021-08-24 04:52] #227 closed

[2021-08-24 04:55] seanmalloy commented on #233
/kind cleanup

[2021-08-24 05:01] seanmalloy commented on #110
/remove-lifecycle rotten

[2021-08-24 23:40] Huang-Wei opened #236 "Missing scheme_test.go"
We have main_test.go to ensure the plugins are instantiated properly, but we didn't cover whether other portions such as plugin arguments are decoded as expected.

We need a pkg/apis/config/scheme/scheme_test.go to cover this. Sample can be found in k/k: https://github.com/kubernetes/kubernetes/blob/master/pkg/scheduler/apis/config/scheme/scheme_test.go.

[2021-08-25 00:30] lianghao208 commented on #236
/assign
I can fix this.

[2021-08-25 17:42] yingjianwu199868 opened #241 "Add more documentations on Capacity Scheduling for better understanding"
Hi all,

After testing capacity scheduling and reading the implementation, I realize that there are some undocumented details, which should be better documented.

**For example:**
1. Currently cross node preemption is not supported. In this case, it is possible that the preemption process will fail, which may contradict the elastic quota idea.
2. First Come first Serve Rules but not Priority Rule

[2021-08-27 18:41] mateuszlitwin opened #244 "Update coscheduling Readme.md with postFilter"
After postFilter was added in https://github.com/kubernetes-sigs/scheduler-plugins/pull/126 docs should be updated accordingly.

[code]

[2021-08-28 17:28] pravarag commented on #120
I can take the `Part 1` for the logging issue as mentioned above :)

[2021-08-29 08:27] arvidOtt commented on #120
I am working on part 2.

[2021-08-30 18:45] CIPHERTron commented on #120
I'm willing to take up `Part 4` 🙌🏻

[2021-08-30 21:55] sayantani11 commented on #120
I'm willing to take part 3

[2021-08-30 22:21] yharish991 commented on #120
i can take part 5

[2021-08-30 23:59] Huang-Wei commented on #236
Fixed by #237.

[2021-08-30 23:59] #236 closed

[2021-08-31 06:47] Darshnadas commented on #120
I am willing to take part 6

[2021-08-31 17:24] Huang-Wei commented on #120
@Darshnadas Part 6 had an owner already :)

[2021-09-02 02:12] #244 closed

[2021-09-02 07:42] Tal-or opened #249 "Noderesourcetopology plugin disqualifies pods that request memory"
**What happened:**
I'm trying to deploy a pod that requests some memory and has a guaranteed Qos, using the noderesourcetopology plugin.
[code]
Although there are nodes in the cluster that are able to address the pod's request, the pod is getting qualified.

**What you expected to happen:**
The pod should be admitted by the scheduler plugin.

**How to reproduce it (as minimally and precisely as po

[2021-09-02 10:14] AlexeyPerevalov commented on #249
Description little bit incorrect.
Now plugin works it around https://github.com/kubernetes-sigs/scheduler-plugins/blob/9487dd73fb5b38b7ac81076260eb638e56340e41/pkg/noderesourcetopology/filter.go#L79
by counting memory as available resource always, this is not accurate.
Yes we have to remove this condition.

[2021-09-03 06:02] shenkonghui commented on #231
@Huang-Wei @lianghao208 Thanks . I know.

[2021-09-03 06:02] #231 closed

[2021-09-04 03:09] Huang-Wei commented on #120
/reopen

[2021-09-04 14:40] Darshnadas commented on #120
Yes, I did not notice it earlier. No issues :)

[2021-09-04 17:42] Huang-Wei commented on #249
@AlexeyPerevalov could you help check if NFD version is compatible with the plugin logic? for both master and other release branches?

[2021-09-05 07:26] Tal-or commented on #249
AFAIK when I tested it, the problem was in these lines:
https://github.com/kubernetes-sigs/scheduler-plugins/blob/9487dd73fb5b38b7ac81076260eb638e56340e41/pkg/noderesourcetopology/filter.go#L68

https://github.com/kubernetes-sigs/scheduler-plugins/blob/9487dd73fb5b38b7ac81076260eb638e56340e41/pkg/noderesourcetopology/filter.go#L71
https://github.com/kubernetes-sigs/scheduler-plugins/blob/9487dd73f

[2021-09-07 06:55] JaneLiuL commented on #166
/assign I would like to have a try.

[2021-09-07 07:44] JaneLiuL commented on #166
Is it scenario as below is correct? Actually I am really confuse about the PodGroup status. If my understand is correct, I would like to create a doc to describe first.
@Huang-Wei

Case 1:
Create podGroup minMember=2    , podGroup.status.Phase=pending
PodNum=0                                      , podGroup.status.Phase=pending
PodNum=2 (Pod all success)           , podGroup.status.Phase=pending--

[2021-09-07 11:58] shenkonghui opened #251 "Use h.SharedInformerFactory() to get SharedInformerFactory , AddIndexers Error"
when I use h.SharedInformerFactory() to get schedSharedInformerFactory. It will panic
[code]
[code]

If I use informers.NewSharedInformerFactory(h.ClientSet(), time.Second*30), It will be ok.
[code]

[2021-09-07 12:16] mateuszlitwin opened #252 "Release v0.21.4"
`go.mod` is already on v0.21.4. Can we have v0.21.4 released?

[2021-09-08 02:08] Huang-Wei commented on #252
May I know are there any specified fixes/features in v0.21.X you're interested? If so, I can give cut a release this week. If it's not urgent, I'll wait for some fixes (like #213) to be ready.

[2021-09-08 09:23] pawankumar94 opened #254 "Issue With Latest Release 0.20.10"
I have observed a Issue with latest release of the scheduler plugins. After Building the latest image using `make local-image ` I see the following error :
`E0907 11:25:19.528001 1 reflector.go:138] k8s.io/client-go/informers/factory.go:134: Failed to watch v1.PodDisruptionBudget: failed to list v1.PodDisruptionBudget: the server could not find the requested resource`

Wherease If I am using the v

[2021-09-08 16:18] Huang-Wei commented on #251
It seems you're vendoring k8s 1.22. Is the panic coming from `h.ClientSet()`? In other words, could you show me the code repo where the error was found:

[code]

[2021-09-08 17:11] Huang-Wei commented on #254
I cannot reproduce the problem. Did you try to update the vendor before running `make local-image`? (by `go mod vendor` and `hack/update-generated-openapi.sh`)?

[2021-09-08 17:24] Huang-Wei commented on #249
@Tal-or while waiting for a newer version of NFD, is it worthy to patch a fix in scheduler-plugins to work it around properly?

[2021-09-08 18:27] Tal-or commented on #249
Yes. I'll post a fix in the following days.

[2021-09-08 20:01] Huang-Wei commented on #249
Thanks.

[2021-09-09 12:08] jyz0309 commented on #120
I am willing to take part 5

[2021-09-09 16:19] Huang-Wei commented on #120
it's claimed by @yharish991. @yharish991 are you still working part 5?

[2021-09-09 16:29] jyz0309 commented on #120
oh...I really sorry that I really have not noticed that. @yharish991  If you still work on this. I will close my PR.

[2021-09-09 16:32] Huang-Wei commented on #120
That's no problem.

Let's wait a couple of days (until this weekend). If he is not working on it, I will go review your PR.

[2021-09-09 20:19] yharish991 commented on #120
@jyz0309 @Huang-Wei i'm almost done with this work, and was about to open a PR, but since @jyz0309 already opened a PR, let's review his PR :) I'm good with that :)

[2021-09-10 00:44] jyz0309 commented on #120
No. Just open your PR. :) I have closed my PR.😉

[2021-09-10 09:13] slaysd opened #257 "How to know inner logic is the leader scheduler itself?"
I had a logic that is executed when the pod is changed (I add event hander in `handle.SharedInformerFactory().Core().V1().Pods().Informer().AddEventHandler(func)`).

[code]

this logic should execute logic when it is the leader scheduler, not others. The scheduler only works as a leader, but it is not an event handler. (it executes event handling s simultaneously.)

but it seems to the scheduler f

[2021-09-10 09:37] lianghao208 commented on #257
You can refer to this: https://github.com/kubernetes-sigs/scheduler-plugins/blob/master/cmd/controller/app/server.go#L94

[2021-09-10 17:15] Huang-Wei commented on #151
Fixed by #222.

[2021-09-10 17:15] #151 closed

[2021-09-12 16:45] Huang-Wei commented on #178
/reopen

[2021-09-12 18:33] Huang-Wei commented on #257
If the scheduler replica is not the leader, it won't even [start]:

[code]

So if you wrap the event handling logic in your plugin, it only works when your scheduler replica becomes the leader.

[start]: https://github.com/kubernetes/kubernetes/blob/50865679b9aa60c19528f0396e7243d0f5fb15b9/cmd/kube-scheduler/app/server.go#L203-L206

[2021-09-13 00:16] slaysd commented on #257
@lianghao208

I read the link you liked. My scheduler does not implement `controller` (like `scheduler-plugins/cmd/controller`), but `scheduler` (like `scheduler-plugins/cmd/scheduler`). I think the lock is locking another leader for my logic if I use the Kubernetes lease. Am I wrong understand?

---

@Huang-Wei

Oh, I think it does not work because I add event handler when plugin initialize(`func

[2021-09-13 03:18] yharish991 commented on #120
@Huang-Wei opened the pr for part 5 https://github.com/kubernetes-sigs/scheduler-plugins/pull/259

[2021-09-13 04:44] pravarag commented on #178
I would like to work on this issue @Huang-Wei , will post the related queries here.

[2021-09-13 19:12] Huang-Wei commented on #178
Sure, you can /assign to yourself.

[2021-09-13 20:05] Huang-Wei commented on #257
I see your point. For now, plugin instantiations happen before leader checking. So surfacing isLeader() to plugins doesn't even work unless the leader checking happens first. But that involves a lot of logic and I don't think it's easy to change.

However, the leaderelector entrypoint is standardized and thus obtainable from any client (as Kuberentes doesn't have hidden API). So in your plugin, yo

[2021-09-13 20:06] Huang-Wei commented on #257
BTW: may I know why you don't want the event handlers to start in non-leader replicas?

[2021-09-14 05:44] pravarag commented on #120
I'll be working on the CI script part as mentioned here in this comment: https://github.com/kubernetes-sigs/scheduler-plugins/issues/120#issuecomment-737653251 .

[2021-09-14 10:13] pravarag commented on #178
/assign

[2021-09-15 13:50] slaysd commented on #257
@Huang-Wei

Oh, In fact, it seemed necessary to equalize the lifecycle with scheduler and pod event handler logic. I need to implement a logic to update scheduling information internally to specific resources and erase the information when the Pod is deleted.

[2021-09-15 17:31] Huang-Wei commented on #257
If I understand your case correctly, it's more appropriate to always keep the resource-specific cache up-to-date, in all replicas. Otherwise, the replica that obtains the leader role will have to replay all resource events to build the cache from scratch, which will result in a non-negligible cold-start time.

[2021-09-17 02:05] pravarag commented on #120
@Huang-Wei @damemi few questions on adding the CI check for structured logging:
1. The verify script will scan the diffs for the logging changes, if any. Is there a klog CLI which can be run during the job to verify the changes? Or is there any other way to filter for all the rules and structural changes in the commit.
2. I'm guessing the ideal place to put the verify script will be this location:

[2021-09-17 11:40] jpedro1992 opened #260 "There are no latency/network-aware scheduling plugins available, but applications like IoT and video services need these!"
**Issues**

Recent applications are demanding lower latency. Scheduling pods only focused on reducing costs are not suitable for applications where low latency plays a major role. Applications such as the **Internet of Things (IoT)** and **video services** would benefit the most from plugins where **latency** and **bandwidth** are considered in the decision process and not only resource usages (e.

[2021-09-17 17:52] Huang-Wei commented on #120
Re 1: klog is more a SDK, so I don't think there is a CLI available. We don't need to get the changes in a commit. Instead, check the whole project. For sure, some folders like /vendor can be ignored. Ref: https://github.com/kubernetes/kubernetes/blob/master/hack/verify-gofmt.sh

Re 2: Nope, we should put it under `<project>/hack/`.

Re 3: Please open an new issue for tracking.

[2021-09-18 13:49] pravarag opened #261 "CI check to verify structured logging"
As part of migration to structural logging (tracked under this [issue](https://github.com/kubernetes-sigs/scheduler-plugins/issues/120)), we'll be needing a CI script to verify if structural logging is being implemented in new or existing changes.

Reference: https://github.com/kubernetes-sigs/scheduler-plugins/issues/120#issuecomment-737653251

[More details on structured logging changes](https:/

[2021-09-18 13:49] pravarag commented on #261
/assign

[2021-09-18 13:52] pravarag commented on #120
I've created the following issue: https://github.com/kubernetes-sigs/scheduler-plugins/issues/261 for tracking further details/changes to it.

[2021-09-23 03:05] denkensk commented on #241
/close

[2021-09-23 03:05] #241 closed

[2021-09-23 07:24] denkensk commented on #132
/close

[2021-09-23 07:24] #132 closed

[2021-09-26 00:57] #192 closed

[2021-09-26 01:02] patricklundquist commented on #192
/reopen

Still planning to take a look at this. Haven't had a chance yet...

[2021-09-27 08:07] zhiyxu opened #264 "scheduler CrashLoopBackOff when there isn't enough sibling pods"
I created a second scheduler in cluster via helm, create podgroup and deploy following installation doc, but when the scheduler cannot find enough sibling pods, it crashed:

[code]

version: v0.20.10

[2021-09-27 12:21] denkensk commented on #264
It crashed from here in default preempt. I can help to check it tomorrow.
https://github.com/kubernetes/kubernetes/blob/8152330a2b6ca3621196e62966ef761b8f5a61bb/pkg/scheduler/framework/plugins/defaultpreemption/default_preemption.go#L475

[2021-09-27 12:23] denkensk commented on #131
/close

[2021-09-27 12:23] #131 closed

[2021-09-27 21:25] Huang-Wei commented on #264
@zhiyxu I cannot reproduce this in a brand new kind cluster. Are you running some other in-house extensions, like extenders? If yes, it's also reported in https://github.com/kubernetes/kubernetes/issues/101548 and we had a fix in 1.22.

[2021-09-28 05:41] Huang-Wei commented on #192
/reopen

[2021-09-28 08:09] slaysd commented on #257
@Huang-Wei

Oh I see. I will try to change the logic to your advice. Thank you for kindness reply.  🙇‍♂️

[2021-09-28 08:09] #257 closed

[2021-09-28 09:15] zhiyxu commented on #264
thanks, I'll try to test in cluster of latest version.

[2021-09-29 06:36] sci110680 opened #266 "Issue on prometheus as a metrics provider for trimaran in openshift 4.7 cluster."
Hi,
I am trying to use prometheus as a metrics provider  for trimaran   in openshift 4.7 cluster.
Getting below error in pod log.
Also  i took secret from below command .

[code]

Error is :

[code]

[2021-09-29 06:39] sci110680 commented on #266
[config.yaml.txt](https://github.com/kubernetes-sigs/scheduler-plugins/files/7249426/config.yaml.txt)
Attaching file  of  configuration.

[2021-09-29 07:54] lianghao208 commented on #266
I think you may need to provide prometheus http address for the trimaran plugin config instead of https. Try to configure in-cluster http service address like `http://prometheus-k8s.monitoring.svc.cluster.local:9090`.

[2021-09-29 08:11] Tal-or commented on #249
Fixed by https://github.com/kubernetes-sigs/scheduler-plugins/pull/256

[2021-09-29 20:57] #249 closed

[2021-09-29 20:58] Huang-Wei commented on #266
@wangchen615 could you give a hand on this?

[2021-09-30 09:42] pawankumar94 commented on #254
Hello Huang Wei,

I can see that make local-image the step 7 runs the hack/updated-generated-openai.sh  below can be found :

[2021-09-30 09:54] pawankumar94 commented on #254
Step 7/11 : RUN RELEASE_VERSION=${RELEASE_VERSION} make build-scheduler.$ARCH
[code]
I get the following error when I am trying to build with creating a customplugin :

[code]

[2021-09-30 17:26] Huang-Wei commented on #254
it shouldn't be `module k8s.io/kubernetes@latest`, the k8s version is pinned properly:

https://github.com/kubernetes-sigs/scheduler-plugins/blob/master/go.mod#L25

Did you manually modify the go.mod?

[2021-10-05 05:52] sci110680 commented on #266
still below error  after adding p8s svc

svc.cluster.local:9090/api/v1/query\": dial tcp: lookup prometheus-k8s.monitoring.svc.cluster.local on 172.30.0.10:53: no such host\n"
time="2021-10-05T05:51:02Z" level=error msg="error querying Prometheus for query avg_over_time(instance:node_cpu:ratio[10m]): Post \"http://prometheus-k8s.monitoring.svc.cluster.local:9090/api/v1/query\": dial tcp: lookup pr

[2021-10-05 14:22] pravarag commented on #178
Hi @Huang-Wei @cwdsuzhou @yuanchen8911 from the discussions in this comment: https://github.com/kubernetes-sigs/scheduler-plugins/issues/178#issuecomment-873551331 and https://github.com/kubernetes-sigs/scheduler-plugins/issues/178#issuecomment-879537151, my understanding is we want to move the functionality in `test/util/apiserver.go` and `/test/util/extension.go` to mabye in this file: https://g

[2021-10-05 17:43] charleszheng44 commented on #154
@yuanchen8911 have you submitted the KEP for elastic quota? If yes, could you share the link? Thanks

[2021-10-05 17:50] wangchen615 commented on #266
@sci110680 , it is a known issue since OpenShift 4.7+. If you switch back to OpenShift 4.6 or 4.5, it works.

The workaround solution for this has been detailed here: https://cloud.redhat.com/blog/thanos-querier-versus-thanos-querier. We are going to test this solution as well and update the documentation.

Thanks so much for posting this issue. Let's keep it open until we update the doc.

[2021-10-06 01:41] denkensk commented on #154
@yingjianwu199868
I'm really sorry. I seem to have missed your reply.
We have also discussed this issue internally recently about integrating capacity scheduler with hierarchical-namespaces.
Do you have time to write a KEP for it？

FYI: This is a version of our internal implementation without hierarchical-namespaces. https://www.alibabacloud.com/help/doc-detail/213695.htm?spm=a3c0i.23458820.235947

[2021-10-06 01:42] denkensk commented on #154
@charleszheng44
Nice to meet you. Do you have the same needs? Can you share your ideas?

[2021-10-06 02:12] #211 closed

[2021-10-06 02:38] charleszheng44 commented on #154
Hi @denkensk, Yes. We need to calculate the quota of multiple namespaces belonging to the same user.

[2021-10-06 04:07] charleszheng44 commented on #154
@denkensk We need to handle the 1-to-m case and we are using the [VirtualCluster](https://github.com/kubernetes-sigs/cluster-api-provider-nested/tree/main/virtualcluster) to manage multiple namespaces for each user.

[2021-10-07 23:41] Huang-Wei commented on #254
Could you run the following commands under the folder `/usr/local/go/src/sigs.k8s.io/scheduler-plugins`, and show me the output?

- go mod vendor
- go install k8s.io/kube-openapi/cmd/openapi-gen
- ls $GOPATH/bin/openapi-gen

[2021-10-10 18:12] Huang-Wei commented on #254
I've no idea where goes wrong on your end... Can you  fix the errors and retry?

- go: could not create module cache: mkdir /usr/local/go/pkg/mod: permission denied
- go install k8s.io/kube-openapi/cmd/openapi-gen: copying /tmp/go-build4278881303/b001/exe/a.out: open /usr/local/go/bin/openapi-gen: permission denied

[2021-10-11 17:59] mateuszlitwin opened #270 "Release scheduler plugins with 1.22"
1.22 contains https://github.com/kubernetes/kubernetes/pull/103383 which should help significantly with starvation / convergence issues when using coscheduling.

[2021-10-11 19:32] Huang-Wei commented on #254
Can you verify if the output of `kubectl get clusterrole system:kube-scheduler -o yaml` contains the following content:

[code]

[2021-10-11 19:46] wangchen615 opened #271 "Cannot list resources "ConfigMap" errors persists in scheduler-plugin logs when running as a secondary scheduler"
I found the following error messages kept popping up when I already have all RBAC rules defined https://github.com/kubernetes-sigs/scheduler-plugins/blob/master/manifests/install/charts/as-a-second-scheduler/templates/rbac.yaml when running scheduler-plugins as a secondary scheduler.

[code]

It only impacts the installation with a secondary scheduler

I believe we should probably add the followin

[2021-10-13 17:44] Dice-SG opened #274 "scheduler CrashLoopBackOff when new scheduler building"
CrashLoopBackOff occurred when I rewrote the manifest and created a new scheduler.
Also, the logs Authorization is disabled and Authentication is disabled were observed.

Does anyone know the cause or solution to this problem?

My kubernetes environment is as follows.
Raspberry` Pi 4 Model B
OS:ubuntu 20.04.3 LTS 64bit arm64
Kubernetes:1.19.9
kubectl:1.19.9
kubeadm:1.19.9
kubelet:1.19.9
Docker:20.

[2021-10-14 02:52] pravarag commented on #261
Output of the local run,

[code]

[2021-10-21 04:37] denkensk commented on #117
@karanchahal  Which version are you testing?

[2021-10-23 04:41] sanposhiho opened #278 "Add explanation of the difference between in-tree plugins and plugins on this repo"
Hello team.

I saw https://github.com/kubernetes/kubernetes/issues/105802
And @Huang-Wei said

I'm curious as to why this is about to be approved. (It doesn't mean I'm against it.)

It would be good to add an explanation of the difference between in-tree plugins and plugins on this repo, at least I want to know that :)

I, personally, think there is no reason to prevent adding useful plugins to in

[2021-11-05 00:43] Huang-Wei opened #284 "Release 0.21"
- [x] follow the [release process](https://github.com/kubernetes-sigs/scheduler-plugins/blob/master/doc/release-guide.md) to create branches and tag (https://github.com/kubernetes/k8s.io/pull/3036)
- [x] document update #286

[2021-11-05 22:37] Huang-Wei commented on #120
All items have been completed. Close this issue.

[2021-11-05 22:37] #120 closed

[2021-11-05 22:44] Huang-Wei commented on #252
Closed by https://github.com/kubernetes-sigs/scheduler-plugins/releases/tag/v0.21.6.

[2021-11-05 22:44] #252 closed

[2021-11-06 07:04] pravarag commented on #178
/reopen

[2021-11-06 07:04] pravarag commented on #178
/remove-lifecycle rotten

[2021-11-10 08:19] fromanirh commented on #98
Hi folks, I'm following this issue because I'm in the same state playing with the `NodeTopologyMatch` plugin.
I was experimenting with `rest.InClusterConfig` with initial promising results to avoid requiring a kubeconfigpath. I was wondering if there are known drawbacks in using `rest.InClusterConfig` or if it is just another alternative, and a bit less convenient, approach to the one documented i

[2021-11-10 18:00] damemi commented on #98
@fromanirh I talked to @Huang-Wei about this offline so I could get a little more understanding of the Kubeconfig that's passed through the framework handle.

Essentially, the scheduler framework is initialized either with or without a Kubeconfig explicitly passed to it. If no config is passed, the core will fallback to using the default in-cluster config.

The framework handle field implemented i

[2021-11-10 18:19] Huang-Wei commented on #98
@damemi makes the point.

@fromanirh duplicating the kubeConfig path in plugin argument was an ugly workaround as the kubeConfig scheduler framework employs is not propagated until k8s version 1.22.

Also note I will author a cleanup PR after #287 to get rid of the old kubeConfig arguments, in a new v1beta2 config.

[2021-11-10 18:23] Huang-Wei commented on #178
@pravarag I partially implemented this in #287, but that approach has to do some tricks to import static testdata files. And that aspect can be optimized.

You can work on the optimization, along with removing the files like test/util/apiserver.go.

[2021-11-10 21:46] Huang-Wei commented on #125
/remove-lifecycle stale

I'm going to provide a solution after #287 gets merged.

[2021-11-11 12:05] fromanirh commented on #98
@damemi @Huang-Wei yes, this helps a lot, thanks. I will just wait for https://github.com/kubernetes-sigs/scheduler-plugins/pull/287 to land. Actually, if I'd be happy to help with that, if needed.

[2021-11-13 08:07] pravarag commented on #178
Hi @Huang-Wei thanks for mentioning the implementations done in #287. I went through [kubernetes/testserver.go](https://github.com/kubernetes/kubernetes/blob/v1.19.9/test/integration/framework/test_server.go) and I found that [this](https://github.com/kubernetes-sigs/scheduler-plugins/blob/master/test/util/apiserver.go) test is an exact copy of it. So apart from removing it, as you have mentioned

[2021-11-14 18:08] Huang-Wei commented on #178
Yes, a "dated" copy actually :) Now this file along with others (like fixtures.go, aggregator.go, extension.go) are not needed.

The upstream testapiserver logic used testdata files, which cannot be easily vendored. (currently I used a symbolic trick to achieve this)

Nope, I'd like this to be part of the go code. This is why I left the aforementioned dated files there - some of the code there can

[2021-11-14 18:57] Huang-Wei commented on #284
All items have been completed. Close it.

[2021-11-14 18:57] #284 closed

[2021-11-18 00:47] mateuszlitwin opened #293 "coscheduling: .status.nominatedNodeName is not cleared when pod group fails to schedule and node resources are reserved indefinitely"
Consider following scenario:

1. PodGroup `a` has two pods `a-0`, `a-1`.
2. `a-0` preempts some pods on a node `N` and has `.status.nominatedNodeName` set to `N`.
3. `a-1` fails to schedule, e.g. there are not enough resources in the cluster.
4. PodGroup `a` fails to schedule indefinitely, e.g. as long as there are not enough resources in the cluster for both `a-0` and `a-1`.
5. `a-0` will have `.

[2021-11-18 09:51] pravarag commented on #178
Thanks @Huang-Wei, I've started working on the optimization of the changes as you suggested for the integration tests and removal of files (like apiserver.go, fixtures.go, aggregator.go etc). Also for the generation of cert, just wanted to know if that's something which is being used under kubernetes/kubernetes that I can take reference from? Otherwise the only way I can think of is using the `cfs

[2021-11-18 17:44] Huang-Wei commented on #178
@pravarag can you refer to the logic like:

https://github.com/kubernetes-sigs/scheduler-plugins/blob/455cb8a6536e8bf8b1d856812851c545255295b4/test/util/apiserver.go#L63-L81

[2021-11-18 18:55] Huang-Wei opened #295 "document the latest release is one version behind k/k"
Document the latest [release](https://github.com/kubernetes-sigs/scheduler-plugins/releases) here is one version behind k/k.

Here is a typical workflow when a `vX.Y.0` k/k release is out: (let's suppose `v1.23.0` is out)

- create a `release-1.22` branch off `master`
- cut a `v0.22.Z` [release](https://github.com/kubernetes-sigs/scheduler-plugins/releases) (`Z` depends on the latest stable patch

[2021-11-18 19:37] howardjohn opened #296 "scheduler-plugins-scheduler crashloop: no kind "KubeSchedulerConfiguration""
[code]

Following https://github.com/kubernetes-sigs/scheduler-plugins/blob/master/doc/install.md#as-a-second-scheduler

On kind v1.22.0 and GKE v1.21 I tested. Image is k8s.gcr.io/scheduler-plugins/kube-scheduler:v0.21.6

[2021-11-18 19:38] howardjohn commented on #296
Running templates from `v0.21.6` works actually. Just not from `master`. So probably just old image ..?

[2021-11-18 19:51] Huang-Wei opened #297 "Refactor postFilter implementations to k/k#104030"
This is for milestone v1.23.

https://github.com/kubernetes/kubernetes/pull/104030 abstracts most of generic preemption bits as an extensible interface. We should adapt to that.

[2021-11-18 20:52] Huang-Wei commented on #296
@howardjohn thanks for pointing it out. Yes, I shouldn't have updated the chart's [version](https://github.com/kubernetes-sigs/scheduler-plugins/blob/master/manifests/install/charts/as-a-second-scheduler/templates/configmap.yaml) to v1beta2 - it should point to the latest stable image instead of master.

[2021-11-18 20:57] Huang-Wei commented on #296
BTW: note that the image compiles all plugins in this repo along with default scheduler plugins. The default scheduler plugins are enabled by default, but all plugins in this repo are **disabled by default**. So you have to enable them per your requirements. In other words, [configmap.yaml](https://github.com/kubernetes-sigs/scheduler-plugins/blob/master/manifests/install/charts/as-a-second-schedu

[2021-11-18 21:23] Huang-Wei commented on #293
I agree that it's an upstream bug. When a waiting pod gets rejected, the `.status.nominatedNodeName` it carries should be cleared.

I will work on a fix, while also considering issue [#85677 ](https://github.com/kubernetes/kubernetes/issues/85677)

[2021-11-18 23:27] mateuszlitwin commented on #293
I wonder if `.status.nominatedNodeName` should be cleared during `assume(...)`: https://github.com/kubernetes/kubernetes/blob/51b94de68f0889e4e9bd5bc7673041f1275ca175/pkg/scheduler/scheduler.go#L366

[2021-11-18 23:45] Huang-Wei commented on #98
#287 and #290 resolve this issue. Close it.

[2021-11-18 23:45] #98 closed

[2021-11-19 00:10] mateuszlitwin opened #300 "coscheduling: prefilter should return `UnschedulableAndUnresolvable` status when pod group is denied"
https://github.com/kubernetes-sigs/scheduler-plugins/blob/455cb8a6536e8bf8b1d856812851c545255295b4/pkg/coscheduling/coscheduling.go#L145

When pod group was recently denied (`pgMgr.lastDenied`), pre-filter should return `UnschedulableAndUnresolvable` code (instead of `Unschedulable`) in order to prevent preemption.

Similar when number of pods < minAvailable then pre-filter should also return `Uns

[2021-11-19 04:56] Huang-Wei commented on #300
Makes sense to me. Could you open a PR fixing this?

[2021-11-20 06:13] Huang-Wei opened #301 "racing conditions upon multiple pod informers"
It's an anti-pattern to have more than one pod informers as each informer maintains its own cache, which can cause racing conditions. We should have one single source of truth across the code base.

Here is one [symptom](https://github.com/kubernetes-sigs/scheduler-plugins/pull/299#issuecomment-974484806) I observed in the coscheduling integration test.

We should prevent instantiating core resour

[2021-11-20 06:13] Huang-Wei commented on #301
cc @cwdsuzhou @denkensk

[2021-11-22 21:19] zorro786 commented on #270
Is this release simple @Huang-Wei?

[2021-11-25 23:18] sanposhiho commented on #278
Sorry, I was getting ahead of myself.

https://github.com/kubernetes/kubernetes/issues/105802#issuecomment-952172656

I could understand the purpose of this repository with this comment of yours. I think just mentioning something like this comment will help users to understand it.
I'll create the PR for it. So, let's discuss any other information that needs to be added or any parts that are unclea

[2021-11-30 18:38] #301 closed

[2021-12-02 18:58] mateuszlitwin commented on #300
I will prepare a PR.

[2021-12-10 09:49] #296 closed

[2021-12-13 07:51] everpeace opened #309 "eliminate the "versioned" import in pkg/apis/config"
Currently, we're using _versioned_ import in `pkg/apis/config/types.go`:

https://github.com/kubernetes-sigs/scheduler-plugins/blob/master/pkg/apis/config/types.go#L22

This should be eliminated.

ref: https://github.com/kubernetes-sigs/scheduler-plugins/pull/224#discussion_r712521093, https://github.com/kubernetes-sigs/scheduler-plugins/pull/224#discussion_r767310629

[2021-12-13 18:23] Huang-Wei commented on #309
/good-first-issue

[2021-12-16 00:09] #166 closed

[2021-12-16 11:40] Xaving commented on #309
Could you explain what is versioned import and what would be a suitable solution for these issue (remove L22, replace L22 and assess the impact ....)?

[2021-12-18 20:55] helayoty commented on #231
@Huang-Wei  I'm trying to run e2e test using `KinD` cluster for a new plugin we are building but it keeps failing because of the absence of `kubeConfig`.

I tried to get the config directly from framework handle but it didn't work. It will work only if I used InCluster().

How do we fix this issue?

[2021-12-20 06:30] pravarag commented on #178
@Huang-Wei  I've created a draft PR, currently working on adding more changes and will update the PR.

[2021-12-22 18:05] mateuszlitwin commented on #110
/remove-lifecycle rotten

[2022-01-04 08:37] denkensk commented on #154
/remove-lifecycle stale

[2022-01-09 17:13] yuanchen8911 commented on #154
@yuanchen8911 test check http://badguy.com

[2022-01-10 02:29] Huang-Wei commented on #271
/remove-lifecycle stale

[2022-01-11 05:41] vasa47 opened #316 "Installation of Scheduler Plugin as a second scheduler not working"
Tested the install with minikube cluster , microk8s cluster too.

Step 1: After the minikube start followed the steps in the current doc to install it as second scheduler
                          $ git clone git@github.com:kubernetes-sigs/scheduler-plugins.git
                          $ cd scheduler-plugins/manifests/install/charts
                          $ helm install scheduler-plugins as-a-

[2022-01-11 07:03] #271 closed

[2022-01-11 11:54] denkensk commented on #316
Can you describe these pods and check if there are any events for these pods?

[2022-01-11 12:02] denkensk commented on #316
If you deploy the scheduler as second scheduler, the `KubeSchedulerConfiguration` is provided in the `configmap` https://github.com/kubernetes-sigs/scheduler-plugins/blob/master/manifests/install/charts/as-a-second-scheduler/templates/configmap.yaml.

You need to update the `configmap` and patch the config for `capacityscheduling`.  Then restart the plugins-scheduler.

Thanks. I will help you for

[2022-01-12 07:13] vasa47 commented on #316
[scheduler.log](https://github.com/kubernetes-sigs/scheduler-plugins/files/7852440/scheduler.log)

Attached is the log of the scheduler-plugins-scheduler
There is some errors .. and also i checked describe pod thing .. there are no events.

[2022-01-12 07:14] vasa47 commented on #316
Yes please do help me for capacity scheduling rather than coscheduling.

[2022-01-12 07:23] denkensk commented on #316
There is some errors .. and also i checked describe pod thing .. there are no events.

Which version of k8s are you using?  The error comes from an inconsistency between the scheduler version and the cluster version. @vasa47

[2022-01-12 07:33] vasa47 commented on #316
let me reinstall and check the process accordingly here
![image](https://user-images.githubusercontent.com/4268699/149083412-69f1777e-8c98-4ef6-a51e-5513afa5f915.png)

[2022-01-12 07:51] vasa47 commented on #316
start with 1.21.6 version got apparently while testing coscheduling described here
https://github.com/kubernetes-sigs/scheduler-plugins/blob/master/doc/install.md#test-coscheduling

when created with replicas 2. Pods are in running state (expected is pending) but when i describe i guess events show it is scheduled from default -scheduler rather than coscheduling.

![image](https://user-images.gith

[2022-01-12 08:01] denkensk commented on #316
1.  Did you deploy the scheduler by this chart `https://github.com/kubernetes-sigs/scheduler-plugins/tree/master/manifests/install/charts/as-a-second-scheduler` ？

2. You also need to update the `spec.schedulerName: scheduler-plugins-scheduler` in the pause pod.

[2022-01-12 08:13] vasa47 commented on #316
Firstly I appreciate you help.

Yes   scheduler-plugins-scheduler pod is up and running (see the screenshot)
![image](https://user-images.githubusercontent.com/4268699/149088817-0a806849-d70d-446d-9795-1c5e61405a8f.png)

I have changed it again and redepolyed with spec.schedulerName but now even 3 pods are also pending state.
Sorry for earlier post didn't specify spec.scheduler thats why it went t

[2022-01-12 08:25] denkensk commented on #316
It means that the scheduler doesn't have the role to list `configmap` and `csi*`. You can add this role in the ClusterRole
of scheduler-plugins-scheduler.
[code]

[2022-01-12 09:16] vasa47 commented on #316
can you please help me out to do this and also if you show how to do it for capacity scheduling its very helpfull.

[2022-01-12 10:23] denkensk commented on #316
The error comes from an inconsistency between the scheduler version and the cluster.
Your cluster is 1.22 but you used the 1.21 scheduler. There will be some inconsistency here.

1. update the cluster role
[code]
add this two lines
![image](https://user-images.githubusercontent.com/8958057/149121269-f3df4042-8a1a-40c5-8387-f7ea10084271.png)

2. update the configmap
[code]
Here is an example.
[code

[2022-01-12 11:36] vasa47 commented on #316
I edited both and restarted but still same problem. I can still see logs saying same csi* problem
and ofcourse in configmap i tested both kube-system namespace and default namespace too . same problem

kubectl server version is now 1.21.6
and scheduler version is also 0.21.6

![image](https://user-images.githubusercontent.com/4268699/149133111-0d38b481-4268-4bde-a33f-9d47c34bd83c.png)
![image](htt

[2022-01-12 14:16] denkensk commented on #316
![image](https://user-images.githubusercontent.com/8958057/149156643-3084bb3d-865b-4113-8bcd-6a313e353ab8.png)
This means you didn't change the file.

[2022-01-16 00:03] Huang-Wei commented on #260
/remove-lifecycle rotten

[2022-01-17 10:19] vasa47 commented on #316
working perfectly fine GKE cluster now. Just one thing I wanted to clear off before closing this issue.
Isn't the Hierarchal resource quota of Gke and this is same or is it different.?

[2022-01-17 10:24] denkensk commented on #316
Great!  Can you help to write a guide to the new users to teach them how to setup the CapacityScheduling？

ElasticQuota is different with ResourceQuota.  For your information https://github.com/kubernetes-sigs/scheduler-plugins/tree/master/kep/9-capacity-scheduling#relationship-with-resourcequota

[2022-01-18 06:33] vasa47 commented on #316
Thanks closing the issue. Really appreciate the help from @denkensk

[2022-01-18 06:33] #316 closed

[2022-01-21 05:24] #200 closed

[2022-01-21 07:24] #25 closed

[2022-01-21 07:24] #137 closed

[2022-01-21 07:24] #189 closed

[2022-01-21 07:24] #221 closed

[2022-01-21 07:24] #229 closed

[2022-01-21 18:31] cmisale opened #321 "How to add a new scheduler profile"
Hi,
is it possible to add documentation on how to add new scheduler, scheduler profile and integrate it into the deployment with Helm?
When I look at `manifests` folder, I see that every profile has a folder with at least a `scheduler-config.yaml`, but I don't understand how and where to customize the various charts so that I can include my scheduler plugin in the build+deploy pipeline.
Also, my s

[2022-01-23 02:46] Huang-Wei commented on #233
/reopen

[2022-01-26 13:21] zw0610 opened #322 "move PodGroupLabel to pkg/apis"
`PodGroupLabel` (`"pod-group.scheduling.sigs.k8s.io"`) is exposed to users: https://github.com/kubernetes-sigs/scheduler-plugins/blob/master/pkg/coscheduling/README.md?plain=1#L111

It would be better to PodGroupLabel under pkg/apis.

[2022-01-27 07:06] #322 closed

[2022-02-01 19:39] Huang-Wei commented on #321
The current doc is at: [install.md#as-a-second-scheduler](https://github.com/kubernetes-sigs/scheduler-plugins/blob/master/doc/install.md#as-a-second-scheduler).

You're right, for now, the Helm chart doesn't support an easy way to parameterize/customize the scheduler config, which is one area we should improve. @helayoty

Currently the manifests only hold the workable config for that specific plu

[2022-02-01 19:47] helayoty opened #325 "Remove unused code from integration tests"
Most of the framework code in the integration test is not used and needs to be cleaned up

ref: https://github.com/kubernetes-sigs/scheduler-plugins/tree/master/test/util

[2022-02-01 20:12] Matheusafonsouza commented on #325
Hey! @helayoty can you explain this issue better for me? I'm a new contributer btw

[2022-02-01 20:12] Huang-Wei commented on #325
The latest status is tracked at https://github.com/kubernetes-sigs/scheduler-plugins/issues/178#issuecomment-965619237 - to reuse some upstream test utilities, I had to import some testdata files, and it's crappy to hack vendoring them. So it'd be desired to (1) remove the old test utility files, along with (2) a fix to not hack vendoring those testdata files.

[2022-02-01 20:17] Huang-Wei commented on #325
By "hack vendoring", I mean:

https://github.com/kubernetes-sigs/scheduler-plugins/blob/3a31d4a72c433b403cfc5d4815cd5b0d3b76080a/hack/integration-test.sh#L50

@Matheusafonsouza the background is that:

- in the very beginning, we copied some apiserver testing files to build out integration test
- currently the copied filed are not necessary due to the efforts in #287, however, I had to vendor some

[2022-02-01 22:04] Matheusafonsouza commented on #325
@Huang-Wei just a last question

So the purpose of this issue is remove all integrations tests from the scheduler-plugins? (it wont have any integration test?)
Just a doubt because i'm new in this repository

[2022-02-01 23:55] Huang-Wei commented on #325
Nope, just remove the old and unused helper utilities. And get rid of the hack on testdata files.

[2022-02-02 04:06] Matheusafonsouza commented on #325
/assign

[2022-02-03 00:16] helayoty opened #327 "Migrate scheduler plugins to use controller-runtime"
This is to track the effort to migrate all scheduler plugins to use `controller-runtime` aka `Kubebuilder` instead of the custom framework.

The main motivation is to enhance the ability of users to use and/or extend the project.

- [x] ~~Create new APIs~~ Migrate APIs to use `controller-runtime` (#340 )
- [ ] Migrate Capacity Scheduling
- [ ] Migrate Coscheduling
- [ ] Migrate Node Resources
- [

[2022-02-03 00:16] helayoty commented on #327
/assign

[2022-02-03 22:59] Huang-Wei commented on #327
@helayoty thanks for driving this. What do you mean by "Create new APIs"?

[2022-02-03 23:19] helayoty commented on #327
I'd like to have a separate PR first with all APIs created and all generated code using `kubebuilder` to make sure we agree on them. So I can go and use them in the plugins, wdyt?

[2022-02-03 23:50] Huang-Wei commented on #327
No matter the codegen tool is kubebuilder or vanilla codegen, isn't the generated content _almost_ the same? I don't get the point to create APIs - even they're just alias-like APIs.

[2022-02-04 00:20] helayoty commented on #327
It should be the exact same, just wanted to have the base point separate

[2022-02-04 00:25] Huang-Wei commented on #327
Then the first PR can be merged directly to `master` - replace the raw codegen tags with kubebuilder ones, and update the codegen scripts. The expected result is that the current plugins function the same.

After that, you can start migrating the plugin impls.

[2022-02-04 00:26] Huang-Wei commented on #327
BTW: I'm going to cut a 0.22.X release and bump the master to vendor k8s 1.23 soon (within one week).

[2022-02-04 00:31] helayoty commented on #327
Yes, this is my intend, thanks for clarification.

Do you think it's better to wait until you update the master?

[2022-02-04 01:03] Huang-Wei commented on #327
I think so. That'd save you efforts :)

[2022-02-05 17:14] #251 closed

[2022-02-07 19:20] Huang-Wei opened #330 "Release 0.22"
- [x] follow the [release process](https://github.com/kubernetes-sigs/scheduler-plugins/blob/master/doc/release-guide.md) to create branches and tag (https://github.com/kubernetes/k8s.io/pull/3367)
- [x] document update (#332)

[2022-02-07 22:43] helayoty opened #331 "add e2e tests to all plugins"
It would be ideal to add e2e tests to the current plugins. This can be done by leveraging the [e2e-framework](https://github.com/kubernetes-sigs/e2e-framework) sub-project.

- [ ] e2e framework base implementation (#349 )
- [ ] tests for plugins

ref: https://github.com/Azure/placement-policy-scheduler-plugins/tree/main/test/e2e

[2022-02-07 22:44] helayoty commented on #331
/assign

[2022-02-08 18:29] #321 closed

[2022-02-09 18:44] Huang-Wei commented on #125
In the 0.22.6 release, with #299 in place, this should be at least mitigated a lot (although I'd think it's resolved totally).

I'd close it for now. Feel free to reopen if you see this issue on 0.22.6 or newer releases.

[2022-02-09 18:44] #125 closed

[2022-02-10 14:37] cmisale commented on #321
This doesn't tell me how to add a new one, though..

That would be very helpful!

My plugin pods is composed of the scheduler plugin container and a sidecar, which is accessed only by the scheduler plugin.
Therefore I need a specific yaml file to deploy it, which I added in the `manifests/my-plugin` folder.

I would like a way to build my plugin so that it's easy to deploy it within the entire sec

[2022-02-14 16:05] thiagompc commented on #325
/assign

[2022-02-16 23:17] Huang-Wei opened #339 "Polish integration tests"
The current integration test relies on the upstream apiservertesting package, and due to that, we had to bear with some extra work/hack:

- add `update-generated-openapi.sh`
- introduce `hack/testdata` folder and a hack to [soft-link ](https://github.com/kubernetes-sigs/scheduler-plugins/blob/9ed1891abcd07dc6d8cc9631cc57e548e2250865/hack/integration-test.sh#L50) to the vendor folder

I'm proposing

[2022-02-16 23:19] Huang-Wei commented on #325
@Matheusafonsouza @thiagompc I'd prefer to close this issue and track all needed work in #339.

/close

[2022-02-16 23:19] #325 closed

[2022-02-16 23:19] Huang-Wei commented on #330
Completed.

[2022-02-16 23:19] #330 closed

[2022-02-16 23:21] Huang-Wei commented on #178
I'm going to track integration test improvement in #339.

[2022-02-16 23:21] #178 closed

[2022-02-16 23:21] Huang-Wei commented on #339
Related items: #339 #178

[2022-02-16 23:26] Huang-Wei commented on #293
This issue is resolved in k8s v1.23.3 (https://github.com/kubernetes/kubernetes/pull/107109), which is [vendored](https://github.com/kubernetes-sigs/scheduler-plugins/blob/9ed1891abcd07dc6d8cc9631cc57e548e2250865/go.mod#L27) in the latest `master` branch.

Close this issue.