[2022-02-16 23:26] #293 closed

[2022-02-16 23:30] yibozhuang commented on #339
I can take a stab at this.

/assign

[2022-02-17 15:28] everpeace commented on #309
I think https://github.com/kubernetes-sigs/scheduler-plugins/pull/334 already resolved the issue. See: https://github.com/kubernetes-sigs/scheduler-plugins/pull/334/files#diff-a18720136db46ef660133ca97a9e1962a52e8219d3eb688daa5a9a81c64deb2fL22-L25

[2022-02-18 09:37] geekidentity opened #342 "在release-1.18 上执行 make local-image 报错"
在 release-1.18 上添加了自己的插件，但执行 make local-image 出错如下错误

[code]

是阿里云不维护当前1.18版本了嘛。

Docker 版本
[code]

[2022-02-21 09:57] #342 closed

[2022-02-21 10:06] geekidentity opened #343 "can not build at branch release-1.18"
when checkout branch release-1.18 and execute `make` command, there have a error,
[code]

then I execute `go mod tidy`, and `make`, the same error occurs. release-1.22 can build success.

My envirenment:
[code]

[2022-02-21 20:41] Huang-Wei commented on #343
release-1.18 is not officially supported. Can you try using lower version of [Go](https://github.com/kubernetes-sigs/scheduler-plugins/blob/release-1.18/go.mod)? Also, you seem to be running on an M1 machine, there might also be some compatibility issue.

[2022-02-22 00:57] Huang-Wei commented on #270
The 0.22.6 release is out: https://github.com/kubernetes-sigs/scheduler-plugins/releases/tag/v0.22.6.

Close it.

[2022-02-22 00:57] #270 closed

[2022-02-22 03:22] denkensk commented on #233
/reopen
/remove-lifecycle rotten

[2022-02-22 03:24] denkensk commented on #233
I think we still need to include /vender in the src code. It will help people configure dev env easily.

[2022-02-22 11:56] aawuliliaa opened #345 "We need a filter to limit a kind of label pod within a certain count in a node"
Background:
In our live business,pod is running at a special kind node, we call this kind of node is "video-trans",there is one  "fpga" card in this kind of node, pod mainly use "fpga" card to transcode, use less cpu(100m) and memory(200Mi).

When buy this kind of node ,we can only choose 100Cores and 200Gi,these resource can support  a lot of pod, but "fpga" card can support 60 pods, so there is

[2022-02-22 12:11] denkensk commented on #345
/cc @Huang-Wei

[2022-02-22 12:36] denkensk commented on #345
Let me summarize：She wants to limit the count of the same style(Maybe belongs to the same deployments / Using the same resource like fpga ) on one node.

[2022-02-23 01:07] Huang-Wei commented on #345
@aawuliliaa I need to understand why your current solution wastes the cpu/mem resources: are you tainting the sparse nodes that have FPGA cards, and schedule the specific FPGA-related pods with corresponding tolerations?

If so, did you try to model the FPGA cards via extended resources to each node? (like xyz.com/fpga=<num>) Then you can schedule the specific FPGA-related pods as expected, to the

[2022-02-23 06:29] aawuliliaa commented on #345
thank you very much,i will have a try @Huang-Wei ,you said "give the FPGA workloads high priority",do you mean PriorityClass??

[2022-02-23 06:52] Huang-Wei commented on #345
yes, that can ensure the sparse resource always get utilized.

[2022-02-23 06:56] aawuliliaa commented on #345
OK

[2022-02-23 20:15] #339 closed

[2022-02-25 06:51] fromanirh opened #346 "noderesourcetopology: require NUMA alignment for memory and hugepages"
The noderesourcetopology filter plugin used to skip memory and hugepages when checking alignment requirements because the reporting of these resources wasn't readily available. That's no longer the case with changes landed in kubernetes >= 1.23 and with fixes to topology updating agents.

Considering the platform got up to speed, and considering the goals of the filter plugin, we should start doin

[2022-02-25 07:32] fromanirh commented on #331
I'm very interested in this, and I'd love to help at least for the noderesourcetopology plugin.

[2022-02-25 09:35] #264 closed

[2022-03-01 00:46] helayoty commented on #331
Thanks, @fromanirh for that. Much needed :)
 I'm working on finalizing the first step of adding the framework in place and you'll be more than welcome to add tests for plugins then.

I'll update the issue with the PR shortly.

[2022-03-01 03:09] helayoty commented on #331
@fromanirh  Here is the first PR. once approved, please go ahead and add tests cases for one or many plugins :)
https://github.com/kubernetes-sigs/scheduler-plugins/pull/349

[2022-03-03 15:51] DaspawnW opened #350 "Spring boot Scheduling"
Dear Kubernetes Scheduling SIG,

it seems quiet interesting what you are working on :-)
I know Github issues are not the place for raising questions, but we are currently at the point where we see now light at the end of the tunnel :-(

99% of our applications in our clusters are Spring Boot applications. If you have worked with spring boot applications, then you know that they have a very strange

[2022-03-03 22:54] helayoty commented on #350
From a Java point of view, JVM is immutable. You may go around it if you set the heap to the max so the pod can go up/down this limit only.

Now, back to the CPU problem, you may try to do some performance labs to try one of the following:
- Small VMs with more replicas
- Large VMs with fewer replicas

The research found that gives you different latency vs throughput.

[2022-03-04 19:02] #266 closed

[2022-03-08 22:04] #346 closed

[2022-03-09 07:15] fromanirh opened #351 "noderesourcetopology: improve the test coverage"
Improve the test coverage of the noderesourcetopology filter (and later, score) plugin.
This was also suggested in https://github.com/kubernetes-sigs/scheduler-plugins/pull/347#discussion_r822111156

A improved coverage will allow to perform internal cleanups, as suggested in https://github.com/kubernetes-sigs/scheduler-plugins/pull/347#discussion_r821926236 and following

[2022-03-09 07:15] fromanirh commented on #351
/assign

[2022-03-09 23:43] Huang-Wei commented on #351
To clarify the two followups:

1. Mix NUMA and non-NUMA nodes in the tests
2. Return `false` (instead of `true`) in `resMatchNUMANodes()` to indicate it's a mismatch.

[2022-03-10 14:43] mikenorgate opened #352 "Modification of pod spec during binding"
I'm looking for a way to dynamically set a pods `HostPort` when it is scheduled. My thinking is that during the binding cycle I could find available ports on the node and update the pod spec. Is it possible to edit the pod spec from within a plugin?

[2022-03-10 20:11] helayoty opened #353 "add Readme to the current helm chart"
The helm chart lacks documentation and how to install/customize it.

- [ ] Add [Readme](https://github.com/kubernetes-sigs/scheduler-plugins/blob/master/manifests/install/charts/as-a-second-scheduler/README.md) to the helm
- [ ] Update the [doc](https://github.com/kubernetes-sigs/scheduler-plugins/blob/master/doc/install.md#as-a-second-scheduler) specifying the steps to use helm chart -if any othe

[2022-03-11 04:25] Huang-Wei commented on #352
In terms of separation of concern, I don't think a scheduler plugin should update a Pod in any ways. Scheduler should be responsible for placing the pod only. There are more suitable ways to update the Pod's spec before or after the pod's scheduling.

[2022-03-11 08:10] mikenorgate commented on #352
@Huang-Wei can you recommend some more suitable ways, I've been searching for places that I could hook into that would allow changing the spec after scheduling but couldn't find anything which is why I ended up at the scheduler

[2022-03-11 17:29] #254 closed

[2022-03-11 20:36] Huang-Wei commented on #352
You can have an admission webhook to check Pod's update on `.spec.nodeName`, and then set the HostPort. However, I'm wondering if [HostPort](https://github.com/kubernetes/kubernetes/blob/86ad8fc58638b3e48db78a55478e645c4c3d8055/staging/src/k8s.io/api/core/v1/types.go#L1900) is mutable after pod gets created.

[2022-03-12 13:59] mikenorgate commented on #352
I've just done some testing using a mutating admission webhook and it works perfectly, I'm able to update the host port as needed, thank you

[2022-03-12 17:47] mikenorgate commented on #352
I was too eager on my testing and missed that I could only set it before it's assigned to a node rather than after

[2022-03-14 15:46] fromanirh commented on #331
thanks @helayoty and sorry for the late notice. I'll take a look ASAP

[2022-03-16 10:29] uniemimu opened #355 "using k8s extended resources makes the pod unschedulable at noderesourcetopology filtering"
The logic in the nrt filter.go resMatchNUMANodes function considers kubernetes extended resources as if they would all have some numa relevance. Since some of the extended resources may not be part of the createNUMANodeList results at all in case they are not registered device plugin resources, the end result is that any (not-best-effort) pod which uses such extended resources, will be considered

[2022-03-16 23:43] ArangoGutierrez commented on #309
This is correct, this issue can be closed

[2022-03-17 02:26] everpeace commented on #309
Thanks for the conformation. I'm closing this.

[2022-03-17 02:26] #309 closed

[2022-03-17 17:39] atantawi opened #357 "Overcommitment aware scheduler plugin KEP"
Though containers are allowed to specify resource limit values beyond the requested (guaranteed) values, most schedulers are only concerned with the requested values. This may result in a cluster where some (or all) nodes are overcommitted, thus leading to potential CPU congestion and performance degradation and/or memory OOM situations and pod evictions. A scheduler which takes into consideration

[2022-03-17 18:09] atantawi commented on #357
https://github.com/atantawi/357-kep-trimaran-3

[2022-03-17 20:35] karanchahal opened #358 "Pods are stuck in Pending phase when they should all start at same time"
Hello, our coscheduling config looks like this:
[code]

and when we run a Podgroup of 6 pods, only 1 runs and then the rest of the pods run a lot of time after the first one (it takes 10 mins on average for each pod to run)

this is the error message we see when we describe the pod:

[code]

is something messed up in our config ?

[2022-03-18 00:40] Huang-Wei commented on #355
cc @fromanirh

[2022-03-18 06:26] denkensk commented on #358
Can you also provide the pod group yaml here?

[2022-03-18 06:47] fromanirh commented on #355
/cc

[2022-03-18 16:22] karanchahal commented on #358
Yes, I do not have a yaml but when I descibr my pod group, I get this:
[code]

[2022-03-18 16:23] karanchahal commented on #358
I think this might be what you are looking for:
[code]

[2022-03-18 16:24] karanchahal commented on #358
this is the kubernetes api call we use to make the pod group:
[code]

[2022-03-19 17:42] #274 closed

[2022-03-21 03:22] denkensk commented on #358
I find the `Failed` in `Status` is 1.  Is there one pod in a failure state？Can you get the pods by `kubectl`?

[code]

Can you describe the details of the process? like
1. When you create the `PodGroup` before or after the object created？
2. Does it schedule successfully at first？ I am curious why there is one pod is failed. If the pods can't be scheduled, all of them will be pending.

[2022-03-28 09:26] NoicFank opened #361 "coscheduling: podGroup.status.scheduler always growing? Does it need to be reconciled？"
currently, there is one place to edit `status.scheduler` as follows:
[code](https://github.com/kubernetes-sigs/scheduler-plugins/blob/277b6bdec18f8a9e9ccd1bfeaf4b66495bfc6f92/pkg/coscheduling/core/core.go#L227)
[code]

which leads to some problems, like the example as follow:
-  10 pod are running with pg:
[code]
- then, 5 pods are evicted, where they need to be re-scheduled. Then, I expected podG

[2022-03-28 09:30] NoicFank commented on #361
@Huang-Wei PTAL, thanks.

[2022-03-29 04:39] Chenhait opened #362 "How to use scheduler-plugins in Trimaran Scheduler?"
I followed the tutorial
https://medium.com/paypal-tech/real-load-aware-scheduling-in-kubernetes-with-trimaran-a8efe14d51e2
the first step is build a kube-scheduler image as follows:

git clone https://github.com/kubernetes-sigs/scheduler-plugins.git
git checkout <desired-release-branch>
cd scheduler-plugins
env GOARCH=amd64 GOOS=linux go build -o kube-scheduler main.go

however, when i run env GOA

[2022-03-29 04:40] Chenhait opened #363 "How to use scheduler-plugins in Trimaran Scheduler?"
I followed the tutorial
https://medium.com/paypal-tech/real-load-aware-scheduling-in-kubernetes-with-trimaran-a8efe14d51e2
the first step is build a kube-scheduler image as follows:

git clone https://github.com/kubernetes-sigs/scheduler-plugins.git
git checkout
cd scheduler-plugins
env GOARCH=amd64 GOOS=linux go build -o kube-scheduler main.go

however, when i run env GOARCH=amd64 GOOS=linux go b

[2022-03-29 07:06] NoicFank opened #364 "Coscheduling: perfilter always reject the newly created pods in podGroup"
when I start the coscheduling for the first time, and I want 5 pods in same podGroup be scheduled together. But it always reject for the first time in `perFilter`, although they could be scheduled successfully at the end.
- scheduler log
[code]
- kubectl get pods -n test -w
[code]
For the reasons, those 5 pod belong to same podsGroup are created serially, then when the first pod reaches per-filter

[2022-03-29 11:58] NoicFank commented on #358
Is this gang-scheduling, that you want all 6 pod scheduled together?

This condition should not happen in the first scheduling, and it's most likely happen when all 6 pod scheduled, but some of them need to re-created due to some reason(maybe ha, etc...), then those re-created pods need to re-scheduled, but there is big chance that the num of pods less than 6 in `perFilter`, where those pods will

[2022-03-29 12:26] Chenhait opened #365 "no matches for kind "KubeSchedulerConfiguration" in version "kubescheduler.config.k8s.io/v1beta2""
i tried
![image](https://user-images.githubusercontent.com/68895932/160610743-30bb8d92-881a-4578-bf56-0407d4924707.png)

however, there is a error

![image](https://user-images.githubusercontent.com/68895932/160610889-9d4057ac-06b7-423f-8ced-204752e90506.png)

thank you so so much if any advance!!!

[2022-03-30 11:48] denkensk commented on #365
It's not a public api. It's just a config for scheduler.

[2022-03-30 11:56] denkensk commented on #364
Yes. It's meaningful to let the newly created pods to pass pre-filter at least the first time to schedule.

[2022-03-30 13:25] Chenhait commented on #365
thank you very much for your reply!

[2022-03-31 07:54] denkensk commented on #365
/close

[2022-03-31 07:54] #365 closed

[2022-03-31 13:42] NoicFank commented on #364
[code]
@denkensk tanks for your reply. I am little confused when I run ./hack/update-codegen.sh. I found the internal type is `ScoringStrategy` and v1beta2, v1beta3 is `*ScoringStrategy`, which leads this error.  Could you please help me to solve this error?

[2022-04-11 04:30] mkr1481 commented on #353
hi @helayoty
As a new contributor, i would like to look ino this issue. Can you please help by adding more details on description which helm-chars you would want README.md

[2022-04-11 14:03] helayoty commented on #353
@mkr1481 Thanks for being interested to contribute. The helm chart for the project can be found [here](https://github.com/kubernetes-sigs/scheduler-plugins/tree/master/manifests/install/charts/as-a-second-scheduler).

Also, [Here](https://github.com/kubernetes-sigs/secrets-store-csi-driver/tree/main/charts/secrets-store-csi-driver) is a sample of how we expect the documentation to be. Please let m

[2022-04-11 14:04] helayoty commented on #331
/help-wanted

[2022-04-11 14:08] helayoty commented on #327
/good-first-issue

[2022-04-11 14:10] helayoty commented on #331
/help-wanted

[2022-04-11 14:13] helayoty commented on #327
/remove-good-first-issue

[2022-04-11 14:15] fromanirh commented on #331
(still catching up, sorry!) for the noderesourcetopology plugin, which I'm very interested into, I'm not sure a proper e2e test is possible. The reason for me saying so is the plugin depends on data which is meant to be populated by other cluster components (node agents, daemonsets running on nodes). The problem here is that to have meaningful data, we would need 2+ worker nodes each with 2+ NUMA

[2022-04-11 14:18] helayoty commented on #331
/good-first-issue

[2022-04-11 14:18] helayoty commented on #331
/remove-good-first-issue

[2022-04-13 21:04] Tal-or opened #366 "noderesourcetopology: wrong accounting of the filter plugin when scope=container"
**Problem Description:**

When **scope=container** and the scheduled pod has **multiple containers**, the noderesourcetopology filter plugin does the accounting in a wrong way.
The plugin treats each container inside the pod individually, and check if it's fit into the (NUMA) node without taking into consideration the resources which already allocated by the previous container's requests.

**Examp

[2022-04-13 22:06] #351 closed

[2022-04-14 01:16] Huang-Wei commented on #366
I think this is a valid concern. Furthermore, we may need to make the filtering logic a bit smarter, like by giving the available node as:

[code]

And the incoming pod's containers are like:

[code]

We should fit container A to numa 2; otherwise (fit it to numa 1) container B would be falsely claimed as unschedulable.

cc @swatisehgal @fromanirh

[2022-04-18 05:06] #295 closed

[2022-04-18 05:06] #297 closed

[2022-04-24 10:01] NoicFank opened #368 "Co-Scheduling: it's better to use the time of first pod in pg arrived SchedulingQueue"
Instead of using `CreationTimestamp` of pg, it's better to use the time of first pod in pg arrived SchedulingQueue?  as creating podGroup and creating pod to schedule is async.
[code]

In the following example:
- `pg1` is created before `pg2`
- there are `pod1-0`, `pod1-1` in pogGroup `pg1`, and `pod2-0`,`pod2-1` in `pg2`, then:

1. firstly: `pod2-0` &  `pod2-1` arrived.
- Queue: `pod2-1`,`pod2-0`

[2022-04-25 02:02] #278 closed

[2022-04-25 05:15] zhiyxu opened #369 "Coscheduling: when some pod failed, the other pods don't exit"
I'm pre-researching coscheduling plugin, combind with pytorch operator, trying to use it in production environment and replacing volcano scheduler, to avoid fragmentation of resource view, but I got some problems.

After all master and workers running successfully, if some worker killed or failed, in volcano, all pods under the job are restarted, which is expected. But when using scheduling plugin

[2022-04-25 21:30] Huang-Wei commented on #368
Theoretically, I think your proposal is only better in _some_ case. It's not necessarily the PodGroup that has early-arriving pod should be always prioritized than a PodGroup that has later-arriving pod.

A good solution is to impose extra semantics to the PodGroup, like queue. I'm proposing a refined PodGroup API in https://docs.google.com/document/d/16yLngEOd6x3IS6ejkclrCdmkDYfxtTyr97a7uNug_wA/v

[2022-04-26 02:18] NoicFank commented on #368
yeah, for sure. Access to the document is denied. Please apply through my access request, thanks.

[2022-04-26 02:48] zhiyxu commented on #369
@Huang-Wei Thank you for your quick reply.

In a distributed training task, if some child task failed, we expect the whole task exit or restarted, currently this is implemented by volcano controller using [following config](https://github.com/volcano-sh/volcano/blob/master/example/integrations/tensorflow/dist-mnist/tf-dist-mnist-example.yaml#L12):
[code]
Do we need to implement a controller to ach

[2022-04-26 06:08] Huang-Wei commented on #369
Yes, how to act on a failure of pods should be the responsibility of the job controller, instead of scheduler.

Regarding the controller implementation, does a _pure_ volcano controller fit? If no, does kubeflow training operator define a similar job-level restarting API to fit your req?

[2022-04-26 06:19] denkensk commented on #369
These behavior is need to provided by the controller instead of scheduler. Actually it's also provided in kubeflow/trainning-operator.
Can you try to set `RestartPolicy` as `OnFailure ` in your PytrochJob.
https://github.com/kubeflow/common/blob/26a6cece18dde58174b493fe86cf0eb421b5e153/pkg/apis/common/v1/types.go#L156
@zhiyxu

[2022-04-27 07:18] #300 closed

[2022-04-28 06:39] zhiyxu commented on #369
@denkensk Thanks, I'm testing PytorchJob workload, I have one more question:

Currently, we are using a mix of default-scheduler and volcano-scheduler, and scheduling single-machine and distributed offline tasks in different resource pools through `metadata.labels`, which results in the split-up of resource views and makes it difficult to improve the efficiency of resource usage. So we want to uni

[2022-04-28 06:48] denkensk commented on #369
We test the same jobs between volcano-scheduler and Coscheduling in scheduler-plugins. I don't think there is any extra work. Also there are some experience to share with you from the production like openAI https://openai.com/blog/scaling-kubernetes-to-7500-nodes/ and our company https://help.aliyun.com/document_detail/178169.html

[2022-04-28 06:50] denkensk commented on #369
Wei and me are proposing a refined PodGroup API in https://docs.google.com/document/d/16yLngEOd6x3IS6ejkclrCdmkDYfxtTyr97a7uNug_wA/view, and pursuing to make it available in k/k.

Fell free to give your comments.

[2022-04-28 07:07] Huang-Wei commented on #369
Regarding this the roadmap of this repo, it will focus on the scheduling semantics and implementation, based on scheduler framework.

[2022-04-28 10:02] fromanirh commented on #355
Sorry for the delay. I will work on this.

[2022-05-02 20:42] mateuszlitwin commented on #110
/remove-lifecycle rotten

[2022-05-02 22:26] Huang-Wei commented on #110
I'm drafting a proposal to address this issue.

[2022-05-10 18:28] yuanchen8911 commented on #368
Before the proposed PodGroup semantics are available,  I think custom and configurable sorting strategies, including the proposed one here, might be helpful. It can be configured via `coscheduling` plugin config.

- Default sorting
- Sorting based on the first pod's timestamp
- Prioritize pods in a pod group that has reservation and is waiting for additional pods.

[2022-05-14 01:09] mymlzz opened #374 "the images from "make local-image" is same with k8s.gcr.io/scheduler-plugins/kube-scheduler and controller?"
Hi

My k8s is v1.22.6 and "git clone git@github.com:kubernetes-sigs/scheduler-plugins.git" on "$GOPATH/src/sigs.k8s.io".

After "make local-image" I get two images "localhost:5000/scheduler-plugins/kube-scheduler:latest" and "localhost:5000/scheduler-plugins/controller:latest"

I "docker tag" these two images to "k8s.gcr.io/scheduler-plugins/kube-scheduler:v0.22.6" and "k8s.gcr.io/scheduler-plugin

[2022-05-15 18:19] Huang-Wei commented on #374
Given your k8s is at v1.22.6, it's recommended to compile your scheduler-plugins at v1.22.X as well. I suppose you're running scheduler-plugins at `master`?

Can you `k describe pod <pending pod>`?

I suppose you've already built the image, no?

[2022-05-16 03:53] mymlzz commented on #374
Hi

Thank you for your patient reply.

However, After I "git clone --branch v0.22.6 git@github.com:kubernetes-sigs/scheduler-plugins.git".
It show 👍 scheduler-plugins v0.22.6 are available at kube-scheduler:v0.22.6 and controller:v0.22.6.
![image](https://user-images.githubusercontent.com/105040475/168515718-5e27dd76-6ff9-45be-abf4-9ea58cbf419e.png)

However, In "/manifest/install/all-for-one.yaml

[2022-05-20 15:40] dmatch01 opened #375 "Helm installation failure: Unable to continue with install: CustomResourceDefinition "noderesourcetopologies.topology.node.k8s.io" ... exists and cannot be imported into the current release."
[code]

Referencing: https://github.com/kubernetes-sigs/scheduler-plugins/blob/master/doc/install.md#as-a-second-scheduler

Reproduce failure:
1) Cluster administrator had already installed NFD: https://kubernetes-sigs.github.io/node-feature-discovery/v0.10/get-started/quick-start.html#installation.  This installation installs: CRD "noderesourcetopologies.topology.node.k8s.io" (https://github.com/

[2022-05-23 02:53] NoicFank commented on #368
Thanks for the advices, I will see about this.

[2022-05-24 10:45] aNDREUET648 opened #379 "Creating a kube-scheduler plugin on Microk8s"
#### Abstract
I'm trying to create a **kube-scheduler plugin on Microk8s**.
To do that I will implement my own scheduler image. I will also need to register, configure the plugin API, implement the extension point interfaces defined in the kubernetes scheduler framework package.
As plugins must be compiled with the scheduler, writing a wrapper allows to re-use the scheduler’s code in a clean way.

[2022-05-27 05:54] zhiyxu opened #380 "Capacity scheduling issue in preemption"
The [following line](https://github.com/kubernetes-sigs/scheduler-plugins/blob/57499a6332c124314020a368c862b8b97470cc11/pkg/capacityscheduling/capacity_scheduling.go#L426) in Capacity Scheduling is confusing:
[code]

`nominatedPodsReqWithPodReq` contains resources of Nominated Pods subject to other quota/namespace, which shouldn not be considered when calculating whether the preemptor‘s ElasticQuo

[2022-06-01 21:35] chetak123 commented on #353
Hey @helayoty I would like to take this issue, Also I wanted to ask that how do find all the parameters that this helm chart provides, Should I install it and test it out first ?
/assign @chetak123

[2022-06-01 21:54] helayoty commented on #353
@chetak123 Thanks for offering to help. You can find all parameters [here](https://github.com/kubernetes-sigs/scheduler-plugins/blob/master/manifests/install/charts/as-a-second-scheduler/values.yaml).

Also, [Here](https://github.com/kubernetes-sigs/secrets-store-csi-driver/tree/main/charts/secrets-store-csi-driver) is a sample of how we expect the documentation to be. Please let me know if you ne

[2022-06-03 19:51] chetak123 commented on #353
Hey @helayoty I have made a pr for this issue, also can you please specify a little more about the task 2 like what exactly I have to add there ?
Thanks

[2022-06-03 22:16] helayoty commented on #353
@chetak123 Not much, just make sure (this)[https://github.com/kubernetes-sigs/scheduler-plugins/blob/master/doc/install.md#as-a-second-scheduler] section is up-to-date and if you can add a link to the helm  README you are working on.

[2022-06-08 06:49] #380 closed

[2022-06-08 19:18] #154 closed

[2022-06-13 08:36] caohe opened #386 "Coscheduling: Condition of PodGroup Failed Phase"
I found that a PodGroup is in Failed phase when it meets the requirements below:
1. There are Pods in the Failed phase
2. The number of Pods in the Running/Succeeded/Failed phases is greater than minMember

https://github.com/kubernetes-sigs/scheduler-plugins/blob/84d3e79188fcbf11f0e7bfdf1a261116ef7f12c9/pkg/controller/podgroup.go#L259-L262

I am wondering whether we should add a condition:
The nu

[2022-06-13 09:04] caohe opened #387 "Coscheduling: Add a Sort Condition to QueueSort"
In the early [implementation](https://github.com/kubernetes-sigs/scheduler-plugins/tree/master/kep/2-lightweight-coscheduling) of Coscheduling, it mentioned

However, I found that in the new [implementation](https://github.com/kubernetes-sigs/scheduler-plugins/tree/master/kep/42-podgroup-coscheduling) of Coscheduling, this condition is replaced by comparing the `namespace/name` strings of two **Po

[2022-06-15 02:15] #260 closed

[2022-06-15 19:45] Huang-Wei commented on #387
@caohe when the creationTime are equal, it usually implies the two pods belong to the same PodGroup, and thus comparing with the two pods's namespaceName is reasonable and stable. Your suggestion on comparing two PodGroups won't differentiate the two pods IMO.

cc @denkensk

[2022-06-15 20:09] caohe commented on #387
@Huang-Wei Thanks for your reply. I think in most cases, this is true. However, in some special cases, two PodGroups may be created at the same time. So just comparing two pods's namespaceName may be not reliable.

[2022-06-15 20:13] Huang-Wei commented on #387
Hmm... are you sure in the real world, the nano/milliseconds of two PodGroup's creationTime are identical?

[2022-06-15 20:26] Huang-Wei commented on #386
This is somewhat captured in the previous `if` block, but we don't compose the logic in an `if...else...` manner, so yes, it's possible the failed != 0, but running/completed pods have already meet the quorum.

@denkensk I think we should polish the logic a bit: consider the conditions thoroughly, and compose a `if...else...`-like flow; otherwise, the current logic is a bit crappy - the latter if

[2022-06-16 01:18] Huang-Wei commented on #357
@atantawi Just realized there is no PR raised in this repo...

/remove-lifecycle stale

[2022-06-16 03:27] caohe commented on #386
Yes, to be specific, if the failed != 0, but running/completed pods have already meet the quorum, the **expected** status of the PodGroup will be `Running`; while the **actual** status of the PodGroup will be set to `Failed`:

- first it will be captured in the previous `if` block, and the PodGroup's status will be set to `Running`;
- later it will be captured in this block, and the PodGroup's sta

[2022-06-16 03:35] caohe commented on #387
Aha, actually I am not sure. I agree with you on the point that it's very unlikely to happen.

[2022-06-16 05:13] caohe commented on #386
Also, I am wondering whether the current `Scheduling` phase is actually needed. I think maybe we can combine `PreScheduling` and `Scheduling` to one phase.

A `Scheduled` Pod is a Pod that has been already bound, which implies the number of Pods that can be scheduled (bound or not bound) has reached `minMember`. So the current definition of `Scheduling` phase is: there is at least one bound Pod, w

[2022-06-20 11:39] denkensk commented on #386
+1 It's better to change it to if...else... flow. The current implementation is hard to read well.

[2022-06-20 11:47] denkensk commented on #386
I think it is better to merge `Scheduling` and `PreScheduling` together. We should try to avoid updating the status of the pod group in the scheduler.

[2022-06-22 09:05] zhiyxu opened #391 "Capacity Scheduling could get stuck in a loop"
Is it possible for capacity scheduling to get stuck in a loop:

Pod1 in ElasticQuota1 is currently unschedulable, and EQ1.Used < EQ1.Min, while Pod2 running in ElasticQuota2 and EQ2.Used > EQ2.Min, so Pod1 can preempt Pod2 in EQ2 and running successfully.

But after preemption, EQ1.Used > EQ1.Min, EQ2.Used < EQ2.Min, then Pod2 can preempt Pod1...

I'm not sure if this will happen.
@denkensk

[2022-06-22 16:55] #366 closed

[2022-06-23 18:05] #233 closed

[2022-06-27 07:54] jewelzqiu commented on #316
@denkensk hi，I‘m also testing CapacityScheduling as a second scheduler (installed using https://github.com/kubernetes-sigs/scheduler-plugins/tree/release-1.21/manifests/install/charts/as-a-second-scheduler).
using default configmap (Coscheduling only)，scheduler logs seems ok:
[code]
but after I changed configmap to test CapacityScheduling:
[code]
the scheduler failed to run:
[code]
I noticed that

[2022-06-28 02:49] riyazhakki opened #394 "kube-scheduler failed to start with k8s v1.24.2"
My k8s version is v1.24.2, compiled my scheduler-plugins at master.

while starting the kube-scheduler container throwing following error.

$` kubectl logs pod/kube-scheduler-c7-master-vm2 -n kube-system`
Flag --port has been deprecated, This flag has no effect now and will be removed in v1.24. You can use --secure-port instead.
I0627 15:15:46.623770       1 serving.go:348] Generated self-signed c

[2022-06-28 06:56] denkensk commented on #391
No. It will add the resource of preemptor to prevent the loop infinite preempt.

Pls take a look:
https://github.com/kubernetes-sigs/scheduler-plugins/blob/1550aa8419628b7d0520ee594fec7718444426d4/pkg/capacityscheduling/capacity_scheduling.go#L519

[2022-06-28 17:52] Huang-Wei commented on #394
@riyazhakki given the master branch is still at 1.23, that behavior is as expected:

https://github.com/kubernetes-sigs/scheduler-plugins/blob/1550aa8419628b7d0520ee594fec7718444426d4/go.mod#L24

We will soon cut an official 1.23 image, along with bumping master to 1.24.

@fromanirh @Tal-or please let me know which ongoing PRs are disired to be merged before we bump to 1.24.

[2022-06-28 18:33] #355 closed

[2022-06-30 05:16] #353 closed

[2022-07-01 10:07] JulianTS opened #396 "How to add own plugin to helm chart"
Hey,

I wondered how I add a simple scoring plugin without any args, like the pod state sample, to the helm chart for an easy deployment as second scheduler on all kinds of clusters(most likely kind or k3d).

Which manifest files etc do I have to modify?
Or is there a better way?

plugin is located in
`/pkg/energy/energy.go
`

Writing my BA thesis about a plugin and would appreciate some help!

[2022-07-03 01:20] autumn0207 commented on #396
You need to compile your code into image first, then replace the image info in the helm chart.

[2022-07-04 08:15] JulianTS commented on #396
replace the scheduler image in `manifests/install/charts/as-a-second-scheduler/values.yaml` ?

and probably add the name in there to the plugins as well?

[2022-07-05 05:38] caohe opened #397 "Coscheduling: Pod sometimes takes too long to be scheduled"
In order to block invalid inputs and improve the scheduling throughput, `PreFilter` plugin is introduced and checks whether pod's associated PodGroup exists and the number of created Pods achieves minMember.

### Problem
However, the watch mechanism is asynchronous, which may lead to some problems:
- job controller creates PodGroup and Pods almost at the same time. The watch events between differe

[2022-07-05 15:52] mvle opened #398 "KEP: SySched syscall aware scheduling plugin"
Submitting a KEP for a plugin proposal that uses a pod's system call profile for scheduling. This can help improve the security posture of pods in the cluster.

Some description of the plugin can be found in the mailing list:
https://groups.google.com/g/kubernetes-sig-scheduling/c/fXTaIf4dbh8

We presented the proposal to the community on April 7, 2022 but it looks like the recording has not been

[2022-07-05 16:50] caohe commented on #397
I found that It was fixed in v1.22. we will backport it to v1.20, the K8s version of our cluster.
https://github.com/kubernetes/kubernetes/pull/103383
https://github.com/kubernetes-sigs/scheduler-plugins/pull/299

[2022-07-05 17:00] Huang-Wei commented on #397
@caohe yup, I'd highly recommend #299 along with https://github.com/kubernetes/kubernetes/pull/103383 to roll out the coscheduling feature in prod env.

[2022-07-05 19:45] mvle commented on #398
PR #399

[2022-07-05 19:52] #398 closed

[2022-07-08 03:06] seanmalloy commented on #396
To change the container image you would change this line: https://github.com/kubernetes-sigs/scheduler-plugins/blob/master/manifests/install/charts/as-a-second-scheduler/values.yaml#L8

The second part would be the configuration for the scheduler which in this helm chart is a `ConfigMap`. You need to take a look that this template: https://github.com/kubernetes-sigs/scheduler-plugins/blob/master/m

[2022-07-11 01:02] helayoty commented on #331
/remove-lifecycle stale

[2022-07-12 18:31] atantawi opened #400 "LoadVariationRiskBalancingPlugin enhanced integration test"
[code]

[2022-07-15 20:45] atantawi opened #402 "Trimaran: Restructure for ease of adding trimaran plugins"
Currently, we have two load-aware trimaran plugins: TargetLoadPacking and LoadVariationRiskBalancing. As we plan to add more trimaran plugins, we need to extract common components for efficiency and ease of addition.

In particular, the following are common among trimaran plugins:

- Load watcher arguments
- A Collector to get data from load watcher, encapsulating the load watcher and its operatio

[2022-07-19 04:35] fredkan opened #404 "Update K8S Deps to 1.24"
Update the k8s dependencies to 1.24, and release 1.23 version;

[2022-07-19 04:36] fredkan commented on #404
@Huang-Wei @denkensk CC

[2022-07-19 17:53] Huang-Wei commented on #404
@fredkan yup, this is something I'm going to finish this week.

[2022-07-19 18:31] Huang-Wei opened #405 "[Umbrella] TODO items in release 1.24"
- [x] Follow-up of upstream v1beta3 config issue. ([1](https://github.com/kubernetes-sigs/scheduler-plugins/blob/6aadda4e9213fd0f71807cd6630eb8e58db740fd/cmd/scheduler/main_test.go#L499) and [2](https://github.com/kubernetes-sigs/scheduler-plugins/blob/6aadda4e9213fd0f71807cd6630eb8e58db740fd/test/util/framework.go#L45)) - fixed by #409

[2022-07-19 23:05] Huang-Wei opened #406 "Release 0.23"
- [x] follow the [release process](https://github.com/kubernetes-sigs/scheduler-plugins/blob/master/RELEASE.md) to create branches and tag (https://github.com/kubernetes/k8s.io/pull/4106)
- [x] document update (#414)

[2022-07-21 21:13] Huang-Wei commented on #364
/remove-lifecycle stale

[2022-07-21 21:37] Huang-Wei commented on #364
Per offline discussion with @yibozhuang, given we have a logic that can proactively move a pod's sibling pods back, it may be possible to eliminate the whole "lastDeniedPodGroup" optimization, without losing functionality's correctness, while also make scheduling more performant.

@yibozhuang is evaluating it thoroughly and will come up with a refactor.

[2022-07-21 22:59] #343 closed

[2022-07-22 03:30] chenxi-seu opened #410 "Coscheduling: PodGroup completion progress check in PreFilter extension"
Hi
I noticed that there is a description of podGroups' completion process in `PreFilter` extension. But I haven't found the relevant code logic in the `Prefilter` extension point. Is it a `todo` to be implemented later ?

Reference: [Kep Prefilter](https://github.com/kubernetes-sigs/scheduler-plugins/tree/master/kep/42-podgroup-coscheduling#prefilter)
kep/42-podgroup-coscheduling/README.md

![imag

[2022-07-22 10:35] Chenxi-Seu commented on #410
@wadecai  Could you please share some ideas, as I see you are the author of this kep :)

[2022-07-22 17:25] #364 closed

[2022-07-23 08:18] #345 closed

[2022-07-26 04:06] Chenxi-Seu commented on #410
@Huang-Wei  Could you please share any ideas about this ~

[2022-07-28 20:39] #404 closed

[2022-08-01 00:40] #350 closed

[2022-08-05 17:37] #402 closed

[2022-08-09 19:58] #352 closed

[2022-08-10 15:08] atantawi commented on #400
I reran TestLoadVariationRiskBalancingPlugin integration test and was successful. The failure I got earlier was probably due to my testing setup where I was using a (multipass) VM on a mac and probably had issues with networking as I got "Load watcher client failed".
Accordingly, I am changing the title of this issue from "failure" to "enhancement", as the use case in the TestLoadVariationRiskBala

[2022-08-10 18:13] atantawi commented on #357
Demonstration of plugin under

1. Spring Boot scenario, and
2. compute-intensive burstable workload (used PARSEC workbench).

[Demo](https://github.com/atantawi/357-kep-trimaran-3/blob/main/demos/trimaran-3-demo.pdf) shows an improvement of a factor of two in job run time.

[2022-08-12 17:13] asm582 commented on #358
Hello, is this issue fixed, on the empty cluster we are seeing about 70 secs to schedule two pods with co-scheduler.

[2022-08-13 01:28] Huang-Wei commented on #358
Yes, we do, the bug has different symptom on different versions. Starting with v0.22.6, it's expected to basically gone. And in the upcoming v0.23.X, the code start time is even boosted. Which version are you using?

[2022-08-13 17:33] asm582 commented on #358
@Huang-Wei we are using the version: `[k8s.gcr.io/scheduler-plugins/controller:v0.22.6](http://k8s.gcr.io/scheduler-plugins/controller:v0.22.6)` but we still see the issue

[2022-08-14 16:58] #400 closed

[2022-08-16 01:43] Huang-Wei commented on #358
It seems this case is described in #408, which is common when the system is pretty idle (means no pods are queuing):

pods in the same group has not been created yet, we would fail
PreFilter due to not reaching required min number and would
add the PodGroup to the lastDeniedPG in PostFilter.
Due the 3s timeout cache used for lastDeniedPG, if the other
pods in the PG were created within those 3s, t

[2022-08-16 01:45] asm582 commented on #358
@Huang-Wei Thanks, I am willing to try it out.

[2022-08-18 17:18] Huang-Wei commented on #358
/remove-lifecycle rotten

[2022-08-18 18:25] asm582 commented on #358
Hello @Huang-Wei , curious to know if we have a new release out that we can try.

[2022-08-18 20:32] Huang-Wei commented on #358
@asm582 I'm doing some verification, and will promote it as an official release later today, it works fine locally:

[code]

[2022-08-18 20:35] asm582 commented on #358
Thanks @Huang-Wei , It looks like you create podgroup before the deployment in your testing. If possible can you test by submitting new deployments that have new podgroups and can we do testing in general for replicas >10?

[2022-08-18 22:13] Huang-Wei commented on #358
@asm582 v0.23.10 is live, you can refer to https://github.com/kubernetes-sigs/scheduler-plugins/pull/414 for latest setup.

That doesn't quite matter as if a PodGroup is not acked scheduler while the pods carry PG labels, the pods will be marked as unschedulable.

[2022-08-18 22:21] Huang-Wei commented on #358
@asm582 I did give it a try, let me know if this is what you meant:

[code]

[2022-08-18 22:21] Huang-Wei commented on #358
@asm582 I did give it a try, let me know if this is what you meant:

[code]

[2022-08-19 12:12] asm582 commented on #358
@Huang-Wei In version `0.22.6`  we get a lot of failed scheduling events, I hope they are resolved in your latest release and you don't see then in your tests:

[code]

[2022-08-19 17:08] Huang-Wei commented on #358
@asm582 not quite surprising to me and that is exactly what 0.23.10 resolved.

[2022-08-19 18:16] Huang-Wei opened #415 "Flaky test in TestLoadVariationRiskBalancingPlugin"
- https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_scheduler-plugins/414/pull-scheduler-plugins-integration-test-master/1560681107773460480
- https://prow.k8s.io/view/gs/kubernetes-jenkins/pr-logs/pull/kubernetes-sigs_scheduler-plugins/414/pull-scheduler-plugins-integration-test-master/1560692216433741824

[2022-08-19 18:26] Huang-Wei commented on #415
@atantawi it seems https://github.com/kubernetes-sigs/scheduler-plugins/pull/401 introduced some flakyness? Could you take a look? This is now blocking PR's merge like https://github.com/kubernetes-sigs/scheduler-plugins/pull/414#issuecomment-1220974861.

/assign @atantawi

[2022-08-19 18:26] Huang-Wei commented on #415
cc @wangchen615

[2022-08-22 15:02] asm582 opened #416 "Co-scheduled pods never get scheduled"
Hello,

I have a cluster with 10 nodes, I am co-scheduling 8 pods but they are always pending, below are the events seen in one of the pods:

[code]

Co-scheduler version `k8s.gcr.io/scheduler-plugins/kube-scheduler:v0.22.6`

[2022-08-22 16:04] asm582 commented on #416
Below message seems to be incorrect:

`Warning  FailedScheduling  3m6s  scheduler-plugins-scheduler  0/10 nodes are available: 10 pod with pgName: default/ray-pg last failed in 3s, deny.`

I only have 8 pods but it reports `10` pod with pgName in the above message?

[2022-08-22 18:13] atantawi commented on #415
@Huang-Wei @wangchen615

The one change that I see could have made a difference in moving the block

down after initializing the test. I will move it back up and submit a PR associated with this issue.
I tested the change in my local environment and seems to be working OK.

[2022-08-22 18:14] Huang-Wei commented on #415
Thanks @atantawi for looking into it. Please raise a PR.

[2022-08-22 22:54] Huang-Wei commented on #416
@asm582 can you try v0.23.10?

[2022-08-23 00:01] Huang-Wei commented on #416
How many pods speciy pgName=rag-pg?

[2022-08-23 00:17] asm582 commented on #416
8 pods in a podgroup

[2022-08-23 00:30] asm582 commented on #416
@Huang-Wei We see same issue with version `0.23.10 `

[code]

[code]

[2022-08-23 00:38] Huang-Wei commented on #416
@asm582 could you describe the detailed reproducing steps from scratch?

[2022-08-23 00:42] Huang-Wei commented on #416
That message means `10 nodes failed with reason "pod with pgName blabla"`.

[2022-08-23 00:57] asm582 commented on #416
ok, thanks for the confirmation, so the message has a bug it reports pods instead of nodes.

[2022-08-23 01:03] Huang-Wei commented on #416
well, it's not a bug, if you look at the regular message, they all follow the pattern:

[code]

[2022-08-23 01:05] asm582 commented on #416
Got it, thanks! <node count> <reason message> is the format, I am a new user, and may it's just not obvious to me. adding something more descriptive could help I think

[2022-08-23 15:37] atantawi commented on #415
I am also filling the `Window` and `Timestamp` fields in `watcher.WatcherMetrics` in the test.

[2022-08-23 17:19] #415 closed

[2022-08-24 04:28] Huang-Wei commented on #379
@aNDREUET648 not sure you have work the problem around, if not, here are some hints maybe helpful:

When you build your own scheduler with additional plugins, keep in mind that those delta plugins are NOT enabled by default. So this config file tells scheduler which plugins you want to enable, also you can disable some default plugins, or change some plugin's default arguments or weight.

This ste

[2022-08-24 08:11] aNDREUET648 commented on #379
![Captura de pantalla de 2022-08-22 22-43-47](https://user-images.githubusercontent.com/74447839/186361150-7d8c7c1e-263e-4fe3-b85c-094b7daf8ff0.png)
Hi @Huang-Wei, sorry to bother you I know you're a busy man.
I have tried to deploy a second scheduler on my MicroK8s cluster but I am still getting errors. Let me tell you:

- I have finished deploying a kube-scheduler with the SIG scheduler-plugins

[2022-08-24 16:59] Huang-Wei commented on #379
To narrow down the issue, could you just run the vanilla install of Helm chart v0.23.10 and see if it works in microK8s?

[2022-08-25 10:48] #361 closed

[2022-08-25 15:29] aNDREUET648 commented on #379
Hello @Huang-Wei , I will test the Helm chart v0.23.10 on my microk8s v1.24 tonight and get back to you with what happened.

Best regards

Andreu

[2022-08-25 16:02] aNDREUET648 commented on #379
Sorry to interrupt you again, but the problem is that if I use Helm chart version v0.23.10, the values.yaml file includes the plugins that I will use (just as it did before in the configmap.yaml file) but where do I include now ` profiles.pluginConfig.args` of the NetworkTraffic plugin? or the ones that the Coscheduling plugin had before?

`configmap.yaml v0.22.6`

[code]

The configmap.yaml file

[2022-08-25 21:53] Huang-Wei commented on #379
@aNDREUET648 yup, the recent Helm chart refactoring PR #326 doesn't support pluginConfig's customization. And in recent refactoring to leverage v1beta3, this support isn't added either. I will create an issue to track on this.

Before this gets implemented, you have to hardcodde `as-a-second-scheduler/templates/configmap.yaml` with additional pluginConfig for your plugin. BTW: the values.yaml does

[2022-08-25 21:55] Huang-Wei opened #419 "[Helm] support customizing pluginConfig"
Follow up of https://github.com/kubernetes-sigs/scheduler-plugins/issues/379#issuecomment-1227798395:

It'd be nice to add support for customizing pluginConfig in `as-a-second-scheduler/templates/configmap.yaml`.

[2022-08-26 06:52] #363 closed

[2022-08-26 15:16] asm582 commented on #416
@Huang-Wei I confirm that the performance issues are gone but there is an issue wrt to events that co-scheduler fires. if the cluster has all nodes tainted and pods do not have tolerations then co-scheduler generates a message : `optimistic rejection in PostFilter` where as the default scheduler prints out the correct message: `0/1 nodes are available: 1 node(s) had taint {key1: value1}, that the

[2022-08-26 17:28] asm582 opened #420 "co-scheduler does not get installed in custom namespace"
When user tries to install helm in custom namespace other than `default` the installation fails with below error:

[code]

[2022-08-26 18:54] #362 closed

[2022-08-27 05:19] lianghao208 commented on #419
/assign

[2022-08-27 05:25] lianghao208 commented on #419
For now, I think only coscheduling, noderesources, noderesourcetopology and trimaran have their onw pluginConfig. I'll work on pluginConfig's customization of these 4 plugins. @Huang-Wei

[2022-08-29 21:09] Huang-Wei commented on #416
More of a UX improvement. Why you saw it is b/c some of the pods in the PodGroup are "half-completed", i.e., scheduling constraints for them have been satisfied, so they're internally waiting for other sibling pods to be completed scheduling. However, other portion are not schedulable, so in the PostFilter, the optimization is to cancel waiting for those "half-completed" ones as they cannot succef

[2022-08-30 06:05] s7an-it commented on #350
@DaspawnW, have you found a solution, I can perhaps help you with my custom one if not.

[2022-08-30 09:02] Telemaco019 opened #422 "[Trimaran] Support GPU resource"
Hello everyone,

It would be nice if Trimaran supported load-aware scheduling based on GPU utilization.

The [load-watcher](https://github.com/paypal/load-watcher) service supports Prometheus sources, so the metrics exposed by the NVIDIA DCGM Exporter (described [here](https://docs.nvidia.com/datacenter/dcgm/latest/user-guide/feature-overview.html#metrics)) could be used for determining GPU usage.

[2022-08-30 16:24] Huang-Wei commented on #422
cc @atantawi @zorro786 @wangchen615

[2022-08-30 16:31] wangchen615 commented on #422
@Huang-Wei , thanks for tagging us. We will take a look.

[2022-08-30 16:34] wangchen615 commented on #422
@Telemaco019, thanks for raising this issue. If you are interested in contributing, let's have a follow-up discussion on k8s slack.

[2022-08-30 16:49] asm582 commented on #416
Thanks for coming back :)! No pods were actually scheduled. The Test minikube environment has only one node which is tainted, and the pods scheduled have no tolerations. In such a scenario co-scheduler does not create `taint` events. do you think the default scheduler and co-scheduler should fire the same event?

[2022-08-30 17:08] Huang-Wei commented on #416
How can pods without toleration be scheduled onto a tainted Node?

I'm a bit confused. If the pods mapping to a PodGroup doesn't meet the quorum, it should report an error like:

[code]
Events:
  Type     Reason            Age   From                         Message
  ----     ------            ----  ----                         -------
  Warning  FailedScheduling  23s   scheduler-plugins-scheduler

[2022-08-30 19:31] asm582 commented on #416
ok, got it, thanks, I don't have the setup ready yet to reproduce the issue. I did learn new things from the comments in the post. Please feel free to close this issue and I can always re-open the issue later.

[2022-08-30 22:07] Huang-Wei commented on #416
Sure, feel free to reopen if you can reproduce or create issues for new topics.

[2022-08-30 22:07] #416 closed

[2022-09-01 09:48] aNDREUET648 commented on #379
Hi @Huang-Wei , due to a series of problems with version 1.23 I have had to downgrade to tag version v0.21.6 and it works with my microk8s version 1.24 (i.e. API server v1.24 works with the v1.21 scheduler).

The Helm chart of tag v0.21.6 is the last version that allowed to include args in `profiles.pluginConfig`

I don't know why, in version 1.23 when I generated the internal group files of the c

[2022-09-01 17:47] #419 closed

[2022-09-01 17:47] Huang-Wei commented on #419
@lianghao208 could you help cherry-pick this to `release-1.23`?

[2022-09-02 03:44] lianghao208 commented on #419
@Huang-Wei Sure, working on it.

[2022-09-03 09:38] Telemaco019 opened #424 "[CapacityScheduling] ElasticQuota default value for "max" is zero"
Hello everyone,

When creating an `ElasticQuota` resource, if the "max" field is not provided then its default value is zero. Is this the intended behavior? Quoting [KEP 9 - Capacity Scheduling](https://github.com/kubernetes-sigs/scheduler-plugins/tree/master/kep/9-capacity-scheduling): "_Max is infinite by default, min is 0 by default_", so I was expecting the plugin to threat the max field as "i

[2022-09-08 21:50] Huang-Wei commented on #327
/reopen

[2022-09-09 02:36] helayoty commented on #331
/reopen

[2022-09-13 06:20] ccwingcode opened #426 "TargetLoadPacking initializing failed: invalid configuration: no configuration has been provided"
Kubernetes  1.23.7 with 3 master nodes, Scheduler Version :  0.23.10

Step 1:  install scheduler-plugins-controller
`kubectl apply -f all-in-one.yaml`

Step 2: provide /etc/kubernetes/scheduler-plugin-config.yaml on one master node
[code]

Step 3: modfiy /etc/kubernetes/manifests/kube-scheduler.yaml on the master node above
[code]

the kube-scheduler on the node above can't startup,  the following

[2022-09-15 21:19] Huang-Wei commented on #387
This issue is related with #110. Basically we should come up with heuristic mechanics to sort the group of pods smartly. This may not each to achieve without a proper PreQueue extension point in the scheduler framework.

Working on a KEP, and then will get back here to come up with a design to ensure regular Pods and PodGroup-associated pods are sorted fairly.

[2022-09-15 21:20] Huang-Wei commented on #110
#387 also mentioned the fairness issue. Basically we should come up with a heuristic mechanics to sort the group of pods smartly. This may not easy to achieve without a proper PreQueue extension point in the scheduler framework.

I'm working on a KEP, and once it's implemented, will get back here to come up with a design to ensure regular Pods and PodGroup-associated pods are sorted fairly.

[2022-09-15 21:20] Huang-Wei commented on #110
/remove-lifecycle rotten

[2022-09-16 14:11] zhiyxu opened #428 "[coscheduling] we should give distributed pod a chance to preempt if node resource is insufficient"
In coscheduling, when the node resource is insufficient to run the pod, it directly returns `UnschedulableAndUnresolvable` status in [PreFilter](https://github.com/kubernetes-sigs/scheduler-plugins/blob/master/pkg/coscheduling/coscheduling.go#L133), which causes the pod has no chance to preempt other low priority pods, maybe we could seperate different types of error in PreFilter?

[2022-09-16 22:47] Huang-Wei commented on #428
Hmm, I think I made a mistake in #370.

@zhiyxu could you help to revert #370, and after that, cherry-pick it to `release-1.23`?

[2022-09-19 06:23] zhiyxu commented on #428
According to my understanding, when there aren't [enough sibling pods](https://github.com/kubernetes-sigs/scheduler-plugins/blob/d831125ae12cee913bd2ad71d8a10e3776a478a4/pkg/coscheduling/core/core.go#L155), we do need to return `UnschedulableAndUnresolvable` and preemption could be meaningless.

Maybe we need to come up with a solution to separate these two sort of errors?

[2022-09-19 21:25] Huang-Wei commented on #428
@zhiyxu SG. Feel free to raise a PR separating the errors.

[2022-09-21 07:12] zhiyxu opened #429 "[coscheduling] Infinite scheduling loop of distributed tasks block all other pods"
Recently, we encountered some infinite scheduling loop issues when using Coscheduling in our production environment.

Suppose the following scenario, there are 3 instances of the distributed task, and each instance requires 4 GPU resources. The resources in the current cluster are as follows:

| Node  | Resource Left |
| ----- | ------------- |
| node1 | 6GPU          |
| node2 | 2GPU          |
|

[2022-09-22 04:34] Huang-Wei commented on #429
minResource is optional and pre-gates the group's res req in a best-efforts manner, so it's per design.

The root cause is two-folded:

1. One lies in the current impl. of QueueSort. We need to queue the PodGroup-associated pods fairly, rather than using a static creationTimestamp. But unfortunately, we may not come up with a promising solution until changing the scheduler framework to provide an

[2022-09-22 04:37] Huang-Wei commented on #429
Note that the 2nd cause is _not_ a regression of #408 - the `DeniedPG` wasn't involved in PostFilter either.

[2022-09-22 16:01] losha228 opened #430 "scheduler-plugins : Failed to watch *v1.CSIStorageCapacity"
I am trying to build a local image in master branch for scheduler by "make local-image", and install it as second scheduler.  I notice
the scheduler reporting errors "failed to list *v1.CSIStorageCapacity: the server could not find the requested resource".
I tested k8s.gcr.io/scheduler-plugins/kube-scheduler:v0.23.10 on the same k8s cluster, it works well, and not throw the "CSIStorageCapacity" er

[2022-09-22 16:39] Huang-Wei commented on #430
Given you run it as a secondary scheduler, you have to manage all the RBAC settings on your own. You can leverage the RBAC settings plumbed in the helm chart by: `helm install second-scheduler ./as-a-second-scheduler --dry-run > /tmp/second-scheduler.yaml`, and compare the RBAC portions with the live bits, and see what get missed.

[2022-09-22 23:52] losha228 commented on #430
do you mean it is due to RBAC setting ?  I use the same chart in /as-a-second-scheduler, all settings except image are the same.

[2022-09-23 00:29] Huang-Wei commented on #430
Then are you running different versions of API server and scheduler?

[2022-09-23 01:00] losha228 commented on #430
no, because I run it on the same k8s cluster, so I assume the API server is the same.

[2022-09-23 01:27] Huang-Wei commented on #430
The `master` branch is running against 1.24:

https://github.com/kubernetes-sigs/scheduler-plugins/blob/d831125ae12cee913bd2ad71d8a10e3776a478a4/go.mod#L24

Could you try switching to `release-1.23`, and rerun `make local-image` to see whether it works?

(If it works and you want to work on `master`, try to upgrade your API server to v1.24)

[2022-09-23 06:47] zhiyxu opened #431 "[Coscheduling] Repetitive preemption on low-priority Pods"
The test scenario is as follows, currently running 2 low-priority tasks, then submitting a distributed task of 2 instances, each instance requires 3GPU, and priority=100.

| Node  | Resource | Running Instance           |
| ----- | -------- | -------------------------- |
| node1 | 5GPU     | task-0（priority=0，3GPU） |
| node2 | 5GPU     | task-1（priority=0，3GPU） |
| node3 | 2GPU     |

[2022-09-23 07:09] zhiyxu commented on #428
If there are not enough resources in the cluster, and we allow distributed task to preempt other low-priority tasks, maybe all low-priority tasks are preempted, and they are preempted continuously, but distributed tasks still cannot run, which seems to be a more serious condition. @Huang-Wei

[2022-09-23 10:04] losha228 commented on #430
Finally, I  upgraded my k8s cluster to 1.24, and then use the local image built by master branch, it works now.  Thanks you for the help :) .

[2022-09-23 10:04] #430 closed

[2022-09-25 08:40] #369 closed

[2022-09-26 15:51] zhiyxu commented on #431
@Huang-Wei Do you have any suggestion on how to fix this issue, thanks in advance :-)

[2022-09-27 16:45] Huang-Wei commented on #394
/close

Duplicated with #430.

[2022-09-27 16:45] #394 closed

[2022-09-29 04:39] Huang-Wei commented on #431
The current scheduler framework's design offers extensions based on a single pod's scheduling. So the issue you mentioned could happen, as preemption/reservation is accomplished per-pod.

Adding a backoff in co-scheduling (https://github.com/kubernetes-sigs/scheduler-plugins/issues/429#issuecomment-1254515086) helps but cannot resolve it entirely.

Some ideas like [reservation-like API](https://do

[2022-10-05 01:59] husky-parul commented on #363
@Chenhait that's because `main.go` is located in `cmd/scheduler/main.go`

[2022-10-05 02:01] husky-parul commented on #365
@Chenhait It is because the version of kubernetes is not matching with the k8s api. try using `v1beta1`
Curious were you able to run trimaran plugin?

[2022-10-07 12:59] wintersolutions commented on #426
I think you are missing a 4 spaces/a tab in the file `/etc/kubernetes/scheduler-plugin-config.yaml` at `profiles` key. Here is mine for comparison:

    apiVersion: kubescheduler.config.k8s.io/v1beta2
    kind: KubeSchedulerConfiguration
    leaderElection:
      leaderElect: false
    profiles:
      - schedulerName: trimaran
        plugins:
          score:
            disabled:
              -

[2022-10-08 00:41] #358 closed

[2022-10-08 21:58] #327 closed

[2022-10-09 02:58] #331 closed

[2022-10-10 02:13] 0xff-dev opened #433 "Failed to install scheduler via helm, if namespace already exists"
If the namespace scheduler-plugins is created in advance, the installation will fail through the steps in [README](https://github.com/kubernetes-sigs/scheduler-plugins/tree/master/manifests/install/charts/as-a-second-scheduler).
[code]

[2022-10-11 22:44] wintersolutions opened #435 "[Trimaran] Potential misleading log output "Missing utilization for node""
I've tried Trimaran with TargetLoadPacking plugin with `KubernetesMetricsServer` and `Prometheus` metrics provider. No matter what I do I always see the log entry:

[code]

After looking at the code (as a complete Go amateur) I highly suspect that this log line is printed every time. No matter if `CPUUtilMillis` has a value and if its used for the calculation.

https://github.com/kubernetes-sigs/s

[2022-10-12 22:28] Huang-Wei commented on #394
@zffocussss you should use at least v1beta2 (which is also deprecated though) in v1.24 - v1beta1 has been removed entirely in v1.24.

[2022-10-13 05:51] #374 closed

[2022-10-15 15:34] AxeZhan opened #436 "The number of return values of `framework.NewPodInfo` in kubernetes / kubernetes has changed"
After [112219](https://github.com/kubernetes/kubernetes/pull/112219) got merged. We have to change our way to call `framework.NewPodInfo`.

**Before**
[code]

**now**
[code]

I think currently we only use this function in `pkg/coscheduling/coscheduling_test.go`. So this should be a small change.
I'll create a new function and relace old function with it in test files. Like I did in kubernetes repo

[2022-10-17 17:40] #375 closed

[2022-10-20 03:58] #368 closed

[2022-10-29 16:53] sftim opened #440 "Pod group label has invalid key"
https://github.com/kubernetes-sigs/scheduler-plugins/blob/66dabd41eb42dd6e96e1762c89cf96b4eff05bdd/pkg/coscheduling/README.md mentions a label:
`pod-group.scheduling.sigs.k8s.io`

This label doesn't follow the official format, which should be a DNS domain name, then `/`, then a key string.

For example: `scheduling.kubernetes.io/pod-group`.

This issue is to report that design bug and request that

[2022-10-29 16:54] sftim commented on #440
Once we fix this, we should file an issue about documenting the new valid label in https://kubernetes.io/docs/reference/labels-annotations-taints/

/kind bug

[2022-10-31 10:44] #379 closed

[2022-10-31 12:16] JingbenShi668 opened #441 "Failure: Install Scheduler-plugins as a single scheduler"
When I install Scheduler-plugins as a single scheduler by https://github.com/kubernetes-sigs/scheduler-plugins/blob/master/doc/install.md, I encountered the failure that the kube-scheduler pod in kube-system namespace are always in CrashLoopBackOff status.
<img width="858" alt="image" src="https://user-images.githubusercontent.com/39040502/199004679-cc6413eb-ebd8-41e2-8fbc-1a201a574d10.png">

Whil

[2022-10-31 15:02] #441 closed

[2022-11-02 02:07] zffocussss opened #442 "what is controllers used for?"
Hi team:
  I am putting my eyes on schedulers only.Curious about the sibling controllers in this repo.Can I just put the controllers aside?

https://github.com/kubernetes-sigs/scheduler-plugins/issues/442#tasklist-block-3d475b8a-57df-4157-9174-abaaec22436e

[2022-11-02 10:59] denkensk commented on #440
Thanks.
/assign

[2022-11-02 11:41] zhiyxu opened #443 "[Coscheduling] Issues about priority preemption"
Recently, we encountered some issues in the use of the Coscheduling plugin, most of which are related to priority and preemption, I want to give some feedbacks for those using this plugin, these issues are as follows:

- Issue 1: Distributed tasks are constantly scheduled and this totally block scheduling of other tasks. #429  (backoffQueue can solve this problem)
- Issue 2: Priority preemption is

[2022-11-02 15:59] asm582 opened #444 "podgroup termination for AI workloads"
Hello,

We would like to have a feature where if one of the pod(s) in podgroup has a crash then the entire podgroup should be terminated.

quick test to reproduce:

- apply podgroup:

[code]
- apply deployment
[code]
- Delete one of the pods and the deployment controller restarts a new pod

[code]

[2022-11-02 16:45] Huang-Wei commented on #444
@asm582 PodGroup doesn't act as an "owner" of the pods, it's more a composition relation. I think you can have a slim controller to watch unexpected pod deletion, and delete its sibling pods if you want.

[2022-11-02 18:04] Huang-Wei commented on #442
@zffocussss yes, you can. Controllers are not supposed to be an input of scheduling decisions. They're more reconciling the status and hence display the CR objects nicely. In other words, without controllers, scheduling still functions but the CR objects' state are not well-displayed.

[2022-11-03 13:06] damemi commented on #121
@zffocussss "in-tree" refers to the default set of plugins that are packaged with the kube-scheduler (https://github.com/kubernetes/kubernetes/tree/master/pkg/scheduler/framework/plugins). "out-of-tree" is any custom plugin that you build on your own

[2022-11-04 02:12] zffocussss commented on #121
@damemi
understood,thanks

[2022-11-04 04:13] zffocussss opened #445 "hack/update-codegen.sh is not useful"
Hi team:
  as I want to add a new out-of-tree plugin,after preparing the data structure, issuing hack/update-codegen.sh,no deepcopy is generated.can you help me?

[2022-11-06 18:32] JingbenShi668 commented on #445
You need to notice the storage location of your cloned repo. For example, if you attempt to generate code for your out-of-tree plugin in Linux environment, the cloned repo location should be like $GOPATH/src/sigs.k8s.io/scheduler-plugins.

In scheduler-plugins/hack/update-codegen.sh file, the prefix of the directory positions in bash command in the red location may be custom.
<img width="748" alt=

[2022-11-07 11:44] sshukun opened #446 "[Coscheduling] The status of PodGroup is not updated"
After installed Scheduler-plugins as a second scheduler using the Helm chart under `manifests/install/charts/as-a-second-scheduler`, I tried the Coscheduling plugins following the [community document](https://github.com/kubernetes-sigs/scheduler-plugins/blob/master/doc/install.md#test-coscheduling).

Although all the pods are in running state, the phase of PodGroup is still scheduling and the numb

[2022-11-08 01:32] Huang-Wei commented on #445
@zffocussss did you place your repo under GOPATH? and as @JingbenShi668 mentioned, you may need to tweak some literals in that script if you're running at a different folder.

[2022-11-08 06:48] zffocussss commented on #445
thanks,I will try as your advice

[2022-11-08 06:49] zffocussss commented on #445
@Huang-Wei no,I just put my repo in other place,without relation to go env.

[2022-11-08 08:53] nmathew opened #447 "noderesourcetopology : chance of race between default scheduler and TAS scheduler"
While running both default and TAS schedulers simultaneously(pods choose by specifying schedulerName in manifest), will it end up in any race condition? thus resulting in topologyaffinity error.

Because both default and TAS does accounting, with no synchronization.

Am I understood this wrongly?

[2022-11-08 08:54] nmathew commented on #447
@fromanirh

[2022-11-08 09:12] fromanirh commented on #447
Hi,
the basic premise is the set of nodes managed by the NUMA aware scheduler and the default scheduler should never overlap.
We are aware of some possible gaps/room for improvement in the current implementation and we are proposing [enhancements](https://github.com/kubernetes-sigs/scheduler-plugins/pull/315) [to address](https://github.com/kubernetes-sigs/scheduler-plugins/pull/437) [them](https:

[2022-11-08 09:18] nmathew commented on #447
If they are not overlapping then race will not occur. Thanks for the clarification.

[2022-11-08 09:20] fromanirh commented on #447
sure! I guess we can close this issue. Feel free to reopen if a followup is needed

[2022-11-08 09:20] fromanirh commented on #447
/close

[2022-11-08 20:37] atantawi commented on #357
/remove-lifecycle stale

[2022-11-11 14:48] asm582 opened #448 "Configure bin-packing in Helm chart"
Hello,

Any pointers on how to enable packing? I read kubernetes has [bin-packing](https://kubernetes.io/docs/concepts/scheduling-eviction/resource-bin-packing/#enabling-bin-packing-using-requestedtocapacityratio), how do we use such plugins in co-scheduler using helm commands?

[2022-11-11 14:49] asm582 commented on #448
@Huang-Wei Sorry for tagging, any pointers that you can share would be of great help, and do you think should packing be enabled by default?

[2022-11-14 22:26] #387 closed

[2022-11-16 06:59] ymwang7 opened #449 "scheduler-plugins-controller is not support leaderElection"

[2022-11-16 08:32] shinytang6 opened #450 "Scheduling become very slowly when enable preFilter plugin of coscheduling"
With coscheduling preFilter enabled:
[code]

After almost over one minute, the pods can be scheduled successfully.

Obviously, this is unacceptable. The reason for is that when scheduling the first pod of job, there is only one pods of the same podGroup in the cache, which is smaller than podgroup.minMember, resulting in scheduling failure in the first scheduling cycle, so have to wait another sch

[2022-11-16 08:47] shinytang6 commented on #450
@Huang-Wei @denkensk WDYT? l don't find much necessity to check minMember in coscheduling perfilter extension point

[2022-11-17 02:16] shinytang6 commented on #450
l am using k8s.gcr.io/scheduler-plugins/kube-scheduler:v0.22.6

[2022-11-17 02:17] Huang-Wei commented on #450
Ah, I see the message "last failed in 3s, deny", this deny mechanism was removed in #408, so upgrade to v0.23.10 should be good: https://github.com/kubernetes-sigs/scheduler-plugins/releases/tag/v0.23.10

[2022-11-17 02:20] Huang-Wei commented on #406
It's completed.

[2022-11-17 02:20] #406 closed

[2022-11-17 02:20] shinytang6 commented on #450
okay thanks! l will have a try

[2022-11-17 02:26] Huang-Wei commented on #448
Bin-packing can be achieved by configuring the in-tree `RequestedToCapacityRatio` plugin, generally, it should work using the following config:

[code]

Please note that it's tangant with enabling co-scheduling (or whatever other plugin) or not. It's just a standalone plugin that favors nodes with higher resource utilization than others.

I don't have cycles to look into how to reflect the config

[2022-11-17 02:32] Huang-Wei commented on #405
/remove-lifecycle stale

[2022-11-17 09:33] #450 closed

[2022-11-18 11:09] #386 closed

[2022-11-21 13:59] vcozzolino opened #451 "[Question] Problem migrating from algorithmSource to scheduler profiles."
I have been following this tutorial https://developer.ibm.com/articles/creating-a-custom-kube-scheduler/ to extend the basic Kubernetes scheduler with some extra decision logic.

After a lot of browsing trying to fix wrong Kind types, apiVersions etc.., I found out that the use of `algorithmSource` is deprecated for Kubernetes v1.19. What I'm using is the configuration below:

[code]

with policy:

[2022-11-23 08:03] zhiyxu opened #452 "[NodeResourceTopology] Question: Who is responsible for updating the CR NodeResourceTopology"
I used the NodeResourceTopologyMatch plugin for the first time and found it was not working as expected.
I have a node with 8GPU, each NUMA node has 4GPU. So I create CR as follows：

[code]

Then I create a deploy as follows, these 2 pods are allocated to different NUMA node:

[code]

There are currently 2GPU left in total, but distributed in different NUMA node. Then I create another deploy, whic

[2022-11-25 08:19] #391 closed

[2022-11-29 08:40] fromanirh commented on #452
Hi! A key prerequisite for `NodeResourceTopologyMatch` to work is to have always up to date `NodeResourceTopology` objects to make logic with. In the current code, the scheduler plugin depends on the freshness of the data. We have enhancements in progress (#437 and #439 ) to tolerate less frequent update.
The recommended approach to update the `NodeResourceTopology` objects is to deploy and config

[2022-11-30 02:36] #449 closed

[2022-11-30 02:37] ymwang7 commented on #449
solved